In [5]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd

In [6]:
#Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [7]:
#Creating engine
engine = create_engine(db_string)

In [16]:
#Reading clitics
clitics_data = pd.read_sql_table('clitics_and_postpositions_labelled', con=engine)
clitics_data.reset_index(drop=True, inplace=True)
clitics_data.drop(columns=["index", "Type", "NoSpaceAfter"], inplace=True)
clitics_data.rename(columns={"form":"key"}, inplace=True)
clitics_data["id"] = clitics_data["id"].str.replace('-','')
clitics_data.head()

              key id
0  இருக்கிறீர்கள்  0
1    இருக்கினறனர்  1
2      இருக்கிறது  2
3      இருக்கின்ற  3
4      காட்டிலும்  4

In [15]:
#Reading lemmas
lemmas_data = pd.read_sql_table('lemmas_labelled_with_names', con=engine)
lemmas_data.reset_index(drop=True, inplace=True)
lemmas_data.drop(columns=["index", "Type"], inplace=True)
lemmas_data.rename(columns={"lemma":"key"}, inplace=True)
lemmas_data.head()

            key    id
0        சென்னை  5000
1          ஸ்ரீ  5001
2  பெரும்புதூர்  5002
3        கிரீன்  5003
4        பீல்டு  5004

In [24]:
#Reading morphemes
morphemes_data = pd.read_sql_table('morphemes_labelled', con=engine)
morphemes_data.reset_index(drop=True, inplace=True)
morphemes_data.drop(columns=["index", "MorphemeSeparated", "Part of Speech", "Sub Part of Speech", "Case", "Tense", "Person", "Number", "Gender", "Negation"], inplace=True)
morphemes_data.rename(columns={"Morpheme":"key"}, inplace=True)
morphemes_data["id"] = morphemes_data["id"].str.replace('-','')
morphemes_data.head()

       key    id
0  க்கின்ற  2035
1  க்கின்ற  2035
2   ீர்கள்  2018
3   ார்கள்  2036
4   ார்கள்  2036

In [25]:
#Reading unidentified morphemes
unidentified_morphemes_data = pd.read_sql_table('unidentified_morphemes_with_names', con=engine)
unidentified_morphemes_data.reset_index(drop=True, inplace=True)
unidentified_morphemes_data.drop(columns=["index", "xpos", "xpos Regex"], inplace=True)
unidentified_morphemes_data.rename(columns={"Morpheme":"key"}, inplace=True)
unidentified_morphemes_data["id"] = unidentified_morphemes_data["id"].str.replace('-','')
unidentified_morphemes_data.head()

           key    id
0  க்கப்படுவத்  3154
1   ்றுவிட்டத்  3173
2   ரவிருப்பத்  3248
3   ட்டுக்கொள்  3170
4   ியிருப்பத்  3171

In [26]:
# Combining all logograms
frames = [clitics_data, lemmas_data, morphemes_data, unidentified_morphemes_data]
all_logograms = pd.concat(frames)
all_logograms.reset_index(inplace=True, drop=True)
all_logograms

                 key    id
0     இருக்கிறீர்கள்     0
1       இருக்கினறனர்     1
2         இருக்கிறது     2
3         இருக்கின்ற     3
4         காட்டிலும்     4
...              ...   ...
2483               ற  3078
2484               ட  3076
2485               ி  2037
2486               ன  2017
2487               ள  3037

[2488 rows x 2 columns]

In [28]:
all_logograms.to_sql(name ='all_logograms_with_names', con=engine)