In [1]:
# Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import numpy as np

In [2]:
#Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [3]:
#Creating engine
engine = create_engine(db_string)

In [4]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)

In [5]:
#Reading transformed tamil clitics dataframe
tamildataclitics = pd.read_sql_table('converted_clitics_tamil', con=engine)
tamildataclitics.drop(columns="index", inplace=True)
s = tamildataclitics.index1.sort_values().index
tamildataclitics = tamildataclitics.reindex(s)
tamildataclitics.reset_index(drop=True, inplace=True)
tamildataclitics.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0
1,1094,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3
4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4

In [6]:
#Reading transformed tamil lemma dataframe
tamildatalemma = pd.read_sql_table('converted_lemma_tamil', con=engine)
tamildatalemma.drop(columns="index", inplace=True )
s = tamildatalemma.index1.sort_values().index
tamildatalemma = tamildatalemma.reindex(s)
tamildatalemma.reset_index(drop=True, inplace=True)
tamildatalemma.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,அருகே,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [7]:
# Adding clitics and postpositions to lemma converte dataframe
ind = tamildataclitics[(tamildataclitics["upos"]=='C')|(tamildataclitics["upos"]=='D')|(tamildataclitics["upos"]=='P')|(tamildataclitics["upos"]=='Q')|(tamildataclitics["upos"]=='T')|(tamildataclitics["NoSpaceAfter"]==2.0)].index
tamildatalemma.loc[ind, ['form']] = tamildataclitics.loc[ind, ['form']]

In [8]:
# Reading morphemes
morphemelist = pd.read_sql_table('morphemes', con=engine)
morphemelist.drop(columns="index", inplace=True )
morphemelist.head()

  MorphemeSeparated Morpheme   xpos Regex  Morpheme continued
0                 ை        ை  (N.A..S...)                 NaN
1         {க,்,க,்}     க்க்  (N.D..S...)                 1.0
2         {க,்,க,ு}     க்கு  (N.D..S...)                 NaN
3             {க,ு}       கு  (N.D..S...)                 NaN
4           {க,ள,ு}      களு  (N.D..P...)                 NaN

In [9]:
# Cleaning up morpheme list

## Switching rows
row1 = morphemelist.loc[1]
row2 = morphemelist.loc[2]

morphemelist.loc[1] = row2
morphemelist.loc[2] = row1

morphemelist.loc[0, "xpos Regex"] = "(..A......)"
morphemelist.loc[1, "xpos Regex"] = "(..D......)"
morphemelist.loc[2, "xpos Regex"] = "(..D......)"
morphemelist.loc[3, "xpos Regex"] = "(..D......)"
morphemelist.loc[4, "xpos Regex"] = "(..D......)"
morphemelist.loc[5, "xpos Regex"] = "(..I......)"
morphemelist.loc[6, "xpos Regex"] = "(..G.*)"
morphemelist.loc[7, "xpos Regex"] = "(..G.*)"
morphemelist.loc[8, "xpos Regex"] = "(..L.*)"
morphemelist.loc[9, "xpos Regex"] = "(..L.*)"
morphemelist.loc[10, "xpos Regex"] = "(..S.*)"
morphemelist.loc[11, "xpos Regex"] = "(..S.*)"
morphemelist.loc[12, "xpos Regex"] = "(N....P...)"


row3 = morphemelist.loc[12]
morphemelist.loc[97] = row3
morphemelist.loc[97, "MorphemeSeparated"] = '{க,ள}'
morphemelist.loc[97, "Morpheme"] = "கள"

row4 = morphemelist.loc[1]
morphemelist.loc[98] = row4
morphemelist.loc[98, "MorphemeSeparated"] = '{க,்}'
morphemelist.loc[98, "Morpheme"] = "க்"
morphemelist.loc[98, "Morpheme continued"] = 1.0

morphemelist = morphemelist.append(morphemelist.loc[75:87, :])

morphemelist.reset_index(drop=True, inplace=True)

morphemelist.loc[100:110, "xpos Regex"] = '(Vt.......)'

morphemelist.loc[111, "xpos Regex"] = '(Vw.......)'

morphemelist.loc[112, "MorphemeSeparated"] = '{க,்,க,ி,ன,்,ற}'
morphemelist.loc[112, "Morpheme"]	= 'க்கின்ற'
morphemelist.loc[112, "xpos Regex"] = '(V..P3PH.)'

morphemelist.loc[113, "MorphemeSeparated"] = '{ன,ர,்}'
morphemelist.loc[113, "Morpheme"]	= 'னர்'
morphemelist.loc[113, "xpos Regex"] = '(V..P3PH.)'

In [10]:
#Assigning identifiers to each morpheme
morphemetoid = morphemelist['Morpheme'].unique()
morphemes_df = pd.DataFrame(morphemetoid,columns=['Morpheme'])
morphemes_df["id"] = morphemes_df.index
morphemes_df["id"] = morphemes_df["id"].apply(lambda x: x+4000)
morphemes_df["id"] = '-'+morphemes_df["id"].astype(str)
morphemes_df.tail()

   Morpheme     id
50       வர  -4050
51       கள  -4051
52        ப  -4052
53       க்  -4053
54      னர்  -4054

In [11]:
#Adding same id for morpheme with different spelling

inn = morphemes_df.loc[7, "id"]
morphemes_df.loc[30, "id"] = inn

ku = morphemes_df.loc[1, "id"]
morphemes_df.loc[2, "id"] = ku
morphemes_df.loc[3, "id"] = ku

tu = morphemes_df.loc[6, "id"]
morphemes_df.loc[41, "id"] = tu

kal = morphemes_df.loc[12, "id"]
morphemes_df.loc[51, "id"] = kal

kal = morphemes_df.loc[12, "id"]
morphemes_df.loc[4, "id"] = kal

kir = morphemes_df.loc[14, "id"]
morphemes_df.loc[16, "id"] = kir

nt = morphemes_df.loc[19, "id"]
morphemes_df.loc[47, "id"] = nt

tt = morphemes_df.loc[21, "id"]
morphemes_df.loc[23, "id"] = tt
morphemes_df.loc[43, "id"] = tt
morphemes_df.loc[48, "id"] = tt

d = morphemes_df.loc[22, "id"]
morphemes_df.loc[24, "id"] = d
morphemes_df.loc[42, "id"] = d
morphemes_df.loc[49, "id"] = d

kk = morphemes_df.loc[25, "id"]
morphemes_df.loc[26, "id"] = kk
morphemes_df.loc[53, "id"] = kk

pp = morphemes_df.loc[33, "id"]
morphemes_df.loc[52, "id"] = pp

kinr = morphemes_df.loc[35, "id"]
morphemes_df.loc[38, "id"] = kinr

In [12]:
#Adding morpheme ids to original morpheme database
modmorpheme_df = pd.merge(morphemelist, morphemes_df, on="Morpheme", how="left")

#Cleaning up morphemes more
modmorpheme_df.loc[58, "Morpheme"] = 'கின்ற'
modmorpheme_df.loc[58, "MorphemeSeparated"] ='{க,ி,ன,்,ற}'
modmorpheme_df.loc[6:7, "xpos Regex"] ='(..G......)'
modmorpheme_df.loc[8:9, "xpos Regex"] ='(..L......)'
modmorpheme_df.loc[10:11, "xpos Regex"] ='(..S......)'
modmorpheme_df.loc[98, "id"] =morphemes_df.loc[2, "id"]

In [13]:
#Sort in descending order by morpheme length so longer morphemes are replaced first in loop
s= modmorpheme_df.Morpheme.str.len().sort_values(ascending=False).index
modmorpheme_df = modmorpheme_df.reindex(s)
modmorpheme_df.reset_index(drop=True, inplace=True)

modmorpheme_df.head()

  MorphemeSeparated Morpheme   xpos Regex  Morpheme continued     id
0   {க,்,க,ி,ன,்,ற}  க்கின்ற   (V..P3PH.)                 NaN  -4035
1   {க,்,க,ி,ன,்,ற}  க்கின்ற   (V..P3PN.)                 NaN  -4035
2     {ீ,ர,்,க,ள,்}   ீர்கள்  (V...2S...)                 NaN  -4018
3     {ா,ர,்,க,ள,்}   ார்கள்   (V..P3PH.)                 NaN  -4036
4     {ா,ர,்,க,ள,்}   ார்கள்   (V..F3PH.)                 NaN  -4036

In [14]:
# Function to replace morpheme 
def getindex(form, morpheme, identifier):
    strObj = form
    try: 
        strObj = strObj.replace(morpheme, identifier)
        if strObj == strObj:
            return strObj
        else:
            return form
    except:
        return form

In [15]:
#Creating function to loop through morphemes and replace them where they occur
for index, row in modmorpheme_df.iterrows():

    #Grabbing regex and creating a temporary dataframe
    re = row["xpos Regex"]
    temp_df = tamildatalemma[tamildatalemma['xpos'].str.contains(rf'{re}')]
    temp_df["index"] = temp_df.index
    temp_df.reset_index(drop=True, inplace=True)

    #Getting morpheme and wingding to pass through getindex function
    morpheme = row["Morpheme"]
    identifier = row["id"]
    
    list = []
    indexlist = []
    for i in range(len(temp_df)):
        strObj = temp_df.loc[i, "form"]
        value = getindex(strObj, morpheme, identifier)
        ind = temp_df.loc[i, "index"]
        list.append(value)
        indexlist.append(ind)
    form_df = pd.DataFrame([indexlist, list])
    form_df = form_df.T
    form_df.rename(columns = {0: "index", 1:"form"}, inplace = True)
    form_df.set_index("index", inplace=True)

    #Adding the dataframe as a column to the temporary dataframe
    mask = tamildatalemma[tamildatalemma.index.isin(form_df.index)].index
    tamildatalemma.loc[mask, ['form']] = form_df.loc[:, ['form']]

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
<ipython-input-15-dd24ef04a581>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["index"] = temp_df.index

In [16]:
# Replacing double hyphens with one
tamildatalemma["form"] = tamildatalemma["form"].str.replace('--', '-')

# Capturing Unidentified morphemes and pronouns

In [17]:
#Read vowels
vowels = pd.read_sql_table('vowels', con=engine)
vowels.drop(columns="index", inplace=True)
vowels.reset_index(drop=True, inplace=True)
vowels_s = pd.Series(vowels['0'])
vowels.head()

   0
0  ஈ
1  ஐ
2  ஊ
3  ஓ
4  ஒ

In [18]:
#Adding numbers and hyphen to a list. Will ignore when function extracts unidentified morphemes
numbers = ['0', '1', '2', '3', '4', '5', '6' ,'7' ,'8', '9', '-']

In [19]:
#Replacing upper case with lower case vowels in dataset
for i in range(len(tamildatalemma)):
    if 'ஆ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('ஆ', 'ா')
    if 'இ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('இ', 'ி')
    if 'ஈ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('ஈ', 'ீ')
    if 'உ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('உ', 'ு')
    if 'ஊ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('ஊ', 'ூ')
    if 	'எ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('எ', 'ெ')
    if 'ஏ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('ஏ', 'ே')
    if 'ஐ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('ஐ','ை')
    if 'ஒ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('ஒ', 'ொ')
    if 'ஓ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('ஓ', 'ோ')
    if 'ஔ' in tamildatalemma.loc[i, "form"]:
        tamildatalemma.loc[i, "form"] = tamildatalemma.loc[i, "form"].replace('ஔ', 'ௌ')

In [20]:
#Creating consonant-vowel pairs dataframe
CV_df = pd.DataFrame(columns = ["CV"])
CV_df

Empty DataFrame
Columns: [CV]
Index: []

In [21]:
#Creating function to extract consonant-vowels pairs
for i in range(len(tamildatalemma["form"])):
    word = tamildatalemma.loc[i, "form"]
    #Reducing letters of the form 'a- ்-a' to 'a'
    for j in range(len(word)):
        try:
            if (word[j] == word[j+2]) and word[j+1]=='்':
                word = word[:j+1] + word[j+3 :]
        except:
            pass
    tamildatalemma.loc[i, "form"] = word
    tamildatalemma.loc[i, "form"] =''.join(word)
    #Adding pair list to CV_df
    for l in range(len(word)):
        try:
            pairs = []
            if (word[l] not in vowels_s.values) and (word[l] != '-') and (word[l] not in numbers) and (word[l+1] in vowels_s.values):
                pairs.append(word[l])
                pairs.append(word[l+1])
                pairs_str = ''.join(pairs)
                CV_df.loc[len(CV_df), "CV"] = pairs_str
        except:
            pass

In [22]:
#Dropping duplicates and checking length
CV_df["CV_str"] = CV_df["CV"].astype(str)
CV_df.drop_duplicates(subset="CV_str", inplace=True)
CV_df.reset_index(drop=True, inplace=True)
len(CV_df)

131

In [23]:
#Add hyphens and give identifier
CV_df["id"] = CV_df.index+5000
CV_df["id"] = '-'+CV_df["id"].astype(str)+'-'
CV_df.reset_index(drop=True, inplace=True)

In [24]:
#Modifying morpheme df to remove doubled letters and ்
modmodmorpheme_df = modmorpheme_df
for i in range(len(modmodmorpheme_df)):
    word = modmodmorpheme_df.loc[i, "Morpheme"]
    #Reducing letters of the form 'a- ்-a' to 'a'
    for j in range(len(word)):
        try:
            if (word[j] == word[j+2]) and word[j+1]=='்':
                word = word[:j+1] + word[j+3 :]
        except:
            pass
    modmodmorpheme_df.loc[i, "Morpheme"] = word
    modmodmorpheme_df.loc[i, "Morpheme"] =''.join(word)
    modmodmorpheme_df.loc[i, "Morpheme"] = modmodmorpheme_df.loc[i, "Morpheme"].replace('்', '')

In [25]:
#Adding morpheme identifiers to CV_df
for i in range(len(modmodmorpheme_df)):
    for j in range(len(CV_df)):
        if modmodmorpheme_df.loc[i, "Morpheme"] == CV_df.loc[j, "CV_str"]:
            CV_df.loc[j, "id"] = modmodmorpheme_df.loc[i, "id"]
CV_df["id"] = '-'+CV_df["id"].astype(str)+'-'
CV_df["id"] = CV_df["id"].str.replace('--', '-')

In [26]:
#Replacing CV pairs in dataframe
for j in range(len(tamildatalemma)):
    for i in range(len(CV_df)):
        if CV_df.loc[i, "CV_str"] in tamildatalemma.loc[j, "form"]:
            CV = CV_df.loc[i, "CV_str"]
            id = CV_df.loc[i, "id"]
            tamildatalemma.loc[j, "form"] = tamildatalemma.loc[j, "form"].replace(CV, id)

In [27]:
#Checking dataframe
tamildatalemma.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,-5000--5001-,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,1094,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,ஸ்-5002-,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,-5003--5004-ம்-5005--5006-ர-4008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,-5007--5002-ன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [28]:
#Creating VC_df
VC_df = pd.DataFrame(columns = ["VC"])
VC_df

Empty DataFrame
Columns: [VC]
Index: []

In [29]:
#Creating function to extract vowels-consonant pairs
for i in range(len(tamildatalemma["form"])):
    word = tamildatalemma.loc[i, "form"]
    #Adding pair list to VC_df
    for l in range(len(word)):
        try:
            pairs = []
            if (word[l] in vowels_s.values) and (word[l+1] not in vowels_s.values) and (word[l+1] not in numbers) and word[l+1] != '-':
                pairs.append(word[l])
                pairs.append(word[l+1])
                pairs_str = ''.join(pairs)
                VC_df.loc[len(VC_df), "VC"] = pairs_str
        except:
            pass

In [30]:
#Dropping duplicates and checking length
VC_df["VC_str"] = VC_df["VC"].astype(str)
VC_df.drop_duplicates(subset="VC_str", inplace=True)
VC_df.reset_index(drop=True, inplace=True)
len(VC_df)

46

In [31]:
#Add hyphens and give identifier
VC_df["id"] = VC_df.index+5000+len(CV_df)
VC_df["id"] = '-'+VC_df["id"].astype(str)+'-'
VC_df.reset_index(drop=True, inplace=True)

In [32]:
#Adding morpheme identifiers to VC_df
for i in range(len(modmodmorpheme_df)):
    for j in range(len(VC_df)):
        if modmodmorpheme_df.loc[i, "Morpheme"] == VC_df.loc[j, "VC_str"]:
            VC_df.loc[j, "id"] = modmodmorpheme_df.loc[i, "id"]
VC_df["id"] = '-'+VC_df["id"].astype(str)+'-'
VC_df["id"] = VC_df["id"].str.replace('--', '-')

In [33]:
#Replacing VC pairs in tamildatalemma
for j in range(len(tamildatalemma)):
    for i in range(len(VC_df)):
        if VC_df.loc[i, "VC_str"] in tamildatalemma.loc[j, "form"]:
            VC = VC_df.loc[i, "VC_str"]
            id = VC_df.loc[i, "id"]
            tamildatalemma.loc[j, "form"] = tamildatalemma.loc[j, "form"].replace(VC, id)

In [34]:
tamildatalemma.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,-5000--5001-,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,1094,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,ஸ்-5002-,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,-5003--5004-ம்-5005--5006-ர-4008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,-5007--5002-ன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [35]:
# Function to separate a string and store it into the form Separated column
def separator(input_df):
    input_df['formSeparated'] = np.nan
    input_df['formSeparated'] = input_df['formSeparated'].astype(object)
    for i in range(len(input_df)):
        word = input_df.loc[i, 'form']
        a = [ch for ch in word]
        b = np.empty(1, dtype=object)
        b[0] = a
        input_df.loc[i, 'formSeparated'] = b

In [36]:
#Calling function on tamildatalemma
separator(tamildatalemma)
tamildatalemma.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2,formSeparated
0,-5000--5001-,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6,"[-, 5, 0, 0, 0, -, -, 5, 0, 0, 1, -]"
1,1094,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5,"[1, 0, 9, 4]"
2,ஸ்-5002-,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4,"[ஸ, ், -, 5, 0, 0, 2, -]"
3,-5003--5004-ம்-5005--5006-ர-4008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11,"[-, 5, 0, 0, 3, -, -, 5, 0, 0, 4, -, ம, ், -, ..."
4,-5007--5002-ன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6,"[-, 5, 0, 0, 7, -, -, 5, 0, 0, 2, -, ன, ்]"

In [37]:
#Extracting leters from dataframe
letters = pd.Series(tamildatalemma['formSeparated'])
letters = letters.apply(pd.Series).stack()
letters_df = letters.to_frame(name='letters')
letters_df = letters_df.rename_axis(['index', 'index 2'])
letters_df = pd.DataFrame(letters_df["letters"].unique())
letters_df.head()

   0
0  -
1  5
2  0
3  1
4  9

In [38]:
#Creating "letters" to ignore
numbers2 = ['-', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '்', '.' , '|', ';', '"', '’', '‘', '?', ':', ',', '(', ')', '-' ]

In [39]:
# Removing "letters" to ignore
letters_df[0] = letters_df[0].apply(lambda x: [item for item in x if item not in set(numbers2)])

In [40]:
#Removing letters from list
for i in range(len(letters_df)):
    try:
        letters_df.loc[i, 0] = letters_df.loc[i, 0][0]
    except:
        pass

In [41]:
#Removing empty lists
letters_df = letters_df[(letters_df[0].str.len() != 0)]
letters_df.reset_index(drop=True, inplace=True)

In [42]:
#Adding identifiers to letters
letters_df["id"] = letters_df.index+5000+len(CV_df)+len(VC_df)
letters_df["id"] = '-'+letters_df["id"].astype(str)+'-'
letters_df.head()

   0      id
0  ஸ  -5177-
1  ம  -5178-
2  ர  -5179-
3  ன  -5180-
4  ல  -5181-

In [43]:
#Adding morpheme identifiers to letters
for i in range(len(modmodmorpheme_df)):
    for j in range(len(letters_df)):
        if modmodmorpheme_df.loc[i, "Morpheme"] == letters_df.loc[j, 0]:
            letters_df.loc[j, "id"] = modmodmorpheme_df.loc[i, "id"]
letters_df["id"] = '-'+letters_df["id"].astype(str)+'-'
letters_df["id"] = letters_df["id"].str.replace('--', '-')

In [44]:
#Replacing letters in lemma
for j in range(len(tamildatalemma)):
    for i in range(len(letters_df)):
        if letters_df.loc[i, 0] in tamildatalemma.loc[j, "form"]:
            letters = letters_df.loc[i, 0]
            id = letters_df.loc[i, "id"]
            tamildatalemma.loc[j, "form"] = tamildatalemma.loc[j, "form"].replace(letters, id)

In [45]:
#Remove ்
tamildatalemma["form"] = tamildatalemma["form"].str.replace('்', '')

In [50]:
#Replace hyphen and dot with just dot
tamildatalemma.loc[:, "form"] = tamildatalemma.loc[:, "form"].str.replace("\-\.", "-")

In [51]:
tamildatalemma.loc[:, "form"] = tamildatalemma.loc[:, "form"].str.rstrip('-')
tamildatalemma.loc[:, "form"] = tamildatalemma.loc[:, "form"].str.lstrip('-')

In [53]:
#Replace double hyphen with single hyphen
tamildatalemma.loc[:, "form"] = tamildatalemma.loc[:, "form"].str.replace('--', '-')

In [54]:
#Sending logosyllabic tamil to sql
tamildatalemma.to_sql(name ='logo_syllabic_tamil', con=engine)

In [ ]:
# Labelling morphemes table
modmorpheme_df.to_sql(name ='morphemes_labelled_step1', con=engine)

In [ ]:
CV_df.to_csv('Converted_Tamil/LogoSyllabic/CV_syllables.csv', encoding='utf-8-sig')

In [ ]:
VC_df.to_csv('Converted_Tamil/LogoSyllabic/VC_syllables.csv', encoding='utf-8-sig')

In [ ]:
letters_df.to_csv('Converted_Tamil/LogoSyllabic/C_V_syllables.csv', encoding='utf-8-sig')