In [40]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd

In [41]:
#Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [42]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)

In [43]:
pd.set_option('display.max_colwidth', None)

In [44]:
#Creating engine
engine = create_engine(db_string)

In [45]:
#Reading logosyllabic data
logosyl_data = pd.read_sql_table('logo_syllabic_tamil', con=engine)
logosyl_data.drop(columns="index", inplace=True)
s = logosyl_data.index1.sort_values().index
logosyl_data = logosyl_data.reindex(s)
logosyl_data.reset_index(drop=True, inplace=True)
logosyl_data.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2,formSeparated
0,5000-5001,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6,"{-,5,0,0,0,-,-,5,0,0,1,-}"
1,1094,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5,"{1,0,9,4}"
2,5177-5002,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4,"{ஸ,்,-,5,0,0,2,-}"
3,5003-5004-5178-5005-5006-4034-4008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11,"{-,5,0,0,3,-,-,5,0,0,4,-,ம,்,-,5,0,0,5,-,-,5,0,0,6,-,ர,-,4,0,0,8}"
4,5007-5002-4017,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6,"{-,5,0,0,7,-,-,5,0,0,2,-,ன,்}"

In [46]:
#Adding hyphens for connecting clitics
for i in range(len(logosyl_data)):
    if logosyl_data.loc[i, "NoSpaceAfter"]==2.0:
        logosyl_data.loc[i, "form"] = '-' + logosyl_data.loc[i, "form"]
    elif logosyl_data.loc[i, "NoSpaceAfter"]==3.0:
        logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] +'-'

In [47]:
# Determining number of times to iterate through the dataframe to connect the separated clitics to words
numberof2 = len(logosyl_data[logosyl_data["NoSpaceAfter"]==2.0])
numberof3 = len(logosyl_data[logosyl_data["NoSpaceAfter"]==3.0])
numberofrows = len(logosyl_data)
iterate = numberofrows - numberof2 - numberof3
iterate

8628

In [48]:
# Connecting separated clitics to the words
for i in range(iterate):
    try:
        if logosyl_data.loc[i+1, "NoSpaceAfter"]==2.0:
            if logosyl_data.loc[i+2, "NoSpaceAfter"]==2.0:
                if logosyl_data.loc[i+3, "NoSpaceAfter"]==2.0:
                    if logosyl_data.loc[i+4, "NoSpaceAfter"]==2.0:
                        logosyl_data.loc[i+3, "form"] = logosyl_data.loc[i+3, "form"] + logosyl_data.loc[i+4, "form"]
                        logosyl_data.drop(i+4, axis=0, inplace=True)
                        logosyl_data.loc[i+2, "form"] = logosyl_data.loc[i+2, "form"] + logosyl_data.loc[i+3, "form"]
                        logosyl_data.drop(i+3, axis=0, inplace=True)
                        logosyl_data.loc[i+1, "form"] = logosyl_data.loc[i+1, "form"] + logosyl_data.loc[i+2, "form"]
                        logosyl_data.drop(i+2, axis=0, inplace=True)
                        logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] + logosyl_data.loc[i+1, "form"]
                        logosyl_data.drop(i+1, axis=0, inplace=True)
                        logosyl_data.reset_index(drop=True, inplace=True)
                        
                    else:
                        logosyl_data.loc[i+2, "form"] = logosyl_data.loc[i+2, "form"] + logosyl_data.loc[i+3, "form"]
                        logosyl_data.drop(i+3, axis=0, inplace=True)
                        logosyl_data.loc[i+1, "form"] = logosyl_data.loc[i+1, "form"] + logosyl_data.loc[i+2, "form"]
                        logosyl_data.drop(i+2, axis=0, inplace=True)
                        logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] + logosyl_data.loc[i+1, "form"]
                        logosyl_data.drop(i+1, axis=0, inplace=True)
                        logosyl_data.reset_index(drop=True, inplace=True)
                else:
                    logosyl_data.loc[i+1, "form"] = logosyl_data.loc[i+1, "form"] + logosyl_data.loc[i+2, "form"]
                    logosyl_data.drop(i+2, axis=0, inplace=True)
                    logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] + logosyl_data.loc[i+1, "form"]
                    logosyl_data.drop(i+1, axis=0, inplace=True)
                    logosyl_data.reset_index(drop=True, inplace=True)
            else:
                logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] + logosyl_data.loc[i+1, "form"]
                logosyl_data.drop(i+1, axis=0, inplace=True)
                logosyl_data.reset_index(drop=True, inplace=True)
        elif logosyl_data.loc[i, "NoSpaceAfter"]==3.0:
            logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] + logosyl_data.loc[i+1, "form"]
            logosyl_data.drop(i+1, axis=0, inplace=True)
            logosyl_data.reset_index(drop=True, inplace=True)
            print(i)
    except KeyError:
        print(i)

167
266
294
2992
8627

In [49]:
# Creating sentences dataframe
sentence_df = pd.DataFrame(columns=['Sentence'])

In [50]:
# Combining the words into sentences
sentence = []
j = 0
for i in range(len(logosyl_data["form"])):
    if logosyl_data.loc[i, "xpos"]!= 'Z#-------':
        sentence.append(logosyl_data.loc[i, "form"])
    else:
        sentence.append(logosyl_data.loc[i, "form"])
        sentencestring = " ".join(sentence)
        sentence_df.loc[j, "Sentence"] = sentencestring
        sentence=[]
        j = j+1

In [52]:
#Sending logosyllabic sentences to sql
sentence_df.to_sql(name ='logo_syllabic_tamil_sentences', con=engine)

In [53]:
# Sending logosyllabic sentences to csv
sentence_df.to_csv('Converted_Tamil/LogoSyllabic/logo_syllabic_tamil_sentences.csv', encoding='utf-8-sig')

In [54]:
#Creating sentences with original words
tamildata = pd.read_sql_table('complete_tamil', con=engine)
tamildata.drop(columns="index", inplace=True)
s = tamildata.index1.sort_values().index
tamildata = tamildata.reindex(s)
tamildata.reset_index(drop=True, inplace=True)
tamildata.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0
1,அருகே,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3
4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4

In [55]:
# Connecting separated clitics to the words
for i in range(iterate):
    try:
        if tamildata.loc[i+1, "NoSpaceAfter"]==2.0:
            if tamildata.loc[i+2, "NoSpaceAfter"]==2.0:
                if tamildata.loc[i+3, "NoSpaceAfter"]==2.0:
                    if tamildata.loc[i+4, "NoSpaceAfter"]==2.0:
                        tamildata.loc[i+3, "form"] = tamildata.loc[i+3, "form"] + tamildata.loc[i+4, "form"]
                        tamildata.drop(i+4, axis=0, inplace=True)
                        tamildata.loc[i+2, "form"] = tamildata.loc[i+2, "form"] + tamildata.loc[i+3, "form"]
                        tamildata.drop(i+3, axis=0, inplace=True)
                        tamildata.loc[i+1, "form"] = tamildata.loc[i+1, "form"] + tamildata.loc[i+2, "form"]
                        tamildata.drop(i+2, axis=0, inplace=True)
                        tamildata.loc[i, "form"] = tamildata.loc[i, "form"] + tamildata.loc[i+1, "form"]
                        tamildata.drop(i+1, axis=0, inplace=True)
                        tamildata.reset_index(drop=True, inplace=True)
                        
                    else:
                        tamildata.loc[i+2, "form"] = tamildata.loc[i+2, "form"] + tamildata.loc[i+3, "form"]
                        tamildata.drop(i+3, axis=0, inplace=True)
                        tamildata.loc[i+1, "form"] = tamildata.loc[i+1, "form"] + tamildata.loc[i+2, "form"]
                        tamildata.drop(i+2, axis=0, inplace=True)
                        tamildata.loc[i, "form"] = tamildata.loc[i, "form"] + tamildata.loc[i+1, "form"]
                        tamildata.drop(i+1, axis=0, inplace=True)
                        tamildata.reset_index(drop=True, inplace=True)
                else:
                    tamildata.loc[i+1, "form"] = tamildata.loc[i+1, "form"] + tamildata.loc[i+2, "form"]
                    tamildata.drop(i+2, axis=0, inplace=True)
                    tamildata.loc[i, "form"] = tamildata.loc[i, "form"] + tamildata.loc[i+1, "form"]
                    tamildata.drop(i+1, axis=0, inplace=True)
                    tamildata.reset_index(drop=True, inplace=True)
            else:
                tamildata.loc[i, "form"] = tamildata.loc[i, "form"] + tamildata.loc[i+1, "form"]
                tamildata.drop(i+1, axis=0, inplace=True)
                tamildata.reset_index(drop=True, inplace=True)
        elif tamildata.loc[i, "NoSpaceAfter"]==3.0:
            tamildata.loc[i, "form"] = tamildata.loc[i, "form"] + tamildata.loc[i+1, "form"]
            tamildata.drop(i+1, axis=0, inplace=True)
            tamildata.reset_index(drop=True, inplace=True)
            print(i)
    except KeyError:
        print(i)

167
266
294
2992
8627

In [56]:
# Creating sentences dataframe
sentence_df = pd.DataFrame(columns=['Sentence'])

In [57]:
# Combining the words into sentences
sentence = []
j = 0
for i in range(len(tamildata["form"])):
    if tamildata.loc[i, "xpos"]!= 'Z#-------':
        sentence.append(tamildata.loc[i, "form"])
    else:
        sentence.append(tamildata.loc[i, "form"])
        sentencestring = " ".join(sentence)
        sentence_df.loc[j, "Sentence"] = sentencestring
        sentence=[]
        j = j+1

In [58]:
sentence_df.to_csv('Converted_Tamil/LogoSyllabic/Original_Tamil_Sentences.csv', encoding='utf-8-sig')

In [59]:
#Sending tamil sentences to sql
sentence_df.to_sql(name ='tamil_sentences', con=engine)