In [52]:
# Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import numpy as np

In [53]:
#Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [54]:
#Creating engine
engine = create_engine(db_string)

In [55]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)

In [56]:
#Reading transformed tamil clitics dataframe
tamildataclitics = pd.read_sql_table('converted_clitics_tamil', con=engine)
tamildataclitics.drop(columns="index", inplace=True)
s = tamildataclitics.index1.sort_values().index
tamildataclitics = tamildataclitics.reindex(s)
tamildataclitics.reset_index(drop=True, inplace=True)
tamildataclitics.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0
1,106,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3
4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4

In [57]:
#Reading transformed tamil lemma dataframe
tamildatalemma = pd.read_sql_table('converted_lemma_tamil', con=engine)
tamildatalemma.drop(columns="index", inplace=True )
s = tamildatalemma.index1.sort_values().index
tamildatalemma = tamildatalemma.reindex(s)
tamildatalemma.reset_index(drop=True, inplace=True)
tamildatalemma.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,அருகே,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [58]:
# Adding clitics and postpositions to lemma converte dataframe
ind = tamildataclitics[(tamildataclitics["upos"]=='C')|(tamildataclitics["upos"]=='D')|(tamildataclitics["upos"]=='P')|(tamildataclitics["upos"]=='Q')|(tamildataclitics["upos"]=='T')|(tamildataclitics["NoSpaceAfter"]==2.0)].index
tamildatalemma.loc[ind, ['form']] = tamildataclitics.loc[ind, ['form']]

In [59]:
# Reading morphemes
morphemelist = pd.read_sql_table('morphemes', con=engine)
morphemelist.drop(columns="index", inplace=True )
morphemelist.head()

  MorphemeSeparated Morpheme   xpos Regex  Morpheme continued
0                 ை        ை  (N.A..S...)                 NaN
1         {க,்,க,்}     க்க்  (N.D..S...)                 1.0
2         {க,்,க,ு}     க்கு  (N.D..S...)                 NaN
3             {க,ு}       கு  (N.D..S...)                 NaN
4           {க,ள,ு}      களு  (N.D..P...)                 NaN

In [60]:
# Cleaning up morpheme list

## Switching rows
row1 = morphemelist.loc[1]
row2 = morphemelist.loc[2]

morphemelist.loc[1] = row2
morphemelist.loc[2] = row1

morphemelist.loc[0, "xpos Regex"] = "(..A......)"
morphemelist.loc[1, "xpos Regex"] = "(..D......)"
morphemelist.loc[2, "xpos Regex"] = "(..D......)"
morphemelist.loc[3, "xpos Regex"] = "(..D......)"
morphemelist.loc[4, "xpos Regex"] = "(..D......)"
morphemelist.loc[5, "xpos Regex"] = "(..I......)"
morphemelist.loc[6, "xpos Regex"] = "(..G.*)"
morphemelist.loc[7, "xpos Regex"] = "(..G.*)"
morphemelist.loc[8, "xpos Regex"] = "(..L.*)"
morphemelist.loc[9, "xpos Regex"] = "(..L.*)"
morphemelist.loc[10, "xpos Regex"] = "(..S.*)"
morphemelist.loc[11, "xpos Regex"] = "(..S.*)"
morphemelist.loc[12, "xpos Regex"] = "(N....P...)"


row3 = morphemelist.loc[12]
morphemelist.loc[97] = row3
morphemelist.loc[97, "MorphemeSeparated"] = '{க,ள}'
morphemelist.loc[97, "Morpheme"] = "கள"

row4 = morphemelist.loc[1]
morphemelist.loc[98] = row4
morphemelist.loc[98, "MorphemeSeparated"] = '{க,்}'
morphemelist.loc[98, "Morpheme"] = "க்"
morphemelist.loc[98, "Morpheme continued"] = 1.0

morphemelist = morphemelist.append(morphemelist.loc[75:87, :])

morphemelist.reset_index(drop=True, inplace=True)

morphemelist.loc[100:110, "xpos Regex"] = '(Vt.......)'

morphemelist.loc[111, "xpos Regex"] = '(Vw.......)'

morphemelist.loc[112, "MorphemeSeparated"] = '{க,்,க,ி,ன,்,ற}'
morphemelist.loc[112, "Morpheme"]	= 'க்கின்ற'
morphemelist.loc[112, "xpos Regex"] = '(V..P3PH.)'

morphemelist.loc[113, "MorphemeSeparated"] = '{ன,ர,்}'
morphemelist.loc[113, "Morpheme"]	= 'னர்'
morphemelist.loc[113, "xpos Regex"] = '(V..P3PH.)'

In [61]:
#Assigning identifiers to each morpheme
morphemetoid = morphemelist['Morpheme'].unique()
morphemes_df = pd.DataFrame(morphemetoid,columns=['Morpheme'])
morphemes_df["id"] = morphemes_df.index
morphemes_df["id"] = morphemes_df["id"].apply(lambda x: x+1569)
morphemes_df["id"] = '-'+morphemes_df["id"].astype(str)
morphemes_df.tail()

   Morpheme     id
50       வர  -1619
51       கள  -1620
52        ப  -1621
53       க்  -1622
54      னர்  -1623

In [62]:
#Adding same id for morpheme with different spelling

inn = morphemes_df.loc[7, "id"]
morphemes_df.loc[30, "id"] = inn

ku = morphemes_df.loc[1, "id"]
morphemes_df.loc[2, "id"] = ku
morphemes_df.loc[3, "id"] = ku

tu = morphemes_df.loc[6, "id"]
morphemes_df.loc[41, "id"] = tu

kal = morphemes_df.loc[12, "id"]
morphemes_df.loc[51, "id"] = kal

kal = morphemes_df.loc[12, "id"]
morphemes_df.loc[4, "id"] = kal

kir = morphemes_df.loc[14, "id"]
morphemes_df.loc[16, "id"] = kir

nt = morphemes_df.loc[19, "id"]
morphemes_df.loc[47, "id"] = nt

tt = morphemes_df.loc[21, "id"]
morphemes_df.loc[23, "id"] = tt
morphemes_df.loc[43, "id"] = tt
morphemes_df.loc[48, "id"] = tt

d = morphemes_df.loc[22, "id"]
morphemes_df.loc[24, "id"] = d
morphemes_df.loc[42, "id"] = d
morphemes_df.loc[49, "id"] = d

kk = morphemes_df.loc[25, "id"]
morphemes_df.loc[26, "id"] = kk
morphemes_df.loc[53, "id"] = kk

pp = morphemes_df.loc[33, "id"]
morphemes_df.loc[52, "id"] = pp

kinr = morphemes_df.loc[35, "id"]
morphemes_df.loc[38, "id"] = kinr

In [63]:
#Adding morpheme ids to original morpheme database
modmorpheme_df = pd.merge(morphemelist, morphemes_df, on="Morpheme", how="left")

#Cleaning up morphemes more
modmorpheme_df.loc[58, "Morpheme"] = 'கின்ற'
modmorpheme_df.loc[58, "MorphemeSeparated"] ='{க,ி,ன,்,ற}'
modmorpheme_df.loc[6:7, "xpos Regex"] ='(..G......)'
modmorpheme_df.loc[8:9, "xpos Regex"] ='(..L......)'
modmorpheme_df.loc[10:11, "xpos Regex"] ='(..S......)'
modmorpheme_df.loc[76, "id"] ='(..S......)'=='001'

In [64]:
#Sort in descending order by morpheme length so longer morphemes are replaced first in loop
s= modmorpheme_df.Morpheme.str.len().sort_values(ascending=False).index
modmorpheme_df = modmorpheme_df.reindex(s)
modmorpheme_df.reset_index(drop=True, inplace=True)

modmorpheme_df.head()

  MorphemeSeparated Morpheme   xpos Regex  Morpheme continued     id
0   {க,்,க,ி,ன,்,ற}  க்கின்ற   (V..P3PH.)                 NaN  -1604
1   {க,்,க,ி,ன,்,ற}  க்கின்ற   (V..P3PN.)                 NaN  -1604
2     {ீ,ர,்,க,ள,்}   ீர்கள்  (V...2S...)                 NaN  -1587
3     {ா,ர,்,க,ள,்}   ார்கள்   (V..P3PH.)                 NaN  -1605
4     {ா,ர,்,க,ள,்}   ார்கள்   (V..F3PH.)                 NaN  -1605

In [65]:
# Function to replace morpheme 
def getindex(form, morpheme, identifier):
    strObj = form
    try: 
        strObj = strObj.replace(morpheme, identifier)
        if strObj == strObj:
            return strObj
        else:
            return form
    except:
        return form

In [66]:
#Creating function to loop through morphemes and replace them where they occur
for index, row in modmorpheme_df.iterrows():

    #Grabbing regex and creating a temporary dataframe
    re = row["xpos Regex"]
    temp_df = tamildatalemma[tamildatalemma['xpos'].str.contains(rf'{re}')]
    temp_df["index"] = temp_df.index
    temp_df.reset_index(drop=True, inplace=True)

    #Getting morpheme and wingding to pass through getindex function
    morpheme = row["Morpheme"]
    identifier = row["id"]
    
    list = []
    indexlist = []
    for i in range(len(temp_df)):
        strObj = temp_df.loc[i, "form"]
        value = getindex(strObj, morpheme, identifier)
        ind = temp_df.loc[i, "index"]
        list.append(value)
        indexlist.append(ind)
    form_df = pd.DataFrame([indexlist, list])
    form_df = form_df.T
    form_df.rename(columns = {0: "index", 1:"form"}, inplace = True)
    form_df.set_index("index", inplace=True)

    #Adding the dataframe as a column to the temporary dataframe
    mask = tamildatalemma[tamildatalemma.index.isin(form_df.index)].index
    tamildatalemma.loc[mask, ['form']] = form_df.loc[:, ['form']]

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
<ipython-input-66-dd24ef04a581>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["index"] = temp_df.index

In [67]:
# Replacing double hyphens with one
tamildatalemma["form"] = tamildatalemma["form"].str.replace('--', '-')

In [68]:
#Created a dataframe without proper nouns, pronouns and punctuations. (To capture unidentified morphemes)
re = '(.E......)'
letter_df = tamildatalemma[(~tamildatalemma['xpos'].str.contains(rf'{re}'))&(tamildatalemma["upos"]!='R')&(tamildatalemma["upos"]!='Z')]
letter_df.reset_index(inplace=True, drop=True)

In [69]:
#Adding numbers to a list. Will ignore when function extracts unidentified morphemes
numbers = ['0', '1', '2', '3', '4', '5', '6' ,'7' ,'8', '9']

In [70]:
#Creating an unidentified morpheme dataframe
unidentified_morph_df = pd.DataFrame(columns = ["Morpheme", "xpos", "id"])
unidentified_morph_df

Empty DataFrame
Columns: [Morpheme, xpos, id]
Index: []

In [71]:
#Making a loop to extract unidentified morphemes
for index, row in letter_df.iterrows(): 
    morphe = []
    morph=''
    a = row["form"]
    try:
        for i in range(len(a)):
                if a[i] not in numbers:
                    morphe.append(a[i])
                    morph = ''.join(morphe)
                    if a[i+1]=='-':
                        break
    except:
        print(row["index1"])
    length = len(unidentified_morph_df)
    unidentified_morph_df.loc[length, "Morpheme"] = morph
    unidentified_morph_df.loc[length, "xpos Regex"] = row["xpos"]

17
18
26
30
36
38
39
42
49
52
56
72
78
80
94
104
112
115
130
134
138
139
141
143
145
161
163
165
167
170
172
174
182
189
190
196
198
201
205
211
214
216
224
236
243
245
246
256
261
262
266
271
274
278
281
285
292
296
307
312
317
318
320
326
330
332
336
346
348
350
351
357
370
372
378
386
392
405
407
413
421
426
436
450
458
465
478
483
488
498
499
501
502
504
508
517
522
525
528
531
537
547
553
563
564
565
571
574
581
591
596
599
612
618
620
622
632
638
640
643
651
656
658
667
694
698
718
720
726
733
738
741
744
758
762
770
773
778
792
820
830
831
845
849
855
857
867
869
875
876
890
893
900
901
907
908
909
913
914
918
919
921
924
926
933
939
952
961
965
970
978
982
983
989
1027
1037
1047
1055
1065
1071
1079
1088
1103
1106
1112
1113
1117
1123
1126
1127
1131
1142
1143
1150
1153
1161
1164
1166
1169
1175
1181
1183
1184
1186
1188
1189
1198
1199
1212
1214
1219
1220
1223
1225
1229
1234
1236
1245
1248
1257
1265
1268
1270
1274
1279
1282
1293
1307
1310
1311
1317
1320
1330
1332
1333
1334
1338
1354
1359
1361
1371
1382
1384
1396
1406
1410
1418
1427
1428
1432
1434
1441
1453
1456
1457
1459
1461
1466
1480
1481
1483
1489
1493
1501
1511
1512
1514
1524
1533
1534
1535
1547
1561
1571
1572
1574
1582
1597
1609
1613
1623
1633
1638
1642
1658
1667
1671
1677
1691
1692
1696
1699
1708
1713
1714
1723
1732
1735
1738
1746
1752
1753
1763
1764
1769
1772
1775
1785
1788
1795
1798
1809
1811
1814
1824
1830
1831
1855
1859
1866
1874
1878
1887
1894
1900
1906
1907
1920
1923
1931
1937
1942
1946
1954
1961
1963
1972
1974
1981
1983
1989
1991
1997
1999
2003
2007
2014
2018
2019
2023
2027
2028
2032
2034
2040
2042
2053
2054
2058
2064
2066
2077
2091
2099
2108
2114
2126
2130
2142
2146
2153
2155
2156
2165
2172
2175
2204
2225
2229
2230
2239
2244
2259
2263
2282
2292
2297
2302
2307
2314
2317
2318
2327
2333
2350
2355
2356
2359
2362
2376
2384
2385
2395
2399
2404
2409
2410
2418
2426
2431
2456
2460
2469
2482
2489
2490
2494
2503
2512
2528
2537
2538
2539
2546
2548
2559
2564
2573
2576
2577
2584
2590
2599
2603
2616
2621
2628
2634
2639
2640
2646
2650
2660
2665
2673
2681
2708
2726
2734
2743
2747
2751
2757
2763
2766
2770
2776
2778
2782
2789
2796
2807
2810
2813
2818
2828
2835
2840
2842
2845
2848
2851
2852
2855
2869
2877
2883
2887
2888
2891
2893
2894
2898
2918
2924
2925
2926
2928
2940
2952
2954
2960
2972
2984
2985
2987
2992
2997
3007
3027
3037
3043
3048
3058
3068
3071
3075
3084
3085
3092
3104
3109
3113
3122
3132
3138
3140
3143
3153
3182
3188
3202
3208
3213
3216
3229
3239
3246
3251
3263
3265
3266
3275
3276
3278
3286
3290
3306
3320
3326
3339
3342
3348
3353
3359
3362
3369
3378
3388
3389
3391
3401
3407
3411
3413
3430
3434
3450
3454
3456
3462
3468
3488
3510
3511
3522
3529
3530
3549
3551
3564
3566
3569
3576
3580
3589
3593
3594
3596
3597
3598
3602
3603
3605
3609
3616
3622
3628
3637
3644
3652
3653
3661
3668
3675
3681
3687
3690
3692
3701
3703
3704
3705
3717
3724
3735
3737
3741
3743
3751
3753
3757
3758
3759
3762
3769
3771
3780
3783
3788
3794
3798
3802
3810
3814
3820
3822
3824
3826
3828
3835
3843
3846
3850
3852
3854
3863
3878
3879
3880
3887
3895
3898
3899
3912
3916
3919
3923
3932
3939
3941
3955
3960
3967
3971
3977
3985
3986
3990
3992
3999
4012
4015
4022
4025
4029
4048
4052
4060
4075
4083
4091
4104
4106
4118
4120
4121
4125
4130
4136
4142
4149
4151
4160
4169
4176
4178
4184
4185
4187
4189
4198
4201
4204
4210
4214
4221
4226
4230
4238
4250
4263
4270
4280
4289
4296
4300
4304
4318
4322
4327
4340
4345
4349
4394
4405
4414
4415
4422
4425
4427
4440
4441
4448
4452
4468
4473
4475
4478
4510
4512
4515
4516
4520
4521
4524
4531
4547
4553
4564
4571
4576
4589
4600
4605
4611
4617
4628
4629
4646
4647
4659
4663
4664
4671
4673
4679
4687
4689
4692
4698
4703
4708
4711
4719
4727
4731
4737
4742
4743
4749
4753
4755
4756
4759
4770
4773
4775
4778
4780
4782
4798
4800
4808
4809
4828
4837
4842
4851
4854
4856
4858
4867
4887
4895
4897
4906
4907
4909
4912
4915
4918
4921
4934
4938
4941
4947
4950
4951
4956
4957
4975
4977
4983
4989
4990
4992
4997
5003
5006
5007
5009
5014
5015
5017
5018
5019
5024
5030
5039
5040
5054
5057
5073
5075
5080
5081
5092
5096
5103
5109
5125
5136
5137
5139
5142
5146
5152
5153
5165
5173
5175
5200
5206
5232
5238
5239
5242
5283
5286
5290
5293
5297
5308
5310
5311
5316
5323
5324
5332
5333
5338
5339
5344
5347
5348
5350
5351
5356
5365
5369
5371
5378
5382
5385
5390
5395
5400
5405
5406
5415
5425
5430
5440
5449
5454
5467
5471
5473
5479
5484
5488
5489
5500
5505
5506
5517
5528
5532
5538
5539
5544
5550
5554
5555
5568
5573
5575
5577
5586
5591
5593
5596
5601
5606
5613
5620
5626
5630
5646
5657
5660
5662
5668
5670
5686
5693
5711
5712
5714
5716
5718
5719
5724
5729
5735
5737
5739
5740
5742
5750
5753
5757
5760
5771
5772
5774
5778
5788
5800
5802
5804
5815
5819
5820
5822
5827
5831
5846
5860
5877
5885
5890
5891
5897
5906
5913
5929
5940
5955
5963
5966
5969
5974
5983
5996
6013
6018
6022
6023
6025
6037
6038
6039
6042
6046
6051
6057
6058
6061
6066
6067
6069
6070
6075
6078
6080
6087
6089
6091
6092
6101
6107
6115
6125
6131
6135
6141
6146
6160
6166
6173
6174
6175
6180
6181
6183
6184
6189
6190
6191
6195
6202
6205
6208
6209
6215
6218
6222
6226
6232
6236
6239
6241
6249
6251
6258
6264
6269
6270
6272
6300
6301
6302
6304
6308
6312
6316
6317
6322
6323
6326
6340
6342
6343
6347
6352
6362
6363
6366
6368
6380
6394
6410
6420
6426
6429
6432
6436
6442
6446
6448
6452
6457
6460
6462
6463
6464
6467
6485
6492
6496
6513
6533
6536
6538
6541
6546
6547
6560
6569
6577
6588
6591
6599
6609
6618
6622
6637
6642
6643
6646
6649
6654
6655
6656
6666
6667
6679
6681
6686
6689
6695
6705
6714
6733
6734
6740
6762
6781
6785
6790
6792
6808
6810
6813
6818
6822
6823
6825
6827
6829
6840
6854
6858
6865
6869
6876
6884
6888
6895
6899
6910
6923
6927
6931
6939
6942
6945
6946
6948
6949
6958
6961
6967
6968
6971
6972
6976
6980
6983
6986
6987
6992
6993
6997
7001
7002
7003
7007
7011
7022
7023
7024
7033
7035
7039
7044
7048
7063
7067
7076
7078
7081
7093
7095
7096
7105
7110
7131
7134
7144
7153
7162
7174
7177
7178
7184
7185
7197
7198
7212
7213
7222
7227
7230
7232
7233
7240
7246
7248
7260
7267
7269
7270
7278
7279
7282
7291
7306
7319
7332
7335
7343
7345
7352
7353
7358
7361
7364
7385
7394
7404
7408
7413
7423
7428
7435
7438
7450
7459
7462
7481
7499
7502
7505
7506
7510
7514
7523
7525
7526
7535
7545
7546
7547
7561
7565
7571
7572
7578
7581
7597
7605
7606
7611
7612
7613
7623
7626
7637
7642
7644
7650
7653
7656
7657
7661
7666
7686
7687
7690
7703
7708
7711
7713
7724
7742
7746
7752
7755
7780
7785
7790
7794
7798
7800
7802
7804
7806
7816
7817
7822
7831
7833
7843
7849
7851
7871
7872
7896
7899
7903
7907
7911
7913
7914
7918
7926
7929
7939
7941
7957
7963
7969
7977
7999
8025
8035
8039
8044
8048
8059
8062
8063
8065
8076
8077
8080
8086
8087
8090
8097
8100
8104
8111
8117
8118
8126
8141
8144
8146
8148
8152
8159
8161
8165
8186
8188
8196
8197
8200
8208
8211
8213
8215
8219
8231
8232
8238
8248
8250
8264
8270
8285
8301
8309
8314
8316
8324
8332
8337
8345
8357
8367
8372
8382
8383
8391
8394
8406
8416
8429
8430
8433
8444
8448
8459
8469
8484
8487
8491
8493
8506
8509
8515
8526
8530
8544
8551
8558
8560
8561
8562
8563
8574
8578
8585
8591
8592
8598
8600
8610
8615
8621
8628
8629
8636
8638
8642
8643
8650
8651
8659
8662
8663
8666
8671
8672
8673
8684
8685
8692
8694
8697
8702
8710
8716
8727
8736
8740
8754
8755
8762
8769
8772
8779
8780
8785
8786
8790
8791
8793
8799
8811
8812
8837
8838
8841
8861
8876
8883
8884
8898
8904
8908
8912
8915
8918
8922
8932
8937
8938
8944
8945
8955
8961
8965
8966
8974
8976
8978
8979
8989
8996
9006
9011
9017
9021
9025
9055
9060
9061
9070
9072
9083
9093
9104
9107
9110
9117
9120
9123
9127
9128
9142
9156
9161
9168
9169
9180
9182
9185
9198
9201
9207
9208
9210
9216
9219
9238
9239
9242
9244
9245
9247
9249
9253
9255
9263
9265
9272
9273
9276
9280
9285
9293
9295
9300
9305
9310
9311
9318
9335
9348
9357
9359
9363
9364
9369
9371
9382
9385
9397
9404
9406
9409
9415
9416
9419
9421
9429
9430
9435
9443
9448
9450
9456
9457
9460
9463
9464
9478
9483
9486
9492
9498
9499
9516
9523
9526
9531
9543
9545
9554
9556
9559
9563
9565
9567
9570
9576

In [72]:
# Refining unidentied morpehemes dataframe
unidentified_morph_df.drop_duplicates(subset='Morpheme', inplace=True)
unidentified_morph_df.reset_index(drop=True, inplace=True)

## Creating index
unidentified_morph_df["id"] = unidentified_morph_df.index+2000
unidentified_morph_df["id"] ='-'+unidentified_morph_df["id"].astype(str)

## Removing hyphen and dropping dupicates
unidentified_morph_df["Morpheme"]=unidentified_morph_df["Morpheme"].str.replace('-', '')	
unidentified_morph_df.drop_duplicates(subset='Morpheme', inplace=True)

## Sorting in descending order
s= unidentified_morph_df.Morpheme.str.len().sort_values(ascending=False).index
unidentified_morph_df = unidentified_morph_df.reindex(s)
unidentified_morph_df.reset_index(drop=True, inplace=True)

## Dropping empty morpheme columns
unidentified_morph_df.drop(232, axis=0, inplace=True)
unidentified_morph_df.head()

      Morpheme xpos     id xpos Regex
0  க்கப்படுவத்  NaN  -2144  VzNF3SNAA
1   ியிருப்பத்  NaN  -2163  VZNF3SNAA
2   ட்டுக்கொள்  NaN  -2162  Vr-P1SAAA
3   ்றுவிட்டத்  NaN  -2165  VZND3SNAA
4   ரவிருப்பத்  NaN  -2238  VzNF3SNAA

In [73]:
# Adding same id for unidentified morphemes that appear in identified morphemes table
for i in range(len(unidentified_morph_df)):
    for j in range(len(modmorpheme_df)):
        if unidentified_morph_df.loc[i, "Morpheme"] == modmorpheme_df.loc[j, "Morpheme"]:
            unidentified_morph_df.loc[i, "id"] = modmorpheme_df.loc[j, "id"] 


unidentified_morph_df.loc[102, "id"] = '-1609'
unidentified_morph_df.head()

      Morpheme xpos     id xpos Regex
0  க்கப்படுவத்  NaN  -2144  VzNF3SNAA
1   ியிருப்பத்  NaN  -2163  VZNF3SNAA
2   ட்டுக்கொள்  NaN  -2162  Vr-P1SAAA
3   ்றுவிட்டத்  NaN  -2165  VZND3SNAA
4   ரவிருப்பத்  NaN  -2238  VzNF3SNAA

In [74]:
# Replacing unidentied morphemes with their ids in filtered dataframe
for i in range(len(unidentified_morph_df["Morpheme"])):
    letter_df["form"] = letter_df["form"].str.replace(unidentified_morph_df["Morpheme"][i], unidentified_morph_df["id"][i])

<ipython-input-74-336f2971ac40>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  letter_df["form"] = letter_df["form"].str.replace(unidentified_morph_df["Morpheme"][i], unidentified_morph_df["id"][i])

In [75]:
# Adding values of filtered dataframe into main dataframe
letter_df.index = letter_df["index1"] 
mask = tamildatalemma[tamildatalemma.index.isin(letter_df["index1"])].index
tamildatalemma.loc[mask, ['form']] = letter_df.loc[:, ['form']]

In [76]:
#Filtering dataframe for proper nouns and pronouns
re = '(.E......)'
name_df = tamildatalemma[(tamildatalemma['xpos'].str.contains(rf'{re}'))|(tamildatalemma["upos"]=='R')]
name_df.reset_index(inplace=True, drop=True)
name_df.head()

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
2,பெரும்புதூர-1577,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
3,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6
4,பீல்டு,பீல்டு,N,NEN-3SN--,11,,0.0,0,"{ப,ீ,ல,்,ட,ு}",5,6

In [77]:
# Function to separate a string and store it into the form Separated column
def separator(input_df):
    input_df['formSeparated'] = np.nan
    input_df['formSeparated'] = input_df['formSeparated'].astype(object)
    for i in range(len(input_df)):
        word = input_df.loc[i, 'form']
        a = [ch for ch in word]
        b = np.empty(1, dtype=object)
        b[0] = a
        input_df.loc[i, 'formSeparated'] = b

In [78]:
#Making a list of all the letters that appear in proper nouns and pronouns dataframe
separator(name_df)
columns = ['index1', 'index2']
letters = pd.Series(name_df['formSeparated'])
letters = letters.apply(pd.Series).stack()
letters_df = letters.to_frame(name='letters')
letters_df = letters_df.rename_axis(['index', 'index 2'])

letters_df["letters"].unique()

<ipython-input-77-d8d2811d6f38>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df['formSeparated'] = np.nan
<ipython-input-77-d8d2811d6f38>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df['formSeparated'] = input_df['formSeparated'].astype(object)
C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\indexing.py:1760: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

array(['ச', 'ெ', 'ன', '்', 'ை', 'ஸ', 'ர', 'ீ', 'ப', 'ு', 'ம', 'த', 'ூ',
       '-', '1', '5', '7', 'க', 'ி', 'ல', 'ட', 'ய', 'ா', '0', 'ண', 'ந',
       '2', '8', '6', 'ொ', '4', '9', 'அ', 'ஜ', '.', '3', 'வ', 'ோ', 'ள',
       'ங', 'ழ', 'ற', 'இ', 'ே', 'ஷ', 'ஆ', 'எ', 'ஐ', 'ஹ', 'ஃ', 'ஒ', 'ஈ',
       'ஏ', 'ஞ', 'உ', 'ஓ', 'û', 'H', 'C', 'ô'], dtype=object)

In [79]:
#Making a dataframe of unique letters
letters = ['ச', 'ெ', 'ன', '்', 'ை', 'ஸ', 'ர', 'ீ', 'ப', 'ு', 'ம', 'த', 'ூ',
        'க', 'ி', 'ல', 'ட', 'ய', 'ா', 'ண', 'ந',
        'ொ', 'அ', 'ஜ', 'வ', 'ோ', 'ள',
       'ங', 'ழ', 'ற', 'இ', 'ே', 'ஷ', 'ஆ', 'எ', 'ஐ', 'ஹ', 'ஃ', 'ஒ', 'ஈ',
       'ஏ', 'ஞ', 'உ', 'ஓ', 'û', 'H', 'C', 'ô']
columns = ["letter", "id"]
letter_df2 = pd.DataFrame(columns = columns)
letter_df2["letter"] = letters
letter_df2["id"] = letter_df2.index+3000
letter_df2["id"] = '-'+letter_df2["id"].astype(str)
letter_df2["letter"] = letter_df2["letter"].astype(str)
letter_df2.head()

  letter     id
0      ச  -3000
1      ெ  -3001
2      ன  -3002
3      ்  -3003
4      ை  -3004

In [80]:
#Replacing ids of letters that appear in identified morphemes table
for i in range(len(letter_df2)):
    for j in range(len(modmorpheme_df)):
        if letter_df2.loc[i, "letter"] == modmorpheme_df.loc[j, "Morpheme"]:
                letter_df2.loc[i, "id"] = modmorpheme_df.loc[j, "id"] 
                
letter_df2.head()

  letter     id
0      ச  -3000
1      ெ  -3001
2      ன  -1586
3      ்  -3003
4      ை  -1569

In [81]:
# Replacing letters with their identifiers in filtered dataframe
for i in range(len(letter_df2["letter"])):
    name_df["form"] = name_df["form"].str.replace(letter_df2["letter"][i], letter_df2["id"][i])

<ipython-input-81-23f6a41ba549>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_df["form"] = name_df["form"].str.replace(letter_df2["letter"][i], letter_df2["id"][i])

In [82]:
# Removing hyphen at the start of each letter in filtered dataframe
for i in range(len(name_df.form)):
    name_df.form[i] = name_df.form[i][1:]
name_df.index = name_df["index1"]

<ipython-input-82-64f77ec904ee>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_df.form[i] = name_df.form[i][1:]
C:\Users\keetu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [83]:
# Adding results of filtered dataframe into main dataframe
mask = tamildatalemma[tamildatalemma.index.isin(name_df["index1"])].index
tamildatalemma.loc[mask, ['form']] = name_df.loc[:, ['form']]

In [84]:
# Replacing double hyphens with single hyphen
tamildatalemma["form"] = tamildatalemma["form"].str.replace('--', '-')
tamildatalemma.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,3000-3001-1586-3003-1586-1569,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,106,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,3005-3003-3006-3007,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,1602-3001-3006-3009-3010-3003-1602-3009-1590-3...,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,1594-1606-3006-3007-1586-3003,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [85]:
#Sending logosyllabic tamil to sql
tamildatalemma.to_sql(name ='logo_syllabic_tamil', con=engine)