In [13]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd

In [14]:
#Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [15]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)

In [16]:
pd.set_option('display.max_colwidth', None)

In [17]:
#Creating engine
engine = create_engine(db_string)

In [18]:
#Reading logosyllabic data
logosyl_data = pd.read_sql_table('logo_syllabic_tamil_with_names', con=engine)
logosyl_data.drop(columns="index", inplace=True)
s = logosyl_data.index1.sort_values().index
logosyl_data = logosyl_data.reindex(s)
logosyl_data.reset_index(drop=True, inplace=True)
logosyl_data.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,5000,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,106,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,5001,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,5002-2008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,5003,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [20]:
# Determining number of times to iterate through the dataframe to connect the separated clitics to words
numberof2 = len(logosyl_data[logosyl_data["NoSpaceAfter"]==2.0])
numberof3 = len(logosyl_data[logosyl_data["NoSpaceAfter"]==3.0])
numberofrows = len(logosyl_data)
iterate = numberofrows - numberof2 - numberof3
iterate

8628

In [21]:
# Connecting separated clitics to the words
for i in range(iterate):
    try:
        if logosyl_data.loc[i+1, "NoSpaceAfter"]==2.0:
            if logosyl_data.loc[i+2, "NoSpaceAfter"]==2.0:
                if logosyl_data.loc[i+3, "NoSpaceAfter"]==2.0:
                    if logosyl_data.loc[i+4, "NoSpaceAfter"]==2.0:
                        logosyl_data.loc[i+3, "form"] = logosyl_data.loc[i+3, "form"] + logosyl_data.loc[i+4, "form"]
                        logosyl_data.drop(i+4, axis=0, inplace=True)
                        logosyl_data.loc[i+2, "form"] = logosyl_data.loc[i+2, "form"] + logosyl_data.loc[i+3, "form"]
                        logosyl_data.drop(i+3, axis=0, inplace=True)
                        logosyl_data.loc[i+1, "form"] = logosyl_data.loc[i+1, "form"] + logosyl_data.loc[i+2, "form"]
                        logosyl_data.drop(i+2, axis=0, inplace=True)
                        logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] + logosyl_data.loc[i+1, "form"]
                        logosyl_data.drop(i+1, axis=0, inplace=True)
                        logosyl_data.reset_index(drop=True, inplace=True)
                        
                    else:
                        logosyl_data.loc[i+2, "form"] = logosyl_data.loc[i+2, "form"] + logosyl_data.loc[i+3, "form"]
                        logosyl_data.drop(i+3, axis=0, inplace=True)
                        logosyl_data.loc[i+1, "form"] = logosyl_data.loc[i+1, "form"] + logosyl_data.loc[i+2, "form"]
                        logosyl_data.drop(i+2, axis=0, inplace=True)
                        logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] + logosyl_data.loc[i+1, "form"]
                        logosyl_data.drop(i+1, axis=0, inplace=True)
                        logosyl_data.reset_index(drop=True, inplace=True)
                else:
                    logosyl_data.loc[i+1, "form"] = logosyl_data.loc[i+1, "form"] + logosyl_data.loc[i+2, "form"]
                    logosyl_data.drop(i+2, axis=0, inplace=True)
                    logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] + logosyl_data.loc[i+1, "form"]
                    logosyl_data.drop(i+1, axis=0, inplace=True)
                    logosyl_data.reset_index(drop=True, inplace=True)
            else:
                logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] + logosyl_data.loc[i+1, "form"]
                logosyl_data.drop(i+1, axis=0, inplace=True)
                logosyl_data.reset_index(drop=True, inplace=True)
        elif logosyl_data.loc[i, "NoSpaceAfter"]==3.0:
            logosyl_data.loc[i, "form"] = logosyl_data.loc[i, "form"] + logosyl_data.loc[i+1, "form"]
            logosyl_data.drop(i+1, axis=0, inplace=True)
            logosyl_data.reset_index(drop=True, inplace=True)
            print(i)
    except KeyError:
        print(i)

167
266
294
2992
8627

In [22]:
# Creating sentences dataframe
sentence_df = pd.DataFrame(columns=['Sentence'])

In [23]:
# Combining the words into sentences
sentence = []
j = 0
for i in range(len(logosyl_data["form"])):
    if logosyl_data.loc[i, "xpos"]!= 'Z#-------':
        sentence.append(logosyl_data.loc[i, "form"])
    else:
        sentence.append(logosyl_data.loc[i, "form"])
        sentencestring = " ".join(sentence)
        sentence_df.loc[j, "Sentence"] = sentencestring
        sentence=[]
        j = j+1

In [24]:
#Looking at sentences dataframe
sentence_df.head()

                                                                                                                                                                                                                                                 Sentence
0                                                                                 5000 106 5001 5002-2008 5003 5004 ( 5005 ) 5006 5007-2006-2001-2001-155 5008 5009-3003-2001-3006 5010 85 5011-3004-2008 5012-3005 5013-3006 98 5014 5015 5016-2021-47 .
1                                                                                                                                                                                                           5018 5019-3007 , 5020 5021 5022-2022 5023 : .
2  5024 11 5006-3009 5025-2008 5026-3010 5027-3006 5028-3004-2000-2025 5029-2008 5030-3011 , 5031 5032-3012-2012-2008 -107 5006 5007-3012-2012-2000 5033-3013-149 , 5034-3007 5035 5006 5007-3012-2012-2000 5036-3014-149 5037 5038 5039 5040-2021-2006 .
3                                                                                                                   5041 , 5042 , 5043 , 5044 , 5000 5045-2020 5006 5007-3012-2012-2000 5046 5047 5048-3012-2012 5049-3017-100 5050-3009 5013-2035-2017 .
4                                                                                                      5051-2021-2008-149 , 5052-2021-2008-149 5003 5004 5006 5007-3012-2012-2000 5036-2006 5053-2021-2000 5054-3020 5030-3021-2039 5055-2022-2017-2034 .

In [29]:
#Sending logosyllabic sentences to sql
sentence_df.to_sql(name ='logo_syllabic_tamil_sentences_with_names', con=engine)

In [28]:
# Sending logosyllabic sentences to csv
sentence_df.to_csv('Convert_Tamil_with_Names/logo_syllabic_tamil_sentences_with_names.csv', encoding='utf-8-sig')

In [87]:
#Creating sentences with original words
tamildata = pd.read_sql_table('complete_tamil', con=engine)
tamildata.drop(columns="index", inplace=True)
s = tamildata.index1.sort_values().index
tamildata = tamildata.reindex(s)
tamildata.reset_index(drop=True, inplace=True)
tamildata.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0
1,அருகே,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3
4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4

In [88]:
# Connecting separated clitics to the words
for i in range(iterate):
    try:
        if tamildata.loc[i+1, "NoSpaceAfter"]==2.0:
            if tamildata.loc[i+2, "NoSpaceAfter"]==2.0:
                if tamildata.loc[i+3, "NoSpaceAfter"]==2.0:
                    if tamildata.loc[i+4, "NoSpaceAfter"]==2.0:
                        tamildata.loc[i+3, "form"] = tamildata.loc[i+3, "form"] + tamildata.loc[i+4, "form"]
                        tamildata.drop(i+4, axis=0, inplace=True)
                        tamildata.loc[i+2, "form"] = tamildata.loc[i+2, "form"] + tamildata.loc[i+3, "form"]
                        tamildata.drop(i+3, axis=0, inplace=True)
                        tamildata.loc[i+1, "form"] = tamildata.loc[i+1, "form"] + tamildata.loc[i+2, "form"]
                        tamildata.drop(i+2, axis=0, inplace=True)
                        tamildata.loc[i, "form"] = tamildata.loc[i, "form"] + tamildata.loc[i+1, "form"]
                        tamildata.drop(i+1, axis=0, inplace=True)
                        tamildata.reset_index(drop=True, inplace=True)
                        
                    else:
                        tamildata.loc[i+2, "form"] = tamildata.loc[i+2, "form"] + tamildata.loc[i+3, "form"]
                        tamildata.drop(i+3, axis=0, inplace=True)
                        tamildata.loc[i+1, "form"] = tamildata.loc[i+1, "form"] + tamildata.loc[i+2, "form"]
                        tamildata.drop(i+2, axis=0, inplace=True)
                        tamildata.loc[i, "form"] = tamildata.loc[i, "form"] + tamildata.loc[i+1, "form"]
                        tamildata.drop(i+1, axis=0, inplace=True)
                        tamildata.reset_index(drop=True, inplace=True)
                else:
                    tamildata.loc[i+1, "form"] = tamildata.loc[i+1, "form"] + tamildata.loc[i+2, "form"]
                    tamildata.drop(i+2, axis=0, inplace=True)
                    tamildata.loc[i, "form"] = tamildata.loc[i, "form"] + tamildata.loc[i+1, "form"]
                    tamildata.drop(i+1, axis=0, inplace=True)
                    tamildata.reset_index(drop=True, inplace=True)
            else:
                tamildata.loc[i, "form"] = tamildata.loc[i, "form"] + tamildata.loc[i+1, "form"]
                tamildata.drop(i+1, axis=0, inplace=True)
                tamildata.reset_index(drop=True, inplace=True)
        elif tamildata.loc[i, "NoSpaceAfter"]==3.0:
            tamildata.loc[i, "form"] = tamildata.loc[i, "form"] + tamildata.loc[i+1, "form"]
            tamildata.drop(i+1, axis=0, inplace=True)
            tamildata.reset_index(drop=True, inplace=True)
            print(i)
    except KeyError:
        print(i)

167
266
294
2992
8627

In [89]:
# Creating sentences dataframe
sentence_df = pd.DataFrame(columns=['Sentence'])

In [90]:
# Combining the words into sentences
sentence = []
j = 0
for i in range(len(tamildata["form"])):
    if tamildata.loc[i, "xpos"]!= 'Z#-------':
        sentence.append(tamildata.loc[i, "form"])
    else:
        sentence.append(tamildata.loc[i, "form"])
        sentencestring = " ".join(sentence)
        sentence_df.loc[j, "Sentence"] = sentencestring
        sentence=[]
        j = j+1

In [91]:
#Looking at sentences dataframe
sentence_df.head()

                                                                                                                                                                                                                      Sentence
0                                     சென்னை அருகே ஸ்ரீ பெரும்புதூரில் கிரீன் பீல்டு ( நவீன ) விமான நிலையத்துக்குக்க்ஆன நிலம் யாருக்கும் பாதிப்பு இல்லாத வகையில் எடுக்கப் படும் என்று முதல்வர் கருணாநிதி உறுதியளித்த்உள்ளார் .
1                                                                                                                                                                         இது தொடர்பாக , அவர் புதன்கிழமை வெளியிட்ட அறிக்கை : .
2  நாடு முழுவதும் விமானப் போக்குவரத்தில் ஏற்பட்டு வரும் வளர்ச்சியைக் கருத்தில் கொண்டு , முக்கிய நகரங்களில் உள்ள விமான நிலையங்களை விரிவுபடுத்தவ்உம் , புதிதாக சர்வதேச விமான நிலையங்களை அமைக்கவ்உம் மத்திய அரசு முடிவு செய்தது .
3                                                                                 அதன்படி , புதுதில்லி , மும்பை , கொல்கத்தா , சென்னை ஆகிய விமான நிலையங்களை மேம்படுத்த புதிய திட்டங்கள் உருவாக்கப்பட்டு நிறைவேற்றப் படுகின்றன .
4                                                                                                               கர்நாடகத்தில்உம் , ஆந்திரத்தில்உம் கிரீன் பீல்டு விமான நிலையங்களை அமைத்து தமிழகத்தை முந்திக் கொண்டு விட்டனர் .

In [92]:
#Sending tamil sentences to sql
sentence_df.to_sql(name ='tamil_sentences', con=engine)

ValueError: Table 'tamil_sentences' already exists.

In [ ]:
# Sending logosyllabic sentences to csv
sentence_df.to_csv('tamil_sentences.csv', encoding='utf-8-sig')