In [60]:
# Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import numpy as np

In [61]:
#Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [62]:
#Creating engine
engine = create_engine(db_string)

In [63]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)

In [64]:
#Reading transformed tamil clitics dataframe
tamildataclitics = pd.read_sql_table('converted_clitics_tamil', con=engine)
tamildataclitics.drop(columns="index", inplace=True)
s = tamildataclitics.index1.sort_values().index
tamildataclitics = tamildataclitics.reindex(s)
tamildataclitics.reset_index(drop=True, inplace=True)
tamildataclitics.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0
1,106,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3
4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4

In [65]:
#Reading transformed tamil lemma dataframe
tamildatalemma = pd.read_sql_table('converted_lemma_tamil', con=engine)
tamildatalemma.drop(columns="index", inplace=True )
s = tamildatalemma.index1.sort_values().index
tamildatalemma = tamildatalemma.reindex(s)
tamildatalemma.reset_index(drop=True, inplace=True)
tamildatalemma.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,அருகே,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [66]:
# Adding clitics and postpositions to lemma converte dataframe
ind = tamildataclitics[(tamildataclitics["upos"]=='C')|(tamildataclitics["upos"]=='D')|(tamildataclitics["upos"]=='P')|(tamildataclitics["upos"]=='Q')|(tamildataclitics["upos"]=='T')|(tamildataclitics["NoSpaceAfter"]==2.0)].index
tamildatalemma.loc[ind, ['form']] = tamildataclitics.loc[ind, ['form']]

In [67]:
# Reading morphemes
morphemelist = pd.read_sql_table('morphemes', con=engine)
morphemelist.drop(columns="index", inplace=True )
morphemelist.head()

  MorphemeSeparated Morpheme   xpos Regex  Morpheme continued
0                 ை        ை  (N.A..S...)                 NaN
1         {க,்,க,்}     க்க்  (N.D..S...)                 1.0
2         {க,்,க,ு}     க்கு  (N.D..S...)                 NaN
3             {க,ு}       கு  (N.D..S...)                 NaN
4           {க,ள,ு}      களு  (N.D..P...)                 NaN

In [68]:
# Cleaning up morpheme list

## Switching rows
row1 = morphemelist.loc[1]
row2 = morphemelist.loc[2]

morphemelist.loc[1] = row2
morphemelist.loc[2] = row1

morphemelist.loc[0, "xpos Regex"] = "(..A......)"
morphemelist.loc[1, "xpos Regex"] = "(..D......)"
morphemelist.loc[2, "xpos Regex"] = "(..D......)"
morphemelist.loc[3, "xpos Regex"] = "(..D......)"
morphemelist.loc[4, "xpos Regex"] = "(..D......)"
morphemelist.loc[5, "xpos Regex"] = "(..I......)"
morphemelist.loc[6, "xpos Regex"] = "(..G.*)"
morphemelist.loc[7, "xpos Regex"] = "(..G.*)"
morphemelist.loc[8, "xpos Regex"] = "(..L.*)"
morphemelist.loc[9, "xpos Regex"] = "(..L.*)"
morphemelist.loc[10, "xpos Regex"] = "(..S.*)"
morphemelist.loc[11, "xpos Regex"] = "(..S.*)"
morphemelist.loc[12, "xpos Regex"] = "(N....P...)"


row3 = morphemelist.loc[12]
morphemelist.loc[97] = row3
morphemelist.loc[97, "MorphemeSeparated"] = '{க,ள}'
morphemelist.loc[97, "Morpheme"] = "கள"

row4 = morphemelist.loc[1]
morphemelist.loc[98] = row4
morphemelist.loc[98, "MorphemeSeparated"] = '{க,்}'
morphemelist.loc[98, "Morpheme"] = "க்"
morphemelist.loc[98, "Morpheme continued"] = 1.0

morphemelist = morphemelist.append(morphemelist.loc[75:87, :])

morphemelist.reset_index(drop=True, inplace=True)

morphemelist.loc[100:110, "xpos Regex"] = '(Vt.......)'

morphemelist.loc[111, "xpos Regex"] = '(Vw.......)'

morphemelist.loc[112, "MorphemeSeparated"] = '{க,்,க,ி,ன,்,ற}'
morphemelist.loc[112, "Morpheme"]	= 'க்கின்ற'
morphemelist.loc[112, "xpos Regex"] = '(V..P3PH.)'

morphemelist.loc[113, "MorphemeSeparated"] = '{ன,ர,்}'
morphemelist.loc[113, "Morpheme"]	= 'னர்'
morphemelist.loc[113, "xpos Regex"] = '(V..P3PH.)'

In [69]:
#Assigning identifiers to each morpheme
morphemetoid = morphemelist['Morpheme'].unique()
morphemes_df = pd.DataFrame(morphemetoid,columns=['Morpheme'])
morphemes_df["id"] = morphemes_df.index
morphemes_df["id"] = morphemes_df["id"].apply(lambda x: x+2000)
morphemes_df["id"] = '-'+morphemes_df["id"].astype(str)
morphemes_df.tail()

   Morpheme     id
50       வர  -2050
51       கள  -2051
52        ப  -2052
53       க்  -2053
54      னர்  -2054

In [70]:
#Adding same id for morpheme with different spelling

inn = morphemes_df.loc[7, "id"]
morphemes_df.loc[30, "id"] = inn

ku = morphemes_df.loc[1, "id"]
morphemes_df.loc[2, "id"] = ku
morphemes_df.loc[3, "id"] = ku

tu = morphemes_df.loc[6, "id"]
morphemes_df.loc[41, "id"] = tu

kal = morphemes_df.loc[12, "id"]
morphemes_df.loc[51, "id"] = kal

kal = morphemes_df.loc[12, "id"]
morphemes_df.loc[4, "id"] = kal

kir = morphemes_df.loc[14, "id"]
morphemes_df.loc[16, "id"] = kir

nt = morphemes_df.loc[19, "id"]
morphemes_df.loc[47, "id"] = nt

tt = morphemes_df.loc[21, "id"]
morphemes_df.loc[23, "id"] = tt
morphemes_df.loc[43, "id"] = tt
morphemes_df.loc[48, "id"] = tt

d = morphemes_df.loc[22, "id"]
morphemes_df.loc[24, "id"] = d
morphemes_df.loc[42, "id"] = d
morphemes_df.loc[49, "id"] = d

kk = morphemes_df.loc[25, "id"]
morphemes_df.loc[26, "id"] = kk
morphemes_df.loc[53, "id"] = kk

pp = morphemes_df.loc[33, "id"]
morphemes_df.loc[52, "id"] = pp

kinr = morphemes_df.loc[35, "id"]
morphemes_df.loc[38, "id"] = kinr

In [71]:
#Adding morpheme ids to original morpheme database
modmorpheme_df = pd.merge(morphemelist, morphemes_df, on="Morpheme", how="left")

#Cleaning up morphemes more
modmorpheme_df.loc[58, "Morpheme"] = 'கின்ற'
modmorpheme_df.loc[58, "MorphemeSeparated"] ='{க,ி,ன,்,ற}'
modmorpheme_df.loc[6:7, "xpos Regex"] ='(..G......)'
modmorpheme_df.loc[8:9, "xpos Regex"] ='(..L......)'
modmorpheme_df.loc[10:11, "xpos Regex"] ='(..S......)'
modmorpheme_df.loc[98, "id"] ='-2001'

In [72]:
#Sort in descending order by morpheme length so longer morphemes are replaced first in loop
s= modmorpheme_df.Morpheme.str.len().sort_values(ascending=False).index
modmorpheme_df = modmorpheme_df.reindex(s)
modmorpheme_df.reset_index(drop=True, inplace=True)

modmorpheme_df.head()

  MorphemeSeparated Morpheme   xpos Regex  Morpheme continued     id
0   {க,்,க,ி,ன,்,ற}  க்கின்ற   (V..P3PH.)                 NaN  -2035
1   {க,்,க,ி,ன,்,ற}  க்கின்ற   (V..P3PN.)                 NaN  -2035
2     {ீ,ர,்,க,ள,்}   ீர்கள்  (V...2S...)                 NaN  -2018
3     {ா,ர,்,க,ள,்}   ார்கள்   (V..P3PH.)                 NaN  -2036
4     {ா,ர,்,க,ள,்}   ார்கள்   (V..F3PH.)                 NaN  -2036

In [73]:
# Function to replace morpheme 
def getindex(form, morpheme, identifier):
    strObj = form
    try: 
        strObj = strObj.replace(morpheme, identifier)
        if strObj == strObj:
            return strObj
        else:
            return form
    except:
        return form

In [74]:
#Creating function to loop through morphemes and replace them where they occur
for index, row in modmorpheme_df.iterrows():

    #Grabbing regex and creating a temporary dataframe
    re = row["xpos Regex"]
    temp_df = tamildatalemma[tamildatalemma['xpos'].str.contains(rf'{re}')]
    temp_df["index"] = temp_df.index
    temp_df.reset_index(drop=True, inplace=True)

    #Getting morpheme and wingding to pass through getindex function
    morpheme = row["Morpheme"]
    identifier = row["id"]
    
    list = []
    indexlist = []
    for i in range(len(temp_df)):
        strObj = temp_df.loc[i, "form"]
        value = getindex(strObj, morpheme, identifier)
        ind = temp_df.loc[i, "index"]
        list.append(value)
        indexlist.append(ind)
    form_df = pd.DataFrame([indexlist, list])
    form_df = form_df.T
    form_df.rename(columns = {0: "index", 1:"form"}, inplace = True)
    form_df.set_index("index", inplace=True)

    #Adding the dataframe as a column to the temporary dataframe
    mask = tamildatalemma[tamildatalemma.index.isin(form_df.index)].index
    tamildatalemma.loc[mask, ['form']] = form_df.loc[:, ['form']]

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
<ipython-input-74-dd24ef04a581>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["index"] = temp_df.index

In [75]:
# Replacing double hyphens with one
tamildatalemma["form"] = tamildatalemma["form"].str.replace('--', '-')

In [76]:
#Created a dataframe without proper nouns, pronouns and punctuations. (To capture unidentified morphemes)
re = '(.E......)'
letter_df = tamildatalemma[(~tamildatalemma['xpos'].str.contains(rf'{re}'))&(tamildatalemma["upos"]!='R')&(tamildatalemma["upos"]!='Z')]
letter_df.reset_index(inplace=True, drop=True)

In [77]:
#Adding numbers to a list. Will ignore when function extracts unidentified morphemes
numbers = ['0', '1', '2', '3', '4', '5', '6' ,'7' ,'8', '9']

In [78]:
#Creating an unidentified morpheme dataframe
unidentified_morph_df = pd.DataFrame(columns = ["Morpheme", "xpos", "id"])
unidentified_morph_df

Empty DataFrame
Columns: [Morpheme, xpos, id]
Index: []

In [79]:
#Making a loop to extract unidentified morphemes
for index, row in letter_df.iterrows(): 
    morphe = []
    morph=''
    a = row["form"]
    try:
        for i in range(len(a)):
                if a[i] not in numbers:
                    morphe.append(a[i])
                    morph = ''.join(morphe)
                    if a[i+1]=='-':
                        break
    except:
        print("")
    length = len(unidentified_morph_df)
    unidentified_morph_df.loc[length, "Morpheme"] = morph
    unidentified_morph_df.loc[length, "xpos Regex"] = row["xpos"]

In [80]:
# Refining unidentied morpehemes dataframe
unidentified_morph_df.drop_duplicates(subset='Morpheme', inplace=True)
unidentified_morph_df.reset_index(drop=True, inplace=True)

## Creating index
unidentified_morph_df["id"] = unidentified_morph_df.index+3000
unidentified_morph_df["id"] ='-'+unidentified_morph_df["id"].astype(str)

## Removing hyphen and dropping dupicates
unidentified_morph_df["Morpheme"]=unidentified_morph_df["Morpheme"].str.replace('-', '')	
unidentified_morph_df.drop_duplicates(subset='Morpheme', inplace=True)

## Sorting in descending order
s= unidentified_morph_df.Morpheme.str.len().sort_values(ascending=False).index
unidentified_morph_df = unidentified_morph_df.reindex(s)
unidentified_morph_df.reset_index(drop=True, inplace=True)

## Dropping empty morpheme columns
unidentified_morph_df.drop(232, axis=0, inplace=True)
unidentified_morph_df.head()

      Morpheme xpos     id xpos Regex
0  க்கப்படுவத்  NaN  -3144  VzNF3SNAA
1   ியிருப்பத்  NaN  -3163  VZNF3SNAA
2   ட்டுக்கொள்  NaN  -3162  Vr-P1SAAA
3   ்றுவிட்டத்  NaN  -3165  VZND3SNAA
4   ரவிருப்பத்  NaN  -3238  VzNF3SNAA

In [81]:
# Adding same id for unidentified morphemes that appear in identified morphemes table
for i in range(len(unidentified_morph_df)):
    for j in range(len(modmorpheme_df)):
        if unidentified_morph_df.loc[i, "Morpheme"] == modmorpheme_df.loc[j, "Morpheme"]:
            unidentified_morph_df.loc[i, "id"] = modmorpheme_df.loc[j, "id"] 


unidentified_morph_df.loc[102, "id"] = '-2609'
unidentified_morph_df.head()

      Morpheme xpos     id xpos Regex
0  க்கப்படுவத்  NaN  -3144  VzNF3SNAA
1   ியிருப்பத்  NaN  -3163  VZNF3SNAA
2   ட்டுக்கொள்  NaN  -3162  Vr-P1SAAA
3   ்றுவிட்டத்  NaN  -3165  VZND3SNAA
4   ரவிருப்பத்  NaN  -3238  VzNF3SNAA

In [82]:
# Replacing unidentied morphemes with their ids in filtered dataframe
for i in range(len(unidentified_morph_df["Morpheme"])):
    letter_df["form"] = letter_df["form"].str.replace(unidentified_morph_df["Morpheme"][i], unidentified_morph_df["id"][i])

<ipython-input-82-336f2971ac40>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  letter_df["form"] = letter_df["form"].str.replace(unidentified_morph_df["Morpheme"][i], unidentified_morph_df["id"][i])

In [83]:
# Adding values of filtered dataframe into main dataframe
letter_df.index = letter_df["index1"] 
mask = tamildatalemma[tamildatalemma.index.isin(letter_df["index1"])].index
tamildatalemma.loc[mask, ['form']] = letter_df.loc[:, ['form']]

In [84]:
#Filtering dataframe for proper nouns and pronouns
re = '(.E......)'
name_df = tamildatalemma[(tamildatalemma['xpos'].str.contains(rf'{re}'))|(tamildatalemma["upos"]=='R')]
name_df.reset_index(inplace=True, drop=True)
name_df.head()

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
2,பெரும்புதூர-2008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
3,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6
4,பீல்டு,பீல்டு,N,NEN-3SN--,11,,0.0,0,"{ப,ீ,ல,்,ட,ு}",5,6

In [85]:
# Function to separate a string and store it into the form Separated column
def separator(input_df):
    input_df['formSeparated'] = np.nan
    input_df['formSeparated'] = input_df['formSeparated'].astype(object)
    for i in range(len(input_df)):
        word = input_df.loc[i, 'form']
        a = [ch for ch in word]
        b = np.empty(1, dtype=object)
        b[0] = a
        input_df.loc[i, 'formSeparated'] = b

In [86]:
#Making a list of all the letters that appear in proper nouns and pronouns dataframe
separator(name_df)
columns = ['index1', 'index2']
letters = pd.Series(name_df['formSeparated'])
letters = letters.apply(pd.Series).stack()
letters_df = letters.to_frame(name='letters')
letters_df = letters_df.rename_axis(['index', 'index 2'])

letters_df["letters"].unique()

<ipython-input-85-d8d2811d6f38>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df['formSeparated'] = np.nan
<ipython-input-85-d8d2811d6f38>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df['formSeparated'] = input_df['formSeparated'].astype(object)
C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\indexing.py:1760: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

array(['ச', 'ெ', 'ன', '்', 'ை', 'ஸ', 'ர', 'ீ', 'ப', 'ு', 'ம', 'த', 'ூ',
       '-', '2', '0', '8', 'க', 'ி', 'ல', 'ட', 'ய', 'ா', '1', 'ண', 'ந',
       '5', '9', '6', 'ொ', 'அ', 'ஜ', '.', '7', 'வ', 'ோ', 'ள', 'ங', 'ழ',
       '4', 'ற', 'இ', 'ே', 'ஷ', 'ஆ', '3', 'எ', 'ஐ', 'ஹ', 'ஃ', 'ஒ', 'ஈ',
       'ஏ', 'ஞ', 'உ', 'ஓ', 'û', 'H', 'C', 'ô'], dtype=object)

In [87]:
#Making a dataframe of unique letters
letters = ['ச', 'ெ', 'ன', '்', 'ை', 'ஸ', 'ர', 'ீ', 'ப', 'ு', 'ம', 'த', 'ூ',
        'க', 'ி', 'ல', 'ட', 'ய', 'ா', 'ண', 'ந',
        'ொ', 'அ', 'ஜ', 'வ', 'ோ', 'ள',
       'ங', 'ழ', 'ற', 'இ', 'ே', 'ஷ', 'ஆ', 'எ', 'ஐ', 'ஹ', 'ஃ', 'ஒ', 'ஈ',
       'ஏ', 'ஞ', 'உ', 'ஓ', 'û', 'H', 'C', 'ô']
columns = ["letter", "id"]
letter_df2 = pd.DataFrame(columns = columns)
letter_df2["letter"] = letters
letter_df2["id"] = letter_df2.index+4000
letter_df2["id"] = '-'+letter_df2["id"].astype(str)
letter_df2["letter"] = letter_df2["letter"].astype(str)
letter_df2.head()

  letter     id
0      ச  -4000
1      ெ  -4001
2      ன  -4002
3      ்  -4003
4      ை  -4004

In [88]:
#Replacing ids of letters that appear in identified morphemes table
for i in range(len(letter_df2)):
    for j in range(len(modmorpheme_df)):
        if letter_df2.loc[i, "letter"] == modmorpheme_df.loc[j, "Morpheme"]:
                letter_df2.loc[i, "id"] = modmorpheme_df.loc[j, "id"] 
                
letter_df2.head()

  letter     id
0      ச  -4000
1      ெ  -4001
2      ன  -2017
3      ்  -4003
4      ை  -2000

In [89]:
# Replacing letters with their identifiers in filtered dataframe
for i in range(len(letter_df2["letter"])):
    name_df["form"] = name_df["form"].str.replace(letter_df2["letter"][i], letter_df2["id"][i])

<ipython-input-89-23f6a41ba549>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_df["form"] = name_df["form"].str.replace(letter_df2["letter"][i], letter_df2["id"][i])

In [90]:
# Removing hyphen at the start of each letter in filtered dataframe
for i in range(len(name_df.form)):
    name_df.form[i] = name_df.form[i][1:]
name_df.index = name_df["index1"]

<ipython-input-90-64f77ec904ee>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_df.form[i] = name_df.form[i][1:]
C:\Users\keetu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [91]:
# Adding results of filtered dataframe into main dataframe
mask = tamildatalemma[tamildatalemma.index.isin(name_df["index1"])].index
tamildatalemma.loc[mask, ['form']] = name_df.loc[:, ['form']]

In [92]:
# Replacing double hyphens with single hyphen
tamildatalemma["form"] = tamildatalemma["form"].str.replace('--', '-')
tamildatalemma.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,4000-4001-2017-4003-2017-2000,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,106,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,4005-4003-4006-4007,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,2033-4001-4006-4009-4010-4003-2033-4009-2021-4...,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,2025-2037-4006-4007-2017-4003,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [94]:
#Sending logosyllabic tamil to sql
tamildatalemma.to_sql(name ='logo_syllabic_tamil', con=engine)

In [ ]:
# Labelling morphemes table
modmorpheme_df.to_sql(name ='morpheme_labelled_step1', con=engine)

In [ ]:
unidentified_morph_df.to_sql(name ='unidentified_morphemes', con=engine)

In [ ]:
letter_df2.to_sql(name ='letters', con=engine)