In [2]:
from sqlalchemy import create_engine
from config import db_password
import pandas as pd

In [3]:
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [4]:
engine = create_engine(db_string)

In [5]:
clitics = pd.read_sql_table('clitics', con=engine)
clitics

    index            form  Counts upos       xpos  NoSpaceAfter
0      11              ஆன      61    T  Tg-------           2.0
1      23         உள்ளார்      31    V  VR-T3SHAA           2.0
2      50             உம்     209    T  Tv-------           2.0
3      79           பட்டு      19    V  VT-T---PA           2.0
4     105            ப்பட       7    V  VU-T---PA           2.0
..    ...             ...     ...  ...        ...           ...
57   7374  இருக்கிறீர்கள்       1    V  VR-P2PHAA           2.0
58   7414           ஆனால்       2    V  Vw-T---AA           2.0
59   8167            உரிய       1    J  JJ-------           2.0
60   8701         எல்லாம்       1    N  NNN-3SN--           2.0
61   9564             விட       1    V  VU-T---AA           2.0

[62 rows x 6 columns]

In [6]:
clitics[['form']]

              form
0               ஆன
1          உள்ளார்
2              உம்
3            பட்டு
4             ப்பட
..             ...
57  இருக்கிறீர்கள்
58           ஆனால்
59            உரிய
60         எல்லாம்
61             விட

[62 rows x 1 columns]

In [7]:
wingdings = ['\u21E6','\u21E7','\u21E8','\u21E9','\u21F3','\u237D','\u2303','\u237D','\u2303','\u2316','\u2324','\u2325',
             '\u2326','\u2327', '\u232B','\u232D','\u238B','\u23F3','\u2423','\u24C5','\u24FF','\u261C','\u261E','\u261D','\u261F','\u25A0','\u25A1','\u2620','\u262F','\u2639','\u263A','\u263C','\u267F','\u26F7','\u2701','\u2702','\u2706','\u2707','\u2708','\u270C','\u270D','\u2744','\u2B00','\u2B01','\u2B02','\u2B03','\u2B04','\u2318','\u2327','\u25C6','\u2605','\u2726','\u2734','\u2735','\u2736','\u2739','\u2756','\u2BD0','\u2BD1','\u272A','\u2730','\u2714']
len(wingdings)

62

In [8]:
wingdings_df = pd.DataFrame(wingdings,columns=['Wingdings'])
wingdings_df

   Wingdings
0          ⇦
1          ⇧
2          ⇨
3          ⇩
4          ⇳
..       ...
57         ⯐
58         ⯑
59         ✪
60         ✰
61         ✔

[62 rows x 1 columns]

In [9]:
columns = ['Clitics','Wingdings']
clitics_logo = pd.DataFrame(columns = columns)
clitics_logo['Clitics'] = clitics['form']
clitics_logo['Wingdings'] = wingdings_df['Wingdings']

In [10]:
clitics_logo

           Clitics Wingdings
0               ஆன         ⇦
1          உள்ளார்         ⇧
2              உம்         ⇨
3            பட்டு         ⇩
4             ப்பட         ⇳
..             ...       ...
57  இருக்கிறீர்கள்         ⯐
58           ஆனால்         ⯑
59            உரிய         ✪
60         எல்லாம்         ✰
61             விட         ✔

[62 rows x 2 columns]

In [11]:
len(clitics_logo)

62

In [12]:
len(clitics_logo['Clitics'])

62

In [13]:
#if word = clitics, replace with wingding
words = ['ஆன', 'எல்லாம்', 'பட்டு']
morpheme = clitics_logo['Clitics']
logo = clitics_logo['Wingdings']
# for every word in array, compare to clitics_logo
for j in range(len(words)):
    for i in range(len(clitics_logo)):
        if words[j] == morpheme[i]:
            words[j] = logo[i];
words

['⇦', '✰', '⇩']

In [14]:
# Create function (takes in array of words and replaces with converted wingdings array)
def clitic_to_wingding(input):
    morpheme = clitics_logo['Clitics']
    logo = clitics_logo['Wingdings']
    # for every word in array, compare to clitics_logo
    for j in range(len(input)):
        for i in range(len(clitics_logo)):
            if input[j] == morpheme[i]:
                input[j] = logo[i];
    return input

In [15]:
test = clitics['form'].values
len(test)

62

In [16]:
clitic_to_wingding(test)

array(['⇦', '⇧', '⇨', '⇩', '⇳', '⍽', '⌃', '⍽', '⌃', '⌖', '⌤', '⌥', '⌦',
       '⌧', '⌫', '⌭', '⎋', '⏳', '␣', 'Ⓟ', '⓿', '☜', '☞', '☝', '☟', '■',
       '□', '☠', '☯', '☹', '☺', '☼', '♿', '⛷', '✁', '✂', '✆', '✇', '✈',
       '✌', '✍', '❄', '⬀', '⬁', '⬂', '⬃', '⬄', '⌘', '⌧', '◆', '★', '✦',
       '✴', '✵', '✶', '✹', '❖', '⯐', '⯑', '✪', '✰', '✔'], dtype=object)

In [17]:
#Test clitics_to_wingding function with completetamildata table
tamildata = pd.read_sql_table('completetamildata', con=engine)
tamildata

,index,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,formSeparated
0,0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}"
1,1,அருகே,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}"
2,2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}"
3,3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}"
4,4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}"
...,...,...,...,...,...,...,...,...,...,...
9576,9576,வேண்டும்,வேண்டு,V,VR-F3SNAA,9,ம்,0.0,144,"{வ,ே,ண,்,ட,ு,ம,்}"
9577,9577,என்பது,என்,T,TQ-------,13,பது,0.0,8,"{எ,ன,்,ப,த,ு}"
9578,9578,தான்,தான்,T,Tq-------,11,,0.0,0,"{த,ா,ன,்}"
9579,9579,அது,அது,R,RpN-3SN--,0,,0.0,0,"{அ,த,ு}"
9580,9580,.,.,Z,Z#-------,0,,0.0,0,{.}

In [18]:
test2 = tamildata['form'].values
len(test2)

9581

In [19]:
clitic_to_wingding(test2)

array(['சென்னை', 'அருகே', 'ஸ்ரீ', ..., 'தான்', 'அது', '.'], dtype=object)

In [22]:
test2

array(['சென்னை', 'அருகே', 'ஸ்ரீ', ..., 'தான்', 'அது', '.'], dtype=object)

In [24]:
test2_df = pd.DataFrame(test2, columns = ['Morphemes'])
test2_df

           Morphemes
0             சென்னை
1              அருகே
2               ஸ்ரீ
3     பெரும்புதூரில்
4             கிரீன்
...              ...
9576        வேண்டும்
9577          என்பது
9578            தான்
9579             அது
9580               .

[9581 rows x 1 columns]