In [1]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import math
import re

In [2]:
# Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [3]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [4]:
#Creating engine
engine = create_engine(db_string)

In [27]:
# Reading logosyllabic sentences data from postgreSQL
logosyllabic_sentence_df = pd.read_sql_table('logo_syllabic_tamil_sentences_with_names', con=engine)
logosyllabic_sentence_df.head()

,index,Sentence
0,0,5000 106 5001 5002-2008 5003 5004 ( 5005 ) 5006 5007-2006-2001-2001-155 5008 5009-3003-2001-3006 5010 85 5011-3004-2008 5012-3005 5013-3006 98 5014 5015 5016-2021-47 .
1,1,"5018 5019-3007 , 5020 5021 5022-2022 5023 : ."
2,2,"5024 11 5006-3009 5025-2008 5026-3010 5027-3006 5028-3004-2000-2025 5029-2008 5030-3011 , 5031 5032-3012-2012-2008 -107 5006 5007-3012-2012-2000 5033-3013-149 , 5034-3007 5035 5006 5007-3012-2012-2000 5036-3014-149 5037 5038 5039 5040-2021-2006 ."
3,3,"5041 , 5042 , 5043 , 5044 , 5000 5045-2020 5006 5007-3012-2012-2000 5046 5047 5048-3012-2012 5049-3017-100 5050-3009 5013-2035-2017 ."
4,4,"5051-2021-2008-149 , 5052-2021-2008-149 5003 5004 5006 5007-3012-2012-2000 5036-2006 5053-2021-2000 5054-3020 5030-3021-2039 5055-2022-2017-2034 ."

In [6]:
#Reading all logograms from sql
all_logograms = pd.read_sql_table('all_logograms', con=engine)
all_logograms.head()

       lemma     id
0    துச்சம்   5585
1  தானியங்கி   5966
2      தகவல்   5330
3      ்டிற்  -3241
4  மனிதநேயம்   5858

In [7]:
numbers = ['0','1','2','3','4','5','6','7','8','9']

In [33]:
sign_position_df = pd.DataFrame(columns =['Sentence', 'Position', 'Index', 'Word'])
sign_position_df

Empty DataFrame
Columns: [Sentence, Position, Index, Word]
Index: []

In [34]:
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    count = 0
    indexes =[]
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                count = count+1
                length = len(sign_position_df)
                sign_position_df.loc[length, "Sentence"] = l
                sign_position_df.loc[length, "Position"] = count
                sign_position_df.loc[length, "Index"] = i
                letter =[]
                for k in range(6):
                    if logosyllabic_sentence_df.loc[l, "Sentence"][i+k] in numbers:
                        letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][i+k])
                    else:
                        word = ''.join(letter)
                        #print(word)
                        sign_position_df.loc[length, "Word"] = word
    except:
        pass

In [41]:
sign_position_df[sign_position_df["Sentence"]==0]

   Sentence Position Index  Word
0         0        1     0  5000
1         0        2     5   106
2         0        3     9  5001
3         0        4    14  5002
4         0        5    19  2008
5         0        6    24  5003
6         0        7    29  5004
7         0        8    36  5005
8         0        9    43  5006
9         0       10    48  5007
10        0       11    53  2006
11        0       12    58  2001
12        0       13    63  2001
13        0       14    68   155
14        0       15    72  5008
15        0       16    77  5009
16        0       17    82  3003
17        0       18    87  2001
18        0       19    92  3006
19        0       20    97  5010
20        0       21   102    85
21        0       22   105  5011
22        0       23   110  3004
23        0       24   115  2008
24        0       25   120  5012
25        0       26   125  3005
26        0       27   130  5013
27        0       28   135  3006
28        0       29   140    98
29        0       30   143  5014
30        0       31   148  5015
31        0       32   153  5016
32        0       33   158  2021
33        0       34   163    47

In [11]:
indexes

[]