In [1]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import math
import re
import numpy as np

In [2]:
# Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [3]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [4]:
#Creating engine
engine = create_engine(db_string)

In [5]:
# Reading logosyllabic sentences data from postgreSQL
logosyllabic_sentence_df = pd.read_sql_table('logo_syllabic_tamil_sentences_with_names', con=engine)
logosyllabic_sentence_df.head()

,index,Sentence
0,0,5000 106 5001 5002-2008 5003 5004 ( 5005 ) 5006 5007-2006-2001-2001-155 5008 5009-3003-2001-3006 5010 85 5011-3004-2008 5012-3005 5013-3006 98 5014 5015 5016-2021-47 .
1,1,"5018 5019-3007 , 5020 5021 5022-2022 5023 : ."
2,2,"5024 11 5006-3009 5025-2008 5026-3010 5027-3006 5028-3004-2000-2025 5029-2008 5030-3011 , 5031 5032-3012-2012-2008 -107 5006 5007-3012-2012-2000 5033-3013-149 , 5034-3007 5035 5006 5007-3012-2012-2000 5036-3014-149 5037 5038 5039 5040-2021-2006 ."
3,3,"5041 , 5042 , 5043 , 5044 , 5000 5045-2020 5006 5007-3012-2012-2000 5046 5047 5048-3012-2012 5049-3017-100 5050-3009 5013-2035-2017 ."
4,4,"5051-2021-2008-149 , 5052-2021-2008-149 5003 5004 5006 5007-3012-2012-2000 5036-2006 5053-2021-2000 5054-3020 5030-3021-2039 5055-2022-2017-2034 ."

In [6]:
#Reading logosyllabic words from postgreSQL
logosyl_data = pd.read_sql_table('logo_syllabic_tamil_with_names', con=engine)
logosyl_data.drop(columns="index", inplace=True)
s = logosyl_data.index1.sort_values().index
logosyl_data = logosyl_data.reindex(s)
logosyl_data.reset_index(drop=True, inplace=True)
logosyl_data.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,5000,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,106,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,5001,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,5002-2008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,5003,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [7]:
#Reading all logograms from sql
all_logograms = pd.read_sql_table('all_logograms_with_names', con=engine)
all_logograms.drop(columns="index", inplace=True)
all_logograms.reset_index(drop=True, inplace=True)
all_logograms.head()

              key id
0  இருக்கிறீர்கள்  0
1    இருக்கினறனர்  1
2      இருக்கிறது  2
3      இருக்கின்ற  3
4      காட்டிலும்  4

In [8]:
all_logograms.rename(columns={'id': 'Signs'}, inplace=True)
all_logograms.head()

              key Signs
0  இருக்கிறீர்கள்     0
1    இருக்கினறனர்     1
2      இருக்கிறது     2
3      இருக்கின்ற     3
4      காட்டிலும்     4

# Calculating frequencies

In [9]:
#Creating sign df
columns = ['Signs']
signs = pd.DataFrame(columns = columns)
signs.head()

Empty DataFrame
Columns: [Signs]
Index: []

In [10]:
numbers = ['0','1','2','3','4','5','6','7','8','9']

In [11]:
# Function to extract sign pairs from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            word = words[i]
            signs.loc[len(signs), "Signs"] = word
        except:
            pass

In [12]:
signs.head()

  Signs
0  5000
1   106
2  5001
3  5002
4  2008

In [13]:
# Calculating frequency of signs
sign_freq_df = pd.DataFrame(signs["Signs"].value_counts())
sign_freq_df.reset_index(inplace=True)
sign_freq_df.rename(columns={'index': 'Signs', 'Signs': 'Frequency'}, inplace=True)
sign_freq_df.head()

  Signs  Frequency
0  2012        551
1  2008        469
2  2021        433
3  2000        326
4  3004        287

In [14]:
#Merge onto all logograms
all_logograms = all_logograms.merge(sign_freq_df, on="Signs", how ="left")
all_logograms.dropna(inplace=True)
all_logograms.reset_index(drop=True, inplace=True)

In [15]:
all_logograms.head()

         key Signs  Frequency
0  முழுவதும்    11        2.0
1  இலிருந்து    12       25.0
2  கொடுப்பத்    13        1.0
3  மத்தியில்    14        1.0
4   இருப்பத்    16        3.0

# Calculating initial sign frequencies

In [16]:
# Finding initial signs
inital_sign_df = pd.DataFrame(columns = ['initial sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([^-\d])|(^))(\d+)')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.drop(columns=[0,1], inplace=True)
    Sign_df.rename(columns={2:'initial sign'}, inplace=True)

    # Adding it to inital sign dataframe
    inital_sign_df = inital_sign_df.append(Sign_df)
    inital_sign_df.reset_index(drop=True, inplace=True)

In [17]:
inital_sign_df.head()

  initial sign
0         5000
1          106
2         5001
3         5002
4         5003

In [18]:
# Calculating frequency of initial signs
inital_sign_freq_df = pd.DataFrame(inital_sign_df["initial sign"].value_counts())
inital_sign_freq_df.reset_index(inplace=True)
inital_sign_freq_df.rename(columns={'index': 'Signs', 'initial sign': 'Initial Frequency'}, inplace=True)
inital_sign_freq_df.head()

  Signs  Initial Frequency
0  5020                 93
1  5164                 89
2  5235                 80
3  5040                 78
4  5154                 77

In [19]:
#Merge onto all logograms
all_logograms = all_logograms.merge(inital_sign_freq_df, on="Signs", how ="left")

In [20]:
all_logograms.head()

         key Signs  Frequency  Initial Frequency
0  முழுவதும்    11        2.0                2.0
1  இலிருந்து    12       25.0                NaN
2  கொடுப்பத்    13        1.0                1.0
3  மத்தியில்    14        1.0                1.0
4   இருப்பத்    16        3.0                NaN

# Calculating terminal sign frequencies

In [21]:
# Finding terminal signs
terminal_sign_df = pd.DataFrame(columns = ['terminal sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([\d]+[\s]))')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={0:'terminal sign'}, inplace=True)

    # Adding it to inital sign dataframe
    terminal_sign_df = terminal_sign_df.append(Sign_df)
    terminal_sign_df.reset_index(drop=True, inplace=True)

In [22]:
terminal_sign_df.head()

  terminal sign
0         5000
1          106
2         5001
3         2008
4         5003

In [23]:
# Calculating frequency of terminal signs
terminal_sign_freq_df = pd.DataFrame(terminal_sign_df["terminal sign"].value_counts())
terminal_sign_freq_df.reset_index(inplace=True)
terminal_sign_freq_df.rename(columns={'index': 'Signs', 'terminal sign': 'Terminal Frequency'}, inplace=True)
terminal_sign_freq_df["Signs"]=terminal_sign_freq_df["Signs"].str.replace(' ','')
terminal_sign_freq_df.head()

  Signs  Terminal Frequency
0  2008                 437
1  2012                 246
2   149                 225
3  2006                 220
4  2000                 213

In [24]:
#Merge onto all logograms
all_logograms = all_logograms.merge(terminal_sign_freq_df, on="Signs", how ="left")

In [25]:
all_logograms.head()

         key Signs  Frequency  Initial Frequency  Terminal Frequency
0  முழுவதும்    11        2.0                2.0                 2.0
1  இலிருந்து    12       25.0                NaN                25.0
2  கொடுப்பத்    13        1.0                1.0                 NaN
3  மத்தியில்    14        1.0                1.0                 1.0
4   இருப்பத்    16        3.0                NaN                 NaN

# Calculating natural logs for each sign

In [26]:
all_logograms["log Initial Frequency"] = ''
all_logograms["log Terminal Frequency"] = ''
all_logograms["log Frequency"] = ''
all_logograms["NPI(i)"] = ''
all_logograms["NPT(i)"] = ''
all_logograms.fillna(0, inplace=True)

In [27]:
all_logograms["log Initial Frequency"] = np.log(all_logograms["Initial Frequency"])
all_logograms["log Terminal Frequency"] = np.log(all_logograms["Terminal Frequency"])
all_logograms["log Frequency"] = np.log(all_logograms["Frequency"])

all_logograms.head()

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,முழுவதும்,11,2.0,2.0,2.0,0.693147,0.693147,0.693147,,
1,இலிருந்து,12,25.0,0.0,25.0,-inf,3.218876,3.218876,,
2,கொடுப்பத்,13,1.0,1.0,0.0,0.000000,-inf,0.000000,,
3,மத்தியில்,14,1.0,1.0,1.0,0.000000,0.000000,0.000000,,
4,இருப்பத்,16,3.0,0.0,0.0,-inf,-inf,1.098612,,

In [28]:
#Only calculating NPI(i) if intial frequency is greater than terminal frequency
temp_df = all_logograms[all_logograms["Initial Frequency"]>all_logograms["Terminal Frequency"]]
temp_df["NPI(i)"] = -temp_df["log Initial Frequency"]/temp_df["log Frequency"]
mask = temp_df.index
all_logograms.loc[mask, ["NPI(i)"]] = temp_df.loc[:, ["NPI(i)"]]
all_logograms.head()

<ipython-input-28-e0718e790924>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["NPI(i)"] = -temp_df["log Initial Frequency"]/temp_df["log Frequency"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,முழுவதும்,11,2.0,2.0,2.0,0.693147,0.693147,0.693147,,
1,இலிருந்து,12,25.0,0.0,25.0,-inf,3.218876,3.218876,,
2,கொடுப்பத்,13,1.0,1.0,0.0,0.000000,-inf,0.000000,NaN,
3,மத்தியில்,14,1.0,1.0,1.0,0.000000,0.000000,0.000000,,
4,இருப்பத்,16,3.0,0.0,0.0,-inf,-inf,1.098612,,

In [29]:
#Only calculating NPT(i) if terminal frequency is greater than initial frequency
temp_df = all_logograms[all_logograms["Terminal Frequency"]>all_logograms["Initial Frequency"]]
temp_df["NPT(i)"] = -temp_df["log Terminal Frequency"]/temp_df["log Frequency"]
mask = temp_df.index
all_logograms.loc[mask, ["NPT(i)"]] = temp_df.loc[:, ["NPT(i)"]]
all_logograms.head()

<ipython-input-29-f44ef684120c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["NPT(i)"] = -temp_df["log Terminal Frequency"]/temp_df["log Frequency"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,முழுவதும்,11,2.0,2.0,2.0,0.693147,0.693147,0.693147,,
1,இலிருந்து,12,25.0,0.0,25.0,-inf,3.218876,3.218876,,-1
2,கொடுப்பத்,13,1.0,1.0,0.0,0.000000,-inf,0.000000,NaN,
3,மத்தியில்,14,1.0,1.0,1.0,0.000000,0.000000,0.000000,,
4,இருப்பத்,16,3.0,0.0,0.0,-inf,-inf,1.098612,,

# Calculating sign pair frequencies

In [30]:
#Creating sign pairs
columns = ['Sign pairs']
sign_pairs = pd.DataFrame(columns = columns)
sign_pairs.head()

Empty DataFrame
Columns: [Sign pairs]
Index: []

In [31]:
# Function to extract sign pairs from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            first = words[i]
            second = words[i+1]
            sign_pairs.loc[len(sign_pairs), "Sign pairs"] = [first, second]
        except:
            pass

In [32]:
sign_pairs.head()

     Sign pairs
0   [5000, 106]
1   [106, 5001]
2  [5001, 5002]
3  [5002, 2008]
4  [2008, 5003]

In [33]:
# Calculating frequency of sign pairs
sign_pairs_df = pd.DataFrame(sign_pairs["Sign pairs"].value_counts())
sign_pairs_df.reset_index(inplace=True)
sign_pairs_df.rename(columns={'index': 'Sign pairs', 'Sign pairs': 'frequency'}, inplace=True)
sign_pairs_df.head()

     Sign pairs  frequency
0  [3004, 2008]        155
1  [2012, 2000]        104
2  [3012, 2012]         94
3  [2012, 2008]         68
4  [2021, 2008]         67

# Calculating initial sign pair frequencies

# Model of Connectivity

In [35]:
columns = ['Sign pairs']
sign_pairs2 = pd.DataFrame(columns = columns)
sign_pairs2.head()

  Sign pairs
0  5002-2008
1  5007-2006
2  5009-3003
3  5011-3004
4  5012-3005

In [36]:
#Testing
Sentence = '5018 5019-3007 , 5020 5021 5022-2022 5023 : .'

     Sign pairs  initial frequency
0  [5235, 2021]                 54
1  [5024, 2012]                 49
2  [5017, 3037]                 49
3  [5079, 3006]                 48
4  [5095, 2019]                 29

In [36]:

indexes = []
try:
    for i in range(len(Sentence)):
        if (Sentence[i] in numbers) and (Sentence[i+1] in numbers) and (Sentence[i-1] not in numbers):
            indexes.append(i)
except:
    pass
words = []
try:
    for i in range(len(indexes)):
        j = indexes[i]
        letter =[]
        for k in range(6):
            if Sentence[j+k] in numbers:
                letter.append(Sentence[j+k])
            else:
                word = ''.join(letter)
        words.append(word)
except:
    pass
for i in range(len(words)):
        try:
            first = words[i]
            second = words[i+1]
            sign_pairs2.loc[len(sign_pairs2), "Sign pairs"] = [first, second]
        except:
            pass

In [37]:
words

['5018', '5019', '3007', '5020', '5021', '5022', '2022', '5023']

In [38]:

sign_pairs2["i"] = ''
sign_pairs2["j"] = ''
sign_pairs2['NPI']=0
sign_pairs2['NPPI']=0
sign_pairs2['NPT']=0
sign_pairs2['NPPT']=0
sign_pairs2['NPP']=0
sign_pairs2['NIT']=0

   Sign pairs
0  5002-2008
1   2001-155
2  2001-3006
3  3004-2008
4  5012-3005

In [39]:
KI = 0.2
KT = 0.2
KP = 1
KSP=3
KITP=1
KIT =1

     Sign pairs  terminal frequency
0  [3004, 2008]                 144
1  [2012, 2000]                  68
2  [2021, 2008]                  60
3  [2012, 2008]                  59
4  [5079, 3006]                  48

# Merging initial and terminal sign pairs with sign pairs df

In [40]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df["Sign pairs"].astype(str)
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].astype(str)

In [41]:
sign_pairs_df = sign_pairs_df.merge(initial_sign_pair_freq_df, on="Sign pairs", how ="left")
sign_pairs_df = sign_pairs_df.merge(terminal_sign_pair_freq_df, on="Sign pairs", how ="left")
sign_pairs_df.fillna(0, inplace=True)
sign_pairs_df.head(20)

          Sign pairs  frequency  initial frequency  terminal frequency
0   ['3004', '2008']        155                0.0               144.0
1   ['2012', '2000']        104                0.0                68.0
2   ['3012', '2012']         94                0.0                32.0
3   ['2012', '2008']         68                0.0                59.0
4   ['2021', '2008']         67                0.0                60.0
5   ['3004', '2000']         65                0.0                45.0
6   ['2012', '2001']         57                0.0                28.0
7   ['5235', '2021']         54               54.0                 4.0
8   ['5024', '2012']         49               49.0                32.0
9   ['5017', '3037']         49               49.0                23.0
10  ['5079', '3006']         48               48.0                48.0
11  ['3003', '2001']         42                0.0                23.0
12   ['3042', '149']         41                0.0                39.0
13  ['2014', '2006']         40                0.0                40.0
14  ['2021', '2000']         40                0.0                21.0
15  ['2000', '3042']         40                0.0                 0.0
16  ['2021', '2029']         38                0.0                38.0
17  ['2017', '2034']         36                0.0                36.0
18  ['2021', '2007']         30                0.0                30.0
19  ['5095', '2019']         29               29.0                13.0

In [40]:
for i in range(len(sign_pairs2)):
    sign_pairs2.loc[i, "i"] = sign_pairs2.loc[i, "Sign pairs"][0] 
    sign_pairs2.loc[i, "j"] = sign_pairs2.loc[i, "Sign pairs"][1] 

    #NPI
    temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "j"]]
    temp.drop_duplicates(subset="Signs")
    NPItemp = temp["NPI(i)"]
    NPItemp.reset_index(drop=True, inplace=True)
    NPItemp = NPItemp.to_list()
    try:
        sign_pairs2.loc[i, "NPI"] = -NPItemp[0]*KI
    except:
        pass

    #NPT
    temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "i"]]
    temp.drop_duplicates(subset="Signs")
    NPTtemp = temp["NPT(i)"]
    NPTtemp.reset_index(drop=True, inplace=True)
    NPTtemp = NPTtemp.to_list()
    try:
        sign_pairs2.loc[i, "NPT"] = -NPTtemp[0]*KI
    except:
        pass

In [42]:
sign_pairs2

Empty DataFrame
Columns: [Sign pairs]
Index: []

In [43]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
sign_pairs2["Sign pairs"] = sign_pairs2["Sign pairs"].astype(str)

In [44]:
sign_pairs2 = sign_pairs2.merge(sign_pairs_df, on="Sign pairs", how ="left")
sign_pairs2.rename(columns={"frequency":"Pair frequency", "initial frequency":"initial pair frequency", "terminal frequency":"terminal pair frequency"}, inplace=True)
sign_pairs2

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Pair frequency
0,"['5018', '5019']",5018,5019,0.2,0,0.000000,0,0,0,3
1,"['5019', '3007']",5019,3007,0.0,0,0.000000,0,0,0,3
2,"['3007', '5020']",3007,5020,0.2,0,0.200000,0,0,0,1
3,"['5020', '5021']",5020,5021,0.0,0,0.000000,0,0,0,1
4,"['5021', '5022']",5021,5022,0.2,0,0.000000,0,0,0,1
5,"['5022', '2022']",5022,2022,0.0,0,0.000000,0,0,0,1
6,"['2022', '5023']",2022,5023,0.2,0,0.134008,0,0,0,1

In [45]:
sign_pairs2 = sign_pairs2.merge(all_logograms[['Signs', 'Frequency', 'Initial Frequency', 'Terminal Frequency', 'log Frequency', 'log Initial Frequency', 'log Terminal Frequency']], left_on= "i", right_on="Signs", how ="left")
sign_pairs2.drop(columns="Signs", inplace=True)
sign_pairs2.rename(columns={"log Frequency":"log Frequency(i)", "Frequency":"Frequency(i)","Initial Frequency":"Initial Frequency(i)","Terminal Frequency":"Terminal Frequency(i)", "log Initial Frequency":"log Initial Frequency(i)", "log Terminal Frequency":"log Terminal Frequency(i)"}, inplace=True)
sign_pairs2.drop_duplicates(inplace=True)
sign_pairs2

['5018', '5019', '3007', '5020', '5021', '5022', '2022', '5023']

In [46]:
sign_pairs2 = sign_pairs2.merge(all_logograms[['Signs', 'Frequency', 'Initial Frequency', 'Terminal Frequency','log Frequency', 'log Initial Frequency', 'log Terminal Frequency']], left_on= "j", right_on="Signs", how ="left")
sign_pairs2.drop(columns="Signs", inplace=True)
sign_pairs2.rename(columns={"log Frequency":"log Frequency(j)", "Frequency":"Frequency(j)","Initial Frequency":"Initial Frequency(j)","Terminal Frequency":"Terminal Frequency(j)", "log Initial Frequency":"log Initial Frequency(j)", "log Terminal Frequency":"log Terminal Frequency(j)"}, inplace=True)
sign_pairs2.drop_duplicates(inplace=True)
sign_pairs2

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Pair frequency,log Frequency(i),log Initial Frequency(i),log Terminal Frequency(j),log Frequency(j),log Initial Frequency(j),log Terminal Frequency(j)
0,"['5018', '5019']",5018,5019,0.2,0,0.000000,0,0,0,3,3.828641,3.828641,2.639057,2.197225,2.197225,-inf
1,"['5019', '3007']",5019,3007,0.0,0,0.000000,0,0,0,3,2.197225,2.197225,-inf,3.496508,-inf,3.496508
2,"['3007', '5020']",3007,5020,0.2,0,0.200000,0,0,0,1,3.496508,-inf,3.496508,4.532599,4.532599,3.951244
3,"['5020', '5021']",5020,5021,0.0,0,0.000000,0,0,0,1,4.532599,4.532599,3.951244,1.945910,1.945910,1.945910
4,"['5021', '5022']",5021,5022,0.2,0,0.000000,0,0,0,1,1.945910,1.945910,1.945910,2.564949,2.564949,0.000000
5,"['5022', '2022']",5022,2022,0.0,0,0.000000,0,0,0,1,2.564949,2.564949,0.000000,4.804021,-inf,3.218876
17,"['2022', '5023']",2022,5023,0.2,0,0.134008,0,0,0,1,4.804021,-inf,3.218876,2.833213,2.833213,1.609438

In [93]:
for i in range(len(sign_pairs2)):
    try:
        if ((i == 0) or ((sign_pairs2.loc[i, "initial pair frequency"] > sign_pairs2.loc[i-1, "initial pair frequency"])and(sign_pairs2.loc[i, "initial pair frequency"] > sign_pairs2.loc[i-1, "terminal pair frequency"])) and (sign_pairs2.loc[i, "Frequency(i)"] > 1) and (sign_pairs2.loc[i, "Frequency(j)"] > 1)):
            pair_freq_1 = np.log(sign_pairs2.loc[i, "initial pair frequency"] +1)
            sign_pairs2.loc[i, "NPPI"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
    except:
        pass
    try:
        if ((i == len(sign_pairs2)-1) or ((sign_pairs2.loc[i, "terminal pair frequency"] > sign_pairs2.loc[i+1, "initial pair frequency"])and(sign_pairs2.loc[i, "terminal pair frequency"] > sign_pairs2.loc[i+1, "terminal pair frequency"])) and (sign_pairs2.loc[i, "Frequency(i)"] > 1) and (sign_pairs2.loc[i, "Frequency(j)"] > 1)):
            pair_freq_1 = np.log(sign_pairs2.loc[i, "initial pair frequency"] +1)
            sign_pairs2.loc[i, "NPPT"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
    except:
        pass
    try:
        if (sign_pairs2.loc[i, "Initial Frequency(i)"]) > (sign_pairs2.loc[i, "Terminal Frequency(i)"]) and (sign_pairs2.loc[i, "Terminal Frequency(j)"]) > (sign_pairs2.loc[i, "Initial Frequency(j)"]):
            sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Initial Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Terminal Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]
    except:
        pass
    try:
        if (sign_pairs2.loc[i, "Initial Frequency(i)"]) < (sign_pairs2.loc[i, "Terminal Frequency(i)"]) and (sign_pairs2.loc[i, "Terminal Frequency(j)"]) < (sign_pairs2.loc[i, "Initial Frequency(j)"]):
            sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Terminal Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Initial Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]
    except:
        pass

    try:
        if (sign_pairs2.loc[i, "Frequency(i)"]) > (sign_pairs2.loc[i, "Frequency(j)"]):
            pair_freq = np.log(sign_pairs2.loc[i, "Pair frequency"])
            sign_pairs2.loc[i, "NPP"] = pair_freq/(sign_pairs2.loc[i, "log Frequency(j)"])
    except:
        pass
    try:
        if (sign_pairs2.loc[i, "Frequency(j)"]) > (sign_pairs2.loc[i, "Frequency(i)"]):
            pair_freq = np.log(sign_pairs2.loc[i, "Pair frequency"])
            sign_pairs2.loc[i, "NPP"] = pair_freq/sign_pairs2.loc[i, "log Frequency(i)"]
    except:
        pass

In [48]:
sign_pairs2.fillna(0, inplace=True)
sign_pairs2["NIT"] = sign_pairs2["NIT"].replace(np.inf, 1)
sign_pairs2["NIT"] = sign_pairs2["NIT"].replace(-np.inf, -1)
sign_pairs2

In [49]:
# Finding initial sign pairs
initial_sign_pair_df = pd.DataFrame(columns = ['Sign pairs'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([^-\d])|(^))(\d+-\d+)')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.drop(columns=[0,1], inplace=True)
    Sign_df.rename(columns={2:'Sign pairs'}, inplace=True)

    # Adding it to inital sign dataframe
    initial_sign_pair_df = initial_sign_pair_df.append(Sign_df)
    initial_sign_pair_df.reset_index(drop=True, inplace=True)

     Sign pairs     i     j  NPI  NPPI       NPT  NPPT  NPP  NIT
0  [5018, 5019]  5018  5019  0.2     0  0.000000     0    0    0
1  [5019, 3007]  5019  3007  0.0     0  0.000000     0    0    0
2  [3007, 5020]  3007  5020  0.2     0  0.200000     0    0    0
3  [5020, 5021]  5020  5021  0.0     0  0.000000     0    0    0
4  [5021, 5022]  5021  5022  0.2     0  0.000000     0    0    0
5  [5022, 2022]  5022  2022  0.0     0  0.000000     0    0    0
6  [2022, 5023]  2022  5023  0.2     0  0.134008     0    0    0

In [50]:
initial_sign_pair_df.head()

  initial sign pair
0         5002-2008
1         5007-2006
2         5009-3003
3         5011-3004
4         5012-3005

In [51]:
# Calculating frequency of initial signs
initial_sign_pair_freq_df = pd.DataFrame(initial_sign_pair_df["Sign pairs"].value_counts())
initial_sign_pair_freq_df.reset_index(inplace=True)
initial_sign_pair_freq_df.rename(columns={'index': 'Sign pairs', 'Sign pairs': 'initial frequency'}, inplace=True)

save_frequency = initial_sign_pair_freq_df

#Changing hyphen values to list
initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df["Sign pairs"].astype(str)
initial_sign_pair_freq_df = initial_sign_pair_freq_df["Sign pairs"].str.split("-", n = 1, expand = True)
initial_sign_pair_freq_df["Sign pairs"] =''
initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df[[0, 1]].values.tolist()
initial_sign_pair_freq_df.drop(columns =[0,1], inplace=True)
initial_sign_pair_freq_df["initial frequency"] = save_frequency["initial frequency"] 

initial_sign_pair_freq_df.head()

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Pair frequency,initial pair frequency,terminal pair frequency
0,"['5018', '5019']",5018,5019,0.2,0,0.000000,0,0,0,3,0.0,0.0
1,"['5019', '3007']",5019,3007,0.0,0,0.000000,0,0,0,3,3.0,3.0
2,"['3007', '5020']",3007,5020,0.2,0,0.200000,0,0,0,1,0.0,0.0
3,"['5020', '5021']",5020,5021,0.0,0,0.000000,0,0,0,1,0.0,0.0
4,"['5021', '5022']",5021,5022,0.2,0,0.000000,0,0,0,1,0.0,0.0
5,"['5022', '2022']",5022,2022,0.0,0,0.000000,0,0,0,1,1.0,1.0
6,"['2022', '5023']",2022,5023,0.2,0,0.134008,0,0,0,1,0.0,0.0

# Calculating terminal sign pair frequencies

In [53]:
# Finding terminal sign pairs
terminal_sign_pair_df = pd.DataFrame(columns = ['Sign pairs'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([\d]+-[\d]+[^-\d]))')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={0:'Sign pairs'}, inplace=True)

    # Adding it to inital sign dataframe
    terminal_sign_pair_df = terminal_sign_pair_df.append(Sign_df)
    terminal_sign_pair_df.reset_index(drop=True, inplace=True)

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Pair frequency,...,Terminal Frequency(i),log Frequency(i),log Initial Frequency(i),log Terminal Frequency(i),Frequency(j),Initial Frequency(j),Terminal Frequency(j),log Frequency(j),log Initial Frequency(j),log Terminal Frequency(j)
0,"['5018', '5019']",5018,5019,0.2,0,0.000000,0,0,0,3,...,14.0,3.828641,3.828641,2.639057,9.0,9.0,0.0,2.197225,2.197225,-inf
1,"['5019', '3007']",5019,3007,0.0,0,0.000000,0,0,0,3,...,0.0,2.197225,2.197225,-inf,33.0,0.0,33.0,3.496508,-inf,3.496508
2,"['3007', '5020']",3007,5020,0.2,0,0.200000,0,0,0,1,...,33.0,3.496508,-inf,3.496508,93.0,93.0,52.0,4.532599,4.532599,3.951244
3,"['5020', '5021']",5020,5021,0.0,0,0.000000,0,0,0,1,...,52.0,4.532599,4.532599,3.951244,7.0,7.0,7.0,1.945910,1.945910,1.945910
4,"['5021', '5022']",5021,5022,0.2,0,0.000000,0,0,0,1,...,7.0,1.945910,1.945910,1.945910,13.0,13.0,1.0,2.564949,2.564949,0.000000
5,"['5022', '2022']",5022,2022,0.0,0,0.000000,0,0,0,1,...,1.0,2.564949,2.564949,0.000000,122.0,0.0,25.0,4.804021,-inf,3.218876
17,"['2022', '5023']",2022,5023,0.2,0,0.134008,0,0,0,1,...,25.0,4.804021,-inf,3.218876,17.0,17.0,5.0,2.833213,2.833213,1.609438

In [54]:
sign_pairs2.reset_index(drop=True, inplace=True)

In [80]:
terminal_sign_pair_df.head()

<ipython-input-80-3a5dfedb6e23>:16: RuntimeWarning: invalid value encountered in double_scalars
  sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Initial Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Terminal Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]

In [82]:
sign_pairs2[["Initial Frequency(i)", "Terminal Frequency(i)", "Terminal Frequency(j)", "Initial Frequency(j)"]]

,Initial Frequency(i),Terminal Frequency(i),Terminal Frequency(j),Initial Frequency(j)
0,46.0,14.0,0.0,9.0
1,9.0,0.0,33.0,0.0
2,0.0,33.0,52.0,93.0
3,93.0,52.0,7.0,7.0
4,7.0,7.0,1.0,13.0
5,13.0,1.0,25.0,0.0
6,0.0,25.0,5.0,17.0

In [88]:
# Calculating frequency of terminal signs
terminal_sign_pair_freq_df = pd.DataFrame(terminal_sign_pair_df["Sign pairs"].value_counts())
terminal_sign_pair_freq_df.reset_index(inplace=True)
terminal_sign_pair_freq_df.rename(columns={'index': 'Sign pairs', 'Sign pairs': 'terminal frequency'}, inplace=True)

save_frequency = terminal_sign_pair_freq_df

#Changing hyphen values to list
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].astype(str)
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].str.replace(' ','')
terminal_sign_pair_freq_df = terminal_sign_pair_freq_df["Sign pairs"].str.split("-", n = 1, expand = True)
terminal_sign_pair_freq_df["Sign pairs"] =''
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df[[0, 1]].values.tolist()
terminal_sign_pair_freq_df.drop(columns =[0,1], inplace=True)
terminal_sign_pair_freq_df["terminal frequency"] = save_frequency["terminal frequency"] 

terminal_sign_pair_freq_df.head()

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Pair frequency,...,Terminal Frequency(i),log Frequency(i),log Initial Frequency(i),log Terminal Frequency(i),Frequency(j),Initial Frequency(j),Terminal Frequency(j),log Frequency(j),log Initial Frequency(j),log Terminal Frequency(j)
0,"['5018', '5019']",5018,5019,0.2,0.000000,0.000000,0.000000,0.5,0.0,3,...,14.0,3.828641,3.828641,2.639057,9.0,9.0,0.0,2.197225,2.197225,-inf
1,"['5019', '3007']",5019,3007,0.0,0.180446,0.000000,0.180446,0.5,1.0,3,...,0.0,2.197225,2.197225,-inf,33.0,0.0,33.0,3.496508,-inf,3.496508
2,"['3007', '5020']",3007,5020,0.2,0.000000,0.200000,0.000000,0.0,-1.0,1,...,33.0,3.496508,-inf,3.496508,93.0,93.0,52.0,4.532599,4.532599,3.951244
3,"['5020', '5021']",5020,5021,0.0,0.000000,0.000000,0.000000,0.0,0.0,1,...,52.0,4.532599,4.532599,3.951244,7.0,7.0,7.0,1.945910,1.945910,1.945910
4,"['5021', '5022']",5021,5022,0.2,0.000000,0.000000,0.000000,0.0,0.0,1,...,7.0,1.945910,1.945910,1.945910,13.0,13.0,1.0,2.564949,2.564949,0.000000
5,"['5022', '2022']",5022,2022,0.0,0.056252,0.000000,0.056252,0.0,0.0,1,...,1.0,2.564949,2.564949,0.000000,122.0,0.0,25.0,4.804021,-inf,3.218876
6,"['2022', '5023']",2022,5023,0.2,0.000000,0.134008,0.000000,0.0,-1.0,1,...,25.0,4.804021,-inf,3.218876,17.0,17.0,5.0,2.833213,2.833213,1.609438

# Creating Connectivity Dataframe

In [94]:
connectivity_df = sign_pairs2[["Sign pairs", "i", "j", "NPI", "NPPI", "NPT", "NPPT", "NPP", "NIT"]]
connectivity_df["Connectivity"] = 1.5 - connectivity_df["NPI"]*KI - connectivity_df["NPT"]*KT - connectivity_df["NPPI"]*KITP - connectivity_df["NPPT"]*KITP + connectivity_df["NPP"]*KP + connectivity_df["NIT"]*KIT
connectivity_df

<ipython-input-94-3206538456a6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  connectivity_df["Connectivity"] = 1.5 - connectivity_df["NPI"]*KI - connectivity_df["NPT"]*KT - connectivity_df["NPPI"]*KITP - connectivity_df["NPPT"]*KITP + connectivity_df["NPP"]*KP + connectivity_df["NIT"]*KIT

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Connectivity
0,"['5018', '5019']",5018,5019,0.2,0.000000,0.000000,0.000000,0.5,0.0,1.960000
1,"['5019', '3007']",5019,3007,0.0,0.180446,0.000000,0.180446,0.5,1.0,2.639109
2,"['3007', '5020']",3007,5020,0.2,0.000000,0.200000,0.000000,0.0,-1.0,0.420000
3,"['5020', '5021']",5020,5021,0.0,0.000000,0.000000,0.000000,0.0,0.0,1.500000
4,"['5021', '5022']",5021,5022,0.2,0.000000,0.000000,0.000000,0.0,0.0,1.460000
5,"['5022', '2022']",5022,2022,0.0,0.056252,0.000000,0.056252,0.0,0.0,1.387495
6,"['2022', '5023']",2022,5023,0.2,0.000000,0.134008,0.000000,0.0,-1.0,0.433198