In [1]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import math
import re
import numpy as np

In [2]:
# Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [3]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [4]:
#Creating engine
engine = create_engine(db_string)

In [5]:
# Reading logosyllabic sentences data from postgreSQL
logosyllabic_sentence_df = pd.read_sql_table('logo_syllabic_tamil_sentences_with_names', con=engine)
logosyllabic_sentence_df.head()

,index,Sentence
0,0,5000 106 5001 5002-2008 5003 5004 ( 5005 ) 5006 5007-2006-2001-2001-155 5008 5009-3003-2001-3006 5010 85 5011-3004-2008 5012-3005 5013-3006 98 5014 5015 5016-2021-47 .
1,1,"5018 5019-3007 , 5020 5021 5022-2022 5023 : ."
2,2,"5024 11 5006-3009 5025-2008 5026-3010 5027-3006 5028-3004-2000-2025 5029-2008 5030-3011 , 5031 5032-3012-2012-2008 -107 5006 5007-3012-2012-2000 5033-3013-149 , 5034-3007 5035 5006 5007-3012-2012-2000 5036-3014-149 5037 5038 5039 5040-2021-2006 ."
3,3,"5041 , 5042 , 5043 , 5044 , 5000 5045-2020 5006 5007-3012-2012-2000 5046 5047 5048-3012-2012 5049-3017-100 5050-3009 5013-2035-2017 ."
4,4,"5051-2021-2008-149 , 5052-2021-2008-149 5003 5004 5006 5007-3012-2012-2000 5036-2006 5053-2021-2000 5054-3020 5030-3021-2039 5055-2022-2017-2034 ."

In [6]:
#Reading logosyllabic words from postgreSQL
logosyl_data = pd.read_sql_table('logo_syllabic_tamil_with_names', con=engine)
logosyl_data.drop(columns="index", inplace=True)
s = logosyl_data.index1.sort_values().index
logosyl_data = logosyl_data.reindex(s)
logosyl_data.reset_index(drop=True, inplace=True)
logosyl_data.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,5000,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,106,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,5001,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,5002-2008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,5003,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [7]:
#Reading all logograms from sql
all_logograms = pd.read_sql_table('all_logograms_with_names', con=engine)
all_logograms.drop(columns="index", inplace=True)
all_logograms.reset_index(drop=True, inplace=True)
all_logograms.head()

              key id
0  இருக்கிறீர்கள்  0
1    இருக்கினறனர்  1
2      இருக்கிறது  2
3      இருக்கின்ற  3
4      காட்டிலும்  4

In [8]:
all_logograms.rename(columns={'id': 'Signs'}, inplace=True)
all_logograms.head()

              key Signs
0  இருக்கிறீர்கள்     0
1    இருக்கினறனர்     1
2      இருக்கிறது     2
3      இருக்கின்ற     3
4      காட்டிலும்     4

# Calculating frequencies

In [9]:
#Creating sign df
columns = ['Signs']
signs = pd.DataFrame(columns = columns)
signs.head()

Empty DataFrame
Columns: [Signs]
Index: []

In [10]:
numbers = ['0','1','2','3','4','5','6','7','8','9']

In [11]:
# Function to extract sign pairs from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            word = words[i]
            signs.loc[len(signs), "Signs"] = word
        except:
            pass

In [12]:
signs.head()

  Signs
0  5000
1   106
2  5001
3  5002
4  2008

In [13]:
# Calculating frequency of signs
sign_freq_df = pd.DataFrame(signs["Signs"].value_counts())
sign_freq_df.reset_index(inplace=True)
sign_freq_df.rename(columns={'index': 'Signs', 'Signs': 'Frequency'}, inplace=True)
sign_freq_df.head()

  Signs  Frequency
0  2012        551
1  2008        469
2  2021        433
3  2000        326
4  3004        287

In [14]:
#Merge onto all logograms
all_logograms = all_logograms.merge(sign_freq_df, on="Signs", how ="left")
all_logograms.dropna(inplace=True)
all_logograms.reset_index(drop=True, inplace=True)

In [15]:
all_logograms.head()

         key Signs  Frequency
0  முழுவதும்    11        2.0
1  இலிருந்து    12       25.0
2  கொடுப்பத்    13        1.0
3  மத்தியில்    14        1.0
4   இருப்பத்    16        3.0

# Calculating initial sign frequencies

In [16]:
# Finding initial signs
inital_sign_df = pd.DataFrame(columns = ['initial sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([^-\d])|(^))(\d+)')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.drop(columns=[0,1], inplace=True)
    Sign_df.rename(columns={2:'initial sign'}, inplace=True)

    # Adding it to inital sign dataframe
    inital_sign_df = inital_sign_df.append(Sign_df)
    inital_sign_df.reset_index(drop=True, inplace=True)

In [17]:
inital_sign_df.head()

  initial sign
0         5000
1          106
2         5001
3         5002
4         5003

In [18]:
# Calculating frequency of initial signs
inital_sign_freq_df = pd.DataFrame(inital_sign_df["initial sign"].value_counts())
inital_sign_freq_df.reset_index(inplace=True)
inital_sign_freq_df.rename(columns={'index': 'Signs', 'initial sign': 'Initial Frequency'}, inplace=True)
inital_sign_freq_df.head()

  Signs  Initial Frequency
0  5020                 93
1  5164                 89
2  5235                 80
3  5040                 78
4  5154                 77

In [19]:
#Merge onto all logograms
all_logograms = all_logograms.merge(inital_sign_freq_df, on="Signs", how ="left")

In [20]:
all_logograms.head()

         key Signs  Frequency  Initial Frequency
0  முழுவதும்    11        2.0                2.0
1  இலிருந்து    12       25.0                NaN
2  கொடுப்பத்    13        1.0                1.0
3  மத்தியில்    14        1.0                1.0
4   இருப்பத்    16        3.0                NaN

# Calculating terminal sign frequencies

In [21]:
# Finding terminal signs
terminal_sign_df = pd.DataFrame(columns = ['terminal sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([\d]+[\s]))')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={0:'terminal sign'}, inplace=True)

    # Adding it to inital sign dataframe
    terminal_sign_df = terminal_sign_df.append(Sign_df)
    terminal_sign_df.reset_index(drop=True, inplace=True)

In [22]:
terminal_sign_df.head()

  terminal sign
0         5000
1          106
2         5001
3         2008
4         5003

In [23]:
# Calculating frequency of terminal signs
terminal_sign_freq_df = pd.DataFrame(terminal_sign_df["terminal sign"].value_counts())
terminal_sign_freq_df.reset_index(inplace=True)
terminal_sign_freq_df.rename(columns={'index': 'Signs', 'terminal sign': 'Terminal Frequency'}, inplace=True)
terminal_sign_freq_df["Signs"]=terminal_sign_freq_df["Signs"].str.replace(' ','')
terminal_sign_freq_df.head()

  Signs  Terminal Frequency
0  2008                 437
1  2012                 246
2   149                 225
3  2006                 220
4  2000                 213

In [24]:
#Merge onto all logograms
all_logograms = all_logograms.merge(terminal_sign_freq_df, on="Signs", how ="left")

In [25]:
all_logograms.head()

         key Signs  Frequency  Initial Frequency  Terminal Frequency
0  முழுவதும்    11        2.0                2.0                 2.0
1  இலிருந்து    12       25.0                NaN                25.0
2  கொடுப்பத்    13        1.0                1.0                 NaN
3  மத்தியில்    14        1.0                1.0                 1.0
4   இருப்பத்    16        3.0                NaN                 NaN

# Calculating natural logs for each sign

In [26]:
all_logograms["log Initial Frequency"] = ''
all_logograms["log Terminal Frequency"] = ''
all_logograms["log Frequency"] = ''
all_logograms["NPI(i)"] = ''
all_logograms["NPT(i)"] = ''
all_logograms.fillna(0, inplace=True)

In [27]:
all_logograms["log Initial Frequency"] = np.log(all_logograms["Initial Frequency"])
all_logograms["log Terminal Frequency"] = np.log(all_logograms["Terminal Frequency"])
all_logograms["log Frequency"] = np.log(all_logograms["Frequency"])

all_logograms.head()

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,முழுவதும்,11,2.0,2.0,2.0,0.693147,0.693147,0.693147,,
1,இலிருந்து,12,25.0,0.0,25.0,-inf,3.218876,3.218876,,
2,கொடுப்பத்,13,1.0,1.0,0.0,0.000000,-inf,0.000000,,
3,மத்தியில்,14,1.0,1.0,1.0,0.000000,0.000000,0.000000,,
4,இருப்பத்,16,3.0,0.0,0.0,-inf,-inf,1.098612,,

In [28]:
#Only calculating NPI(i) if intial frequency is greater than terminal frequency
temp_df = all_logograms[all_logograms["Initial Frequency"]>all_logograms["Terminal Frequency"]]
temp_df["NPI(i)"] = -temp_df["log Initial Frequency"]/temp_df["log Frequency"]
mask = temp_df.index
all_logograms.loc[mask, ["NPI(i)"]] = temp_df.loc[:, ["NPI(i)"]]
all_logograms.head()

<ipython-input-28-e0718e790924>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["NPI(i)"] = -temp_df["log Initial Frequency"]/temp_df["log Frequency"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,முழுவதும்,11,2.0,2.0,2.0,0.693147,0.693147,0.693147,,
1,இலிருந்து,12,25.0,0.0,25.0,-inf,3.218876,3.218876,,
2,கொடுப்பத்,13,1.0,1.0,0.0,0.000000,-inf,0.000000,NaN,
3,மத்தியில்,14,1.0,1.0,1.0,0.000000,0.000000,0.000000,,
4,இருப்பத்,16,3.0,0.0,0.0,-inf,-inf,1.098612,,

In [29]:
#Only calculating NPT(i) if terminal frequency is greater than initial frequency
temp_df = all_logograms[all_logograms["Terminal Frequency"]>all_logograms["Initial Frequency"]]
temp_df["NPT(i)"] = -temp_df["log Terminal Frequency"]/temp_df["log Frequency"]
mask = temp_df.index
all_logograms.loc[mask, ["NPT(i)"]] = temp_df.loc[:, ["NPT(i)"]]
all_logograms.head()

<ipython-input-29-f44ef684120c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["NPT(i)"] = -temp_df["log Terminal Frequency"]/temp_df["log Frequency"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,முழுவதும்,11,2.0,2.0,2.0,0.693147,0.693147,0.693147,,
1,இலிருந்து,12,25.0,0.0,25.0,-inf,3.218876,3.218876,,-1
2,கொடுப்பத்,13,1.0,1.0,0.0,0.000000,-inf,0.000000,NaN,
3,மத்தியில்,14,1.0,1.0,1.0,0.000000,0.000000,0.000000,,
4,இருப்பத்,16,3.0,0.0,0.0,-inf,-inf,1.098612,,

# Calculating sign pair frequencies

In [30]:
#Creating sign pairs
columns = ['Sign pairs']
sign_pairs = pd.DataFrame(columns = columns)
sign_pairs.head()

Empty DataFrame
Columns: [Sign pairs]
Index: []

In [31]:
# Function to extract sign pairs from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            first = words[i]
            second = words[i+1]
            sign_pairs.loc[len(sign_pairs), "Sign pairs"] = [first, second]
        except:
            pass

In [32]:
sign_pairs.head()

     Sign pairs
0   [5000, 106]
1   [106, 5001]
2  [5001, 5002]
3  [5002, 2008]
4  [2008, 5003]

In [33]:
# Calculating frequency of sign pairs
sign_pairs_df = pd.DataFrame(sign_pairs["Sign pairs"].value_counts())
sign_pairs_df.reset_index(inplace=True)
sign_pairs_df.rename(columns={'index': 'Sign pairs', 'Sign pairs': 'frequency'}, inplace=True)
sign_pairs_df.head()

     Sign pairs  frequency
0  [3004, 2008]        155
1  [2012, 2000]        104
2  [3012, 2012]         94
3  [2012, 2008]         68
4  [2021, 2008]         67

# Calculating initial sign pair frequencies

# Model of Connectivity

In [71]:
columns = ['Sign pairs']
sign_pairs = pd.DataFrame(columns = columns)
sign_pairs.head()

  Sign pairs
0  5002-2008
1  5007-2006
2  5009-3003
3  5011-3004
4  5012-3005

In [78]:
#Testing
Sentence = '5018 5019-3007 , 5020 5021 5022-2022 5023 : .'

     Sign pairs  initial frequency
0  [5235, 2021]                 54
1  [5024, 2012]                 49
2  [5017, 3037]                 49
3  [5079, 3006]                 48
4  [5095, 2019]                 29

In [36]:

indexes = []
try:
    for i in range(len(Sentence)):
        if (Sentence[i] in numbers) and (Sentence[i+1] in numbers) and (Sentence[i-1] not in numbers):
            indexes.append(i)
except:
    pass
words = []
try:
    for i in range(len(indexes)):
        j = indexes[i]
        letter =[]
        for k in range(6):
            if Sentence[j+k] in numbers:
                letter.append(Sentence[j+k])
            else:
                word = ''.join(letter)
        words.append(word)
except:
    pass
for i in range(len(words)):
        try:
            first = words[i]
            second = words[i+1]
            sign_pairs.loc[len(sign_pairs), "Sign pairs"] = [first, second]
        except:
            pass

In [75]:
words

['5018', '5019', '3007', '5020', '5021', '5022', '2022', '5023']

In [76]:

sign_pairs["i"] = ''
sign_pairs["j"] = ''
sign_pairs['NPI']=0
sign_pairs['NPPI']=0
sign_pairs['NPT']=0
sign_pairs['NPPT']=0
sign_pairs['NPP']=0
sign_pairs['NIT']=0

   Sign pairs
0  5002-2008
1   2001-155
2  2001-3006
3  3004-2008
4  5012-3005

In [91]:
KI = 0.2
KT = 0.2
KP = 1
KSP=3
KITP=1

     Sign pairs  terminal frequency
0  [3004, 2008]                 144
1  [2012, 2000]                  68
2  [2021, 2008]                  60
3  [2012, 2008]                  59
4  [5079, 3006]                  48

In [18]:
# Calculating frequency of initial signs
inital_sign_freq_df = pd.DataFrame(inital_sign_df["initial sign"].value_counts())
inital_sign_freq_df.reset_index(inplace=True)
inital_sign_freq_df.rename(columns={'index': 'Signs', 'initial sign': 'Initial Frequency'}, inplace=True)
inital_sign_freq_df.head()

  Signs  Initial Frequency
0  5020                 93
1  5164                 89
2  5235                 80
3  5040                 78
4  5154                 77

In [18]:
# Calculating frequency of initial signs
inital_sign_freq_df = pd.DataFrame(inital_sign_df["initial sign"].value_counts())
inital_sign_freq_df.reset_index(inplace=True)
inital_sign_freq_df.rename(columns={'index': 'Signs', 'initial sign': 'Initial Frequency'}, inplace=True)
inital_sign_freq_df.head()

  Signs  Initial Frequency
0  5020                 93
1  5164                 89
2  5235                 80
3  5040                 78
4  5154                 77

# Merging initial and terminal sign pairs with sign pairs df

In [ ]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df["Sign pairs"].astype(str)
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].astype(str)

In [ ]:
sign_pairs_df = sign_pairs_df.merge(initial_sign_pair_freq_df, on="Sign pairs", how ="left")
sign_pairs_df

            Sign pairs  frequency  initial frequency
0     ['3004', '2008']        155                NaN
1     ['2012', '2000']        104                NaN
2     ['3012', '2012']         94                NaN
3     ['2012', '2008']         68                NaN
4     ['2021', '2008']         67                NaN
5     ['3004', '2000']         65                NaN
6     ['2012', '2001']         57                NaN
7     ['5235', '2021']         54                NaN
8     ['5024', '2012']         49                NaN
9     ['5017', '3037']         49                NaN
10    ['5079', '3006']         48                NaN
11    ['3003', '2001']         42                NaN
12     ['3042', '149']         41                NaN
13    ['2014', '2006']         40                NaN
14    ['2021', '2000']         40                NaN
15    ['2000', '3042']         40                NaN
16    ['2021', '2029']         38                NaN
17    ['2017', '2034']         36                NaN
18    ['2021', '2007']         30                NaN
19    ['5095', '2019']         29                NaN
20    ['5020', '2012']         27                NaN
21    ['2007', '2029']         27                NaN
22    ['2000', '3009']         26                NaN
23    ['3004', '2007']         26                NaN
24    ['3024', '2022']         26                NaN
25    ['2012', '2007']         25                NaN
26    ['2031', '2008']         25                NaN
27    ['5154', '2019']         25                NaN
28       ['87', '149']         23                NaN
29     ['2001', '154']         23                NaN
30     ['2001', '155']         23                NaN
31      ['120', '149']         22                NaN
32    ['3031', '2001']         22                NaN
33    ['3023', '5060']         21                NaN
34     ['2001', '149']         21                NaN
35    ['5040', '2021']         20                NaN
36    ['3037', '2006']         20                NaN
37    ['2006', '2001']         19                NaN
38    ['2031', '2007']         19                NaN
39    ['2025', '5079']         19                NaN
40    ['3052', '2001']         19                NaN
41    ['5027', '2035']         19                NaN
42    ['3005', '5013']         19                NaN
43    ['2035', '2054']         18                NaN
44    ['5040', '2006']         18                NaN
45     ['2008', '149']         18                NaN
46    ['2000', '3023']         17                NaN
47     ['2012', '149']         17                NaN
48    ['5154', '5024']         17                NaN
49    ['2021', '2017']         17                NaN
50    ['2021', '5237']         17                NaN
51    ['2008', '5017']         17                NaN
52    ['5370', '3078']         17                NaN
53    ['2035', '2017']         16                NaN
54      ['3006', '98']         16                NaN
55    ['3078', '2029']         16                NaN
56    ['5260', '3066']         16                NaN
57    ['2019', '2017']         16                NaN
58    ['5150', '2012']         16                NaN
59    ['3006', '5131']         15                NaN
60    ['2031', '2000']         15                NaN
61    ['5027', '2014']         15                NaN
62    ['2006', '5027']         15                NaN
63    ['5109', '2022']         15                NaN
64    ['5137', '2021']         14                NaN
65    ['2000', '2021']         14                NaN
66    ['5164', '2031']         14                NaN
67    ['2050', '3024']         14                NaN
68    ['2008', '5235']         14                NaN
69    ['5040', '3087']         14                NaN
70    ['2025', '2012']         13                NaN
71    ['5139', '3004']         13                NaN
72    ['2008', '5164']         13                NaN
73    ['5795', '2012']         13                NaN
74    ['2019', '2006']         13                NaN
75    ['5260', '3006']         13                NaN
76    ['5259', '3023']         13                NaN
77    ['3005', '9078']         13                NaN
78    ['2019', '2029']         13                NaN
79    ['2000', '2025']         13                NaN
80    ['3129', '2027']         12                NaN
81    ['5030', '3011']         12                NaN
82    ['5030', '3021']         12                NaN
83    ['5453', '2012']         12                NaN
84    ['5235', '3005']         12                NaN
85    ['5023', '3004']         12                NaN
86    ['5013', '3129']         12                NaN
87    ['2020', '2006']         12                NaN
88    ['5769', '2012']         12                NaN
89    ['5027', '3006']         12                NaN
90     ['3013', '149']         12                NaN
91    ['5093', '3004']         11                NaN
92    ['3009', '5013']         11                NaN
93    ['3006', '5466']         11                NaN
94    ['5053', '5038']         11                NaN
95     ['3081', '154']         11                NaN
96    ['2037', '5027']         11                NaN
97    ['2025', '5030']         11                NaN
98    ['5011', '3004']         11                NaN
99    ['5038', '2007']         11                NaN
100    ['154', '5154']         11                NaN
101   ['5225', '2025']         11                NaN
102   ['2025', '6273']         11                NaN
103   ['2021', '2050']         11                NaN
104   ['5367', '2007']         11                NaN
105   ['5037', '5038']         11                NaN
106   ['2040', '5030']         11                NaN
107   ['2022', '2029']         10                NaN
108   ['3009', '6394']         10                NaN
109   ['5071', '3009']         10                NaN
110   ['5228', '2022']         10                NaN
111   ['2025', '5013']         10                NaN
112   ['2025', '2027']         10                NaN
113   ['5401', '2027']         10                NaN
114   ['5737', '5435']         10                NaN
115   ['2022', '2008']         10                NaN
116   ['5131', '2012']         10                NaN
117   ['5014', '5015']         10                NaN
118   ['5078', '3066']         10                NaN
119   ['2022', '2017']         10                NaN
120   ['2021', '5088']         10                NaN
121   ['5013', '2014']         10                NaN
122   ['5055', '2022']         10                NaN
123     ['3042', '12']         10                NaN
124   ['5076', '2000']         10                NaN
125   ['5286', '5024']         10                NaN
126   ['2028', '3046']         10                NaN
127   ['5164', '3052']         10                NaN
128   ['5045', '2020']         10                NaN
129   ['5689', '3004']          9                NaN
130   ['5315', '2040']          9                NaN
131   ['5416', '2040']          9                NaN
132   ['5367', '3055']          9                NaN
133   ['5018', '2000']          9                NaN
134   ['2022', '2012']          9                NaN
135   ['5040', '3004']          9                NaN
136   ['6239', '2012']          9                NaN
137   ['3023', '5407']          9                NaN
138   ['2028', '2006']          9                NaN
139   ['5508', '5040']          9                NaN
140   ['3032', '2021']          9                NaN
141    ['5060', '154']          9                NaN
142   ['3009', '6023']          9                NaN
143   ['2001', '3009']          9                NaN
144   ['2008', '5260']          9                NaN
145   ['5017', '3030']          9                NaN
146   ['5140', '2006']          9                NaN
147   ['6273', '2008']          9                NaN
148   ['5024', '2022']          9                NaN
149   ['5022', '3024']          9                NaN
150   ['5237', '2012']          9                NaN
151   ['5984', '5078']          8                NaN
152      ['90', '107']          8                NaN
153     ['2008', '55']          8                NaN
154   ['2012', '5382']          8                NaN
155    ['149', '5164']          8                NaN
156   ['6102', '2012']          8                NaN
157   ['3024', '2012']          8                NaN
158    ['3009', '100']          8                NaN
159   ['3066', '2006']          8                NaN
160   ['5000', '3004']          8                NaN
161   ['5154', '2014']          8                NaN
162     ['2027', '98']          8                NaN
163   ['3004', '2027']          8                NaN
164   ['2021', '2005']          8                NaN
165   ['5137', '3012']          8                NaN
166    ['3006', '157']          8                NaN
167   ['3009', '5078']          8                NaN
168   ['2001', '3023']          8                NaN
169   ['5259', '3004']          8                NaN
170   ['2021', '2006']          8                NaN
171   ['2000', '5020']          8                NaN
172   ['5235', '2006']          8                NaN
173     ['3006', '87']          8                NaN
174   ['5059', '3023']          8                NaN
175   ['2022', '2007']          8                NaN
176   ['5158', '3009']          8                NaN
177     ['2012', '48']          8                NaN
178    ['3024', '149']          8                NaN
179   ['2037', '2021']          8                NaN
180   ['5071', '2021']          8                NaN
181    ['3024', '154']          7                NaN
182   ['5619', '3012']          7                NaN
183   ['3009', '9078']          7                NaN
184   ['5319', '2001']          7                NaN
185     ['3009', '90']          7                NaN
186   ['6394', '6102']          7                NaN
187   ['5132', '3004']          7                NaN
188    ['3089', '154']          7                NaN
189   ['3087', '5013']          7                NaN
190   ['2008', '5355']          7                NaN
191   ['5072', '3003']          7                NaN
192   ['3009', '6016']          7                NaN
193   ['3021', '2039']          7                NaN
194   ['5218', '3004']          7                NaN
195    ['2008', '138']          7                NaN
196   ['3009', '5453']          7                NaN
197   ['5125', '3040']          7                NaN
198   ['2022', '2005']          7                NaN
199    ['2022', '107']          7                NaN
200   ['6588', '2012']          7                NaN
201   ['2021', '5154']          7                NaN
202    ['154', '5017']          7                NaN
203   ['3023', '5586']          7                NaN
204   ['5055', '2021']          7                NaN
205   ['5222', '2014']          7                NaN
206     ['149', '155']          7                NaN
207   ['3053', '5137']          7                NaN
208   ['2006', '2025']          7                NaN
209   ['5013', '2022']          7                NaN
210   ['5435', '2019']          7                NaN
211    ['2008', '155']          7                NaN
212   ['5116', '2008']          7                NaN
213   ['5353', '2012']          7                NaN
214   ['2014', '2032']          7                NaN
215   ['2025', '6109']          7                NaN
216    ['3042', '154']          7                NaN
217   ['2012', '5235']          7                NaN
218   ['2008', '5416']          7                NaN
219   ['5574', '3005']          7                NaN
220   ['5677', '2012']          7                NaN
221    ['2012', '118']          7                NaN
222   ['3023', '5638']          7                NaN
223   ['5154', '2025']          7                NaN
224   ['5177', '2031']          7                NaN
225     ['2021', '12']          7                NaN
226      ['58', '155']          7                NaN
227   ['2014', '2013']          6                NaN
228   ['5053', '2021']          6                NaN
229   ['2025', '5366']          6                NaN
230    ['3006', '128']          6                NaN
231    ['3105', '154']          6                NaN
232   ['5007', '3012']          6                NaN
233   ['5291', '2012']          6                NaN
234   ['5093', '2012']          6                NaN
235   ['2021', '5235']          6                NaN
236   ['5243', '2021']          6                NaN
237   ['2021', '5244']          6                NaN
238   ['6136', '2021']          6                NaN
239    ['3183', '155']          6                NaN
240   ['5351', '3004']          6                NaN
241   ['6112', '5038']          6                NaN
242    ['149', '5076']          6                NaN
243   ['5382', '3004']          6                NaN
244   ['5453', '3004']          6                NaN
245   ['5034', '3007']          6                NaN
246   ['2007', '5360']          6                NaN
247   ['5020', '2006']          6                NaN
248   ['5842', '2037']          6                NaN
249   ['5489', '2012']          6                NaN
250     ['98', '5020']          6                NaN
251   ['3004', '5095']          6                NaN
252   ['5243', '3009']          6                NaN
253   ['2007', '5237']          6                NaN
254   ['5048', '3012']          6                NaN
255   ['3010', '5463']          6                NaN
256   ['2014', '2029']          6                NaN
257   ['5371', '2021']          6                NaN
258   ['5030', '3111']          6                NaN
259   ['3064', '2006']          6                NaN
260   ['6136', '3012']          6                NaN
261   ['5222', '3004']          6                NaN
262   ['5244', '3064']          6                NaN
263   ['3111', '2022']          6                NaN
264   ['5055', '3074']          6                NaN
265   ['5030', '3118']          6                NaN
266   ['3009', '5093']          6                NaN
267   ['2031', '2032']          6                NaN
268   ['5655', '2040']          6                NaN
269   ['5415', '2031']          6                NaN
270   ['2012', '5401']          6                NaN
271   ['5006', '5007']          6                NaN
272    ['5237', '149']          6                NaN
273   ['5262', '2021']          6                NaN
274     ['2032', '98']          6                NaN
275   ['6352', '6353']          6                NaN
276   ['5187', '3055']          6                NaN
277   ['2022', '2006']          6                NaN
278   ['6022', '3009']          6                NaN
279   ['3020', '5030']          6                NaN
280   ['3004', '2028']          6                NaN
281    ['3055', '107']          6                NaN
282   ['5095', '2040']          6                NaN
283   ['3011', '5095']          6                NaN
284   ['5018', '2008']          6                NaN
285   ['5638', '2040']          6                NaN
286   ['5020', '3003']          6                NaN
287   ['2008', '5243']          6                NaN
288   ['5194', '5352']          5                NaN
289    ['121', '5139']          5                NaN
290   ['5185', '2006']          5                NaN
291   ['5800', '2012']          5                NaN
292   ['5683', '5078']          5                NaN
293   ['5035', '5116']          5                NaN
294   ['5551', '3009']          5                NaN
295   ['6008', '2012']          5                NaN
296   ['6115', '2025']          5                NaN
297     ['3023', '42']          5                NaN
298   ['5514', '3068']          5                NaN
299   ['5789', '5150']          5                NaN
300   ['3021', '2022']          5                NaN
301      ['82', '154']          5                NaN
302   ['6696', '2008']          5                NaN
303    ['3005', '100']          5                NaN
304   ['2001', '2021']          5                NaN
305   ['2012', '2009']          5                NaN
306   ['5519', '2031']          5                NaN
307   ['6260', '2012']          5                NaN
308   ['2037', '5055']          5                NaN
309   ['5142', '2022']          5                NaN
310   ['5254', '6502']          5                NaN
311    ['2008', '121']          5                NaN
312   ['5110', '2021']          5                NaN
313   ['6355', '3004']          5                NaN
314   ['5177', '5150']          5                NaN
315    ['155', '5164']          5                NaN
316   ['2040', '5027']          5                NaN
317   ['2008', '5154']          5                NaN
318   ['5142', '2037']          5                NaN
319    ['100', '5055']          5                NaN
320   ['2006', '5030']          5                NaN
321   ['5076', '2008']          5                NaN
322   ['5131', '2008']          5                NaN
323   ['2037', '2044']          5                NaN
324   ['2025', '5262']          5                NaN
325   ['5084', '5020']          5                NaN
326   ['2008', '5300']          5                NaN
327   ['2017', '3066']          5                NaN
328   ['6613', '2021']          5                NaN
329   ['5164', '3009']          5                NaN
330   ['5835', '2031']          5                NaN
331    ['155', '5714']          5                NaN
332   ['5982', '2008']          5                NaN
333   ['5801', '5800']          5                NaN
334   ['6143', '5260']          5                NaN
335   ['5762', '3004']          5                NaN
336   ['5029', '2025']          5                NaN
337   ['5407', '3132']          5                NaN
338    ['3100', '112']          5                NaN
339    ['3013', '118']          5                NaN
340     ['2012', '58']          5                NaN
341   ['5218', '3057']          5                NaN
342   ['3009', '5892']          5                NaN
343   ['5638', '3032']          5                NaN
344   ['3006', '5370']          5                NaN
345   ['5490', '5040']          5                NaN
346    ['2007', '128']          5                NaN
347   ['5020', '5367']          5                NaN
348   ['2000', '5050']          5                NaN
349   ['5737', '3003']          5                NaN
350   ['5100', '5768']          5                NaN
351   ['2000', '5717']          5                NaN
352   ['5371', '3005']          5                NaN
353   ['2025', '6087']          5                NaN
354   ['5131', '2001']          5                NaN
355    ['2005', '149']          5                NaN
356   ['3009', '6239']          5                NaN
357    ['2021', '118']          5                NaN
358    ['149', '5020']          5                NaN
359   ['3094', '2008']          5                NaN
360   ['5674', '3004']          5                NaN
361    ['2008', '107']          5                NaN
362   ['5038', '2000']          5                NaN
363   ['5768', '2012']          5                NaN
364   ['6234', '3004']          5                NaN
365   ['5270', '2025']          5                NaN
366   ['3010', '5027']          5                NaN
367   ['5503', '2008']          5                NaN
368      ['23', '149']          5                NaN
369   ['6944', '5091']          4                NaN
370   ['2008', '5298']          4                NaN
371   ['5722', '3004']          4                NaN
372   ['6850', '2012']          4                NaN
373   ['2000', '5828']          4                NaN
374    ['107', '5023']          4                NaN
375   ['2001', '5107']          4                NaN

In [40]:
for i in range(len(sign_pairs)):
    sign_pairs.loc[i, "i"] = sign_pairs.loc[i, "Sign pairs"][0] 
    sign_pairs.loc[i, "j"] = sign_pairs.loc[i, "Sign pairs"][1] 

    #NPI
    temp = all_logograms[all_logograms["Signs"]==sign_pairs.loc[i, "j"]]
    temp.drop_duplicates(subset="Signs")
    NPItemp = temp["NPI(i)"]
    NPItemp.reset_index(drop=True, inplace=True)
    NPItemp = NPItemp.to_list()
    try:
        sign_pairs.loc[i, "NPI"] = -NPItemp[0]*KI
    except:
        pass

    #NPT
    temp = all_logograms[all_logograms["Signs"]==sign_pairs.loc[i, "i"]]
    temp.drop_duplicates(subset="Signs")
    NPTtemp = temp["NPT(i)"]
    NPTtemp.reset_index(drop=True, inplace=True)
    NPTtemp = NPTtemp.to_list()
    try:
        sign_pairs.loc[i, "NPT"] = -NPTtemp[0]*KI
    except:
        pass

In [ ]:
sign_pairs

Empty DataFrame
Columns: [Sign pairs]
Index: []

In [ ]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
sign_pairs["Sign pairs"] = sign_pairs["Sign pairs"].astype(str)

In [ ]:
sign_pairs = sign_pairs.merge(sign_pairs_df, on="Sign pairs", how ="left")
sign_pairs.rename(columns={"frequency":"Pair frequency"}, inplace=True)
sign_pairs

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Pair frequency
0,"['5018', '5019']",5018,5019,0.2,0,0.000000,0,0,0,3
1,"['5019', '3007']",5019,3007,0.0,0,0.000000,0,0,0,3
2,"['3007', '5020']",3007,5020,0.2,0,0.200000,0,0,0,1
3,"['5020', '5021']",5020,5021,0.0,0,0.000000,0,0,0,1
4,"['5021', '5022']",5021,5022,0.2,0,0.000000,0,0,0,1
5,"['5022', '2022']",5022,2022,0.0,0,0.000000,0,0,0,1
6,"['2022', '5023']",2022,5023,0.2,0,0.134008,0,0,0,1

In [ ]:
sign_pairs = sign_pairs.merge(all_logograms[['Signs', 'log Frequency', 'log Initial Frequency', 'log Terminal Frequency']], left_on= "i", right_on="Signs", how ="left")
sign_pairs.drop(columns="Signs", inplace=True)
sign_pairs.rename(columns={"log Frequency":"log Frequency(i)", "log Initial Frequency":"log Initial Frequency(i)", "log Terminal Frequency":"log Terminal Frequency(j)"}, inplace=True)
sign_pairs.drop_duplicates(inplace=True)
sign_pairs

['5018', '5019', '3007', '5020', '5021', '5022', '2022', '5023']

In [ ]:
sign_pairs = sign_pairs.merge(all_logograms[['Signs', 'log Frequency', 'log Initial Frequency', 'log Terminal Frequency']], left_on= "j", right_on="Signs", how ="left")
sign_pairs.drop(columns="Signs", inplace=True)
sign_pairs.rename(columns={"log Frequency":"log Frequency(j)", "log Initial Frequency":"log Initial Frequency(j)", "log Terminal Frequency":"log Terminal Frequency(j)"}, inplace=True)
sign_pairs.drop_duplicates(inplace=True)
sign_pairs

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Pair frequency,log Frequency(i),log Initial Frequency(i),log Terminal Frequency(j),log Frequency(j),log Initial Frequency(j),log Terminal Frequency(j)
0,"['5018', '5019']",5018,5019,0.2,0,0.000000,0,0,0,3,3.828641,3.828641,2.639057,2.197225,2.197225,-inf
1,"['5019', '3007']",5019,3007,0.0,0,0.000000,0,0,0,3,2.197225,2.197225,-inf,3.496508,-inf,3.496508
2,"['3007', '5020']",3007,5020,0.2,0,0.200000,0,0,0,1,3.496508,-inf,3.496508,4.532599,4.532599,3.951244
3,"['5020', '5021']",5020,5021,0.0,0,0.000000,0,0,0,1,4.532599,4.532599,3.951244,1.945910,1.945910,1.945910
4,"['5021', '5022']",5021,5022,0.2,0,0.000000,0,0,0,1,1.945910,1.945910,1.945910,2.564949,2.564949,0.000000
5,"['5022', '2022']",5022,2022,0.0,0,0.000000,0,0,0,1,2.564949,2.564949,0.000000,4.804021,-inf,3.218876
17,"['2022', '5023']",2022,5023,0.2,0,0.134008,0,0,0,1,4.804021,-inf,3.218876,2.833213,2.833213,1.609438

In [ ]:
for i in range(len(sign_pairs)):
    sign_pairs.loc[i, "i"] = sign_pairs.loc[i, "Sign pairs"][0] 
    sign_pairs.loc[i, "j"] = sign_pairs.loc[i, "Sign pairs"][1] 

    #NPI
    temp = all_logograms[all_logograms["Signs"]==sign_pairs.loc[i, "j"]]
    temp.drop_duplicates(subset="Signs")
    NPItemp = temp["NPI(i)"]
    NPItemp.reset_index(drop=True, inplace=True)
    NPItemp = NPItemp.to_list()
    try:
        sign_pairs.loc[i, "NPI"] = -NPItemp[0]*KI
    except:
        pass

    #NPT
    temp = all_logograms[all_logograms["Signs"]==sign_pairs.loc[i, "i"]]
    temp.drop_duplicates(subset="Signs")
    NPTtemp = temp["NPT(i)"]
    NPTtemp.reset_index(drop=True, inplace=True)
    NPTtemp = NPTtemp.to_list()
    try:
        sign_pairs.loc[i, "NPT"] = -NPTtemp[0]*KI
    except:
        pass

In [ ]:
Connectivity = 1.5

In [ ]:
# Finding initial sign pairs
initial_sign_pair_df = pd.DataFrame(columns = ['Sign pairs'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([^-\d])|(^))(\d+-\d+)')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.drop(columns=[0,1], inplace=True)
    Sign_df.rename(columns={2:'Sign pairs'}, inplace=True)

    # Adding it to inital sign dataframe
    initial_sign_pair_df = initial_sign_pair_df.append(Sign_df)
    initial_sign_pair_df.reset_index(drop=True, inplace=True)

     Sign pairs     i     j  NPI  NPPI       NPT  NPPT  NPP  NIT
0  [5018, 5019]  5018  5019  0.2     0  0.000000     0    0    0
1  [5019, 3007]  5019  3007  0.0     0  0.000000     0    0    0
2  [3007, 5020]  3007  5020  0.2     0  0.200000     0    0    0
3  [5020, 5021]  5020  5021  0.0     0  0.000000     0    0    0
4  [5021, 5022]  5021  5022  0.2     0  0.000000     0    0    0
5  [5022, 2022]  5022  2022  0.0     0  0.000000     0    0    0
6  [2022, 5023]  2022  5023  0.2     0  0.134008     0    0    0

In [ ]:
initial_sign_pair_df.head()

  initial sign pair
0         5002-2008
1         5007-2006
2         5009-3003
3         5011-3004
4         5012-3005

In [ ]:
# Calculating frequency of initial signs
initial_sign_pair_freq_df = pd.DataFrame(initial_sign_pair_df["Sign pairs"].value_counts())
initial_sign_pair_freq_df.reset_index(inplace=True)
initial_sign_pair_freq_df.rename(columns={'index': 'Sign pairs', 'Sign pairs': 'initial frequency'}, inplace=True)

save_frequency = initial_sign_pair_freq_df

#Changing hyphen values to list
initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df["Sign pairs"].astype(str)
initial_sign_pair_freq_df = initial_sign_pair_freq_df["Sign pairs"].str.split("-", n = 1, expand = True)
initial_sign_pair_freq_df["Sign pairs"] =''
initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df[[0, 1]].values.tolist()
initial_sign_pair_freq_df.drop(columns =[0,1], inplace=True)
initial_sign_pair_freq_df["initial frequency"] = save_frequency["initial frequency"] 

initial_sign_pair_freq_df.head()

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Pair frequency,initial frequency
0,"['5018', '5019']",5018,5019,0.2,0,0.000000,0,0,0,3,NaN
1,"['5019', '3007']",5019,3007,0.0,0,0.000000,0,0,0,3,NaN
2,"['3007', '5020']",3007,5020,0.2,0,0.200000,0,0,0,1,NaN
3,"['5020', '5021']",5020,5021,0.0,0,0.000000,0,0,0,1,NaN
4,"['5021', '5022']",5021,5022,0.2,0,0.000000,0,0,0,1,NaN
5,"['5022', '2022']",5022,2022,0.0,0,0.000000,0,0,0,1,NaN
6,"['2022', '5023']",2022,5023,0.2,0,0.134008,0,0,0,1,NaN

# Calculating terminal sign pair frequencies

In [ ]:
# Finding terminal sign pairs
terminal_sign_pair_df = pd.DataFrame(columns = ['Sign pairs'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([\d]+-[\d]+[^-\d]))')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={0:'Sign pairs'}, inplace=True)

    # Adding it to inital sign dataframe
    terminal_sign_pair_df = terminal_sign_pair_df.append(Sign_df)
    terminal_sign_pair_df.reset_index(drop=True, inplace=True)

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Pair frequency,initial frequency,log Frequency(i),log Initial Frequency(i),log Terminal Frequency(j),log Frequency(j),log Initial Frequency(j),log Terminal Frequency(j)
0,"['5018', '5019']",5018,5019,0.2,0,0.000000,0,0,0,3,NaN,3.828641,3.828641,2.639057,2.197225,2.197225,-inf
1,"['5019', '3007']",5019,3007,0.0,0,0.000000,0,0,0,3,NaN,2.197225,2.197225,-inf,3.496508,-inf,3.496508
2,"['3007', '5020']",3007,5020,0.2,0,0.200000,0,0,0,1,NaN,3.496508,-inf,3.496508,4.532599,4.532599,3.951244
3,"['5020', '5021']",5020,5021,0.0,0,0.000000,0,0,0,1,NaN,4.532599,4.532599,3.951244,1.945910,1.945910,1.945910
4,"['5021', '5022']",5021,5022,0.2,0,0.000000,0,0,0,1,NaN,1.945910,1.945910,1.945910,2.564949,2.564949,0.000000
5,"['5022', '2022']",5022,2022,0.0,0,0.000000,0,0,0,1,NaN,2.564949,2.564949,0.000000,4.804021,-inf,3.218876
17,"['2022', '5023']",2022,5023,0.2,0,0.134008,0,0,0,1,NaN,4.804021,-inf,3.218876,2.833213,2.833213,1.609438

In [ ]:
terminal_sign_pair_df.head()

KeyError: 6

In [ ]:
# Calculating frequency of terminal signs
terminal_sign_pair_freq_df = pd.DataFrame(terminal_sign_pair_df["Sign pairs"].value_counts())
terminal_sign_pair_freq_df.reset_index(inplace=True)
terminal_sign_pair_freq_df.rename(columns={'index': 'Sign pairs', 'Sign pairs': 'terminal frequency'}, inplace=True)

save_frequency = terminal_sign_pair_freq_df

#Changing hyphen values to list
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].astype(str)
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].str.replace(' ','')
terminal_sign_pair_freq_df = terminal_sign_pair_freq_df["Sign pairs"].str.split("-", n = 1, expand = True)
terminal_sign_pair_freq_df["Sign pairs"] =''
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df[[0, 1]].values.tolist()
terminal_sign_pair_freq_df.drop(columns =[0,1], inplace=True)
terminal_sign_pair_freq_df["terminal frequency"] = save_frequency["terminal frequency"] 

terminal_sign_pair_freq_df.head()

  terminal sign pair  frequency
0         3004-2008         144
1         2012-2000          68
2         2021-2008          60
3         2012-2008          59
4         5079-3006          48