In [259]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import math
import re

In [260]:
# Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [261]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [262]:
#Creating engine
engine = create_engine(db_string)

In [263]:
# Reading logosyllabic sentences data from postgreSQL
logosyllabic_sentence_df = pd.read_sql_table('logo_syllabic_tamil_sentences_no_names', con=engine)
logosyllabic_sentence_df.head()

,index,Sentence
0,0,-3000 106 -3002 -3003-2008 -3004 -3005 ( 5000 ) 5001 5002-2609-2001-2001-155 5003 -3008-2001-3011 5004 85 5005-3009-2008 5006-3010 5007-3011 98 5008 -3012 5009-2021-47 .
1,1,"5559 5011-3013 , 5625 5012 5013-2022 5014 : ."
2,2,"5015 11 5001-3015 5016-2008 5017-3016 5018-3011 5019-3009-2000-2025 5020-2008 5021-3017 , 5022 5023-3018-2012-2008 -107 5001 5002-3018-2012-2000 5024-3019-149 , 5025-3013 5026 5001 5002-3018-2012-2000 5027-3020-149 5028 5029 5030 5031-2021-2006 ."
3,3,"5032 , -3022 , -3023 , -3024 , -3000 5033-2020 5001 5002-3018-2012-2000 5034 5035 5036-3018-2012 5037-3026-100 5038-3015 5007-2035-2017 ."
4,4,"5880-2021-2008-149 , 5039-2021-2008-149 -3004 -3005 5001 5002-3018-2012-2000 5027-2006 5500-2021-2000 5040-3029 5021-3030-2039 5041-2022-2017-2034 ."

In [264]:
#Reading logosyllabic words from postgreSQL
logosyl_data = pd.read_sql_table('logo_syllabic_tamil_no_names', con=engine)
logosyl_data.drop(columns="index", inplace=True)
s = logosyl_data.index1.sort_values().index
logosyl_data = logosyl_data.reindex(s)
logosyl_data.reset_index(drop=True, inplace=True)
logosyl_data.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,-3000,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,106,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,-3002,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,-3003-2008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,-3004,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [265]:
all_logograms = pd.read_sql_table('all_logograms', con=engine)
all_logograms["Initial Frequency"] = 0
all_logograms["Frequency"] = 0
all_logograms["Terminal Frequency"] = 0
all_logograms["Sign Pairs"] = 0

In [266]:
all_logograms["id"] = all_logograms["id"].str.replace('-',"")

In [267]:
for i in range(len(all_logograms["id"])):
    letter = all_logograms.loc[i, "id"]
    all_logograms.loc[i, "Frequency"] = logosyllabic_sentence_df["Sentence"].str.count(letter).sum()

In [268]:
numbers = ['0','1','2','3','4','5','6','7','8','9']

In [269]:
#Calculating Initial Frequencies
for i in range(len(logosyllabic_sentence_df["Sentence"])):
    logo = []
    for j in range(6):
        digit = 0
        if logosyllabic_sentence_df.loc[i, "Sentence"][j] in numbers:
            digit = logosyllabic_sentence_df.loc[i, "Sentence"][j][0]
            logo.append(digit)
        else:
            logogram = ''.join(logo)
    for k in range(len(all_logograms["id"])):
        if all_logograms.loc[k, "id"] == logogram:
            all_logograms.loc[k, "Initial Frequency"] = all_logograms.loc[k, "Initial Frequency"] + 1

In [270]:
#Calculating Terminal Frequencies
for i in range(len(logosyllabic_sentence_df["Sentence"])):
    logo = []
    length = len(logosyllabic_sentence_df.loc[i, "Sentence"])
    for j in range(length-1, length-6, -1):
        digit = 0
        if logosyllabic_sentence_df.loc[i, "Sentence"][j] in numbers:
            digit = logosyllabic_sentence_df.loc[i, "Sentence"][j][0]
            logo = [digit]+logo
        else:
            logogram = ''.join(logo)
    for k in range(len(all_logograms["id"])):
        if all_logograms.loc[k, "id"] == logogram:
            all_logograms.loc[k, "Terminal Frequency"] = all_logograms.loc[k, "Terminal Frequency"] + 1

In [271]:
#Creating sign pairs
columns = ['Sign pairs']
sign_pairs = pd.DataFrame(columns = columns)
sign_pairs.head()

Empty DataFrame
Columns: [Sign pairs]
Index: []

In [272]:
# Function to extract sign pairs from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            first = words[i]
            second = words[i+1]
            sign_pairs.loc[len(sign_pairs), "Sign pairs"] = [first, second]
        except:
            pass

In [273]:
sign_pairs.head()

     Sign pairs
0   [3000, 106]
1   [106, 3002]
2  [3002, 3003]
3  [3003, 2008]
4  [2008, 3004]

In [276]:
# Calculating frequency of sign pairs
sign_pairs_df = pd.DataFrame(sign_pairs["Sign pairs"].value_counts())
sign_pairs_df.reset_index(inplace=True)
sign_pairs_df.rename(columns={'index': 'Sign pairs', 'Sign pairs': 'frequency'}, inplace=True)
sign_pairs_df.head()

     Sign pairs  frequency
0  [3009, 2008]        135
1  [2012, 2000]        104
2  [3018, 2012]         94
3  [2012, 2008]         68
4  [2021, 2008]         66

In [275]:
all_logograms.sort_values(by=['Terminal Frequency'], ascending=False, inplace=True)
all_logograms.head()

,lemma,id,Initial Frequency,Frequency,Terminal Frequency,Sign Pairs
1607,உள்ளது,78,0,158,66,0
833,உள்ளார்,47,0,152,30,0
703,பட்டது,77,0,125,20,0
818,உள்ளனர்,57,0,435,15,0
1668,இருந்தது,18,0,372,6,0