In [30]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import math
import re

In [31]:
# Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [32]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [33]:
#Creating engine
engine = create_engine(db_string)

In [34]:
# Reading logosyllabic sentences data from postgreSQL
logosyllabic_sentence_df = pd.read_sql_table('logo_syllabic_tamil_sentences', con=engine)
logosyllabic_sentence_df.head()

,index,Sentence
0,0,4000-4001-2017-4003-2017-2000 106 4005-4003-4006-4007 2033-4001-4006-4009-4010-4003-2033-4009-2021-4012-4006-2008 2025-2037-4006-4007-2017-4003 2033-4007-4015-4003-4016-4009 ( 5000 ) 5001 5002-2006-2001-2001-155 5003 4017-2028-4006-4009-2001-4010-4003 5004 85 5005-3003-2008 5006-3004 5007-3005 98 5008 2025-4006-4009-4019-2028-4020-2037-2021-2037 5009-2021-47 .
1,1,"559 5011-3006 , 625 5012 5013-2022 5014 : ."
2,2,"5015 11 5001-3008 5016-2008 5017-3009 5018-3005 5019-3003-2000-2025 5020-2008 5021-3010 , 5022 5023-3011-2012-2008 -107 5001 5002-3011-2012-2000 5024-3012-149 , 5025-3006 5026 5001 5002-3011-2012-2000 5027-3013-149 5028 5029 5030 5031-2021-2006 ."
3,3,"5032 , 2033-4009-2021-4009-2021-2037-4015-4003-4015-2037 , 4010-4009-4010-4003-2033-2000 , 2025-4021-4015-4003-2025-2021-4003-2021-2028 , 4000-4001-2017-4003-2017-2000 5033-2020 5001 5002-3011-2012-2000 5034 5035 5036-3011-2012 5037-3016-100 5038-3008 5007-2035-2017 ."
4,4,"880-2021-4003-2021-2008-149 , 5039-2021-2008-149 2025-2037-4006-4007-2017-4003 2033-4007-4015-4003-4016-4009 5001 5002-3011-2012-2000 5027-2006 500-2021-4003-2021-2000 5040-3019 5021-3020-2039 5041-2022-2017-2034 ."

In [108]:
logosyl_data = pd.read_sql_table('logo_syllabic_tamil', con=engine)
logosyl_data.drop(columns="index", inplace=True)
s = logosyl_data.index1.sort_values().index
logosyl_data = logosyl_data.reindex(s)
logosyl_data.reset_index(drop=True, inplace=True)
logosyl_data.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,4000-4001-2017-4003-2017-2000,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,106,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,4005-4003-4006-4007,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,2033-4001-4006-4009-4010-4003-2033-4009-2021-4012-4006-2008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,2025-2037-4006-4007-2017-4003,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [101]:
all_logograms = pd.read_sql_table('all_logograms', con=engine)
all_logograms["Initial Frequency"] = 0
all_logograms["Frequency"] = 0

In [102]:
all_logograms["id"] = all_logograms["id"].str.replace('-',"")

In [103]:
for i in range(len(all_logograms["id"])):
    letter = all_logograms.loc[i, "id"]
    all_logograms.loc[i, "Frequency"] = logosyllabic_sentence_df["Sentence"].str.count(letter).sum()

In [104]:
numbers = ['0','1','2','3','4','5','6','7','8','9']

In [105]:
for i in range(len(logosyllabic_sentence_df["Sentence"])):
    logo = []
    for j in range(6):
        digit = 0
        if logosyllabic_sentence_df.loc[i, "Sentence"][j] in numbers:
            digit = logosyllabic_sentence_df.loc[i, "Sentence"][j][0]
            logo.append(digit)
        else:
            logogram = ''.join(logo)
    for k in range(len(all_logograms["id"])):
        if all_logograms.loc[k, "id"] == logogram:
            all_logograms.loc[k, "Initial Frequency"] = all_logograms.loc[k, "Initial Frequency"] + 1

In [107]:
all_logograms.sort_values(by=['Initial Frequency'], ascending=False, inplace=True)