In [1]:
#my reference: https://pypi.org/project/conllu/

In [2]:
#!pip install psycopg2-binary

In [3]:
#Importing dependencies
from io import open
from conllu import parse_incr
import pandas as pd
import itertools
from sqlalchemy import create_engine
from config import db_password
import numpy as np

In [4]:
# Importing from file
file = 'TamilTB.v0.1\data\TamilTB.v0.1.utf8.conll'
data_file = open(file, "r", encoding="utf-8")

In [5]:
#Setting precision of dataframe as 0
pd.set_option('precision', 0)

#Setting Dataframe display to max
pd.set_option('display.max_rows', None)

In [6]:
#Converting conll to a dataframe
columns = ['id', 'form', 'lemma', 'upos', 'xpos', 'feats', 'head', 'Morpheme']
df = pd.DataFrame(columns = columns)
for tokenlist in parse_incr(data_file):
    for word in tokenlist:
        df = df.append({'id': word["id"], 
                        'form' : word["form"],
                        'lemma' : word["lemma"],
                        'upos' : word["upos"],
                        'xpos' : word["xpos"],
                        'feats' : word["feats"],
                        'head' : word["head"]},
                        ignore_index = True
                        )
df.head()

,id,form,lemma,upos,xpos,feats,head,Morpheme
0,1,சென்னை,சென்னை,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",2,NaN
1,2,அருகே,அருகே,P,PP-------,None,18,NaN
2,3,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",4,NaN
3,4,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,"{'Cas': 'L', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",18,NaN
4,5,கிரீன்,கிரீன்,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",6,NaN

In [7]:
#Function to extract the morphemes by stripping away the lemma
def morpheme_extract(lemmalist, wordlist):
    if len(lemmalist)<len(wordlist):
        for i in range(len(lemmalist)):
            if (wordlist[i] != lemmalist[i]):
                difference.append(wordlist[i])
        index = i
        for i in range(len(wordlist)):
            if i > index:
                difference.append(wordlist[i])
                morpheme = ''.join(difference)
                row["Morpheme"] = morpheme
    else:
        row["Morpheme"] = ""

In [8]:
# Going through each row in the dataframe and calling the function to strip away the morphemes
for index, row in df.iterrows():
    word = row["form"]
    wordlist = [ch for ch in word] 
    lemma = row["lemma"]
    lemmalist = [ch for ch in lemma] 
    difference = []
    morpheme_extract(lemmalist, wordlist)
    difference[:5]

In [9]:
df.head()

,id,form,lemma,upos,xpos,feats,head,Morpheme
0,1,சென்னை,சென்னை,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",2,
1,2,அருகே,அருகே,P,PP-------,None,18,
2,3,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",4,
3,4,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,"{'Cas': 'L', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",18,ில்
4,5,கிரீன்,கிரீன்,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",6,

In [10]:
#Dropping id column
df.drop(columns='id', inplace=True)
df.head()

,form,lemma,upos,xpos,feats,head,Morpheme
0,சென்னை,சென்னை,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",2,
1,அருகே,அருகே,P,PP-------,None,18,
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",4,
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,"{'Cas': 'L', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",18,ில்
4,கிரீன்,கிரீன்,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",6,

In [11]:
#Reading sentences csv 
file_path = "Sentence_index.csv"
sentence_df = pd.read_csv(file_path, encoding="utf-8")
sentence_df.dropna(inplace=True)
sentence_df.drop(columns='id', inplace=True)
sentence_df.reset_index(inplace=True)
sentence_df.head()

   index  NoSpaceAfter
0      0             0
1      1             0
2      2             0
3      3             0
4      4             0

In [12]:
#Adding NoSpaceAfter column to dataframe. The 'no_space_after' will be set to 1 if the following token is part of the current token.
#Whenever the splitting takes place this attribute will be set to 1 for the first token.
#For example, The 'no_space_after' attribute for pATukAkkap  will be 1. Whereas the 'no_space_after' attribute for um will be 0.  
df['NoSpaceAfter'] = sentence_df['NoSpaceAfter']
df.head(30)

,form,lemma,upos,xpos,feats,head,Morpheme,NoSpaceAfter
0,சென்னை,சென்னை,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",2,,0
1,அருகே,அருகே,P,PP-------,None,18,,0
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",4,,0
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,"{'Cas': 'L', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",18,ில்,0
4,கிரீன்,கிரீன்,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",6,,0
5,பீல்டு,பீல்டு,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",11,,0
6,(,(,Z,Z:-------,None,6,,0
7,நவீன,நவீனம்,J,JJ-------,None,6,,0
8,),),Z,Z:-------,None,6,,0
9,விமான,விமானம்,N,NO--3SN--,"{'Per': '3', 'Num': 'S', 'Gen': 'N'}",11,,0
10,நிலையத்துக்குக்க்,நிலையம்,N,NND-3SN--,"{'Cas': 'D', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",12,ததுக்குக்க்,1
11,ஆன,ஆகு,T,Tg-------,None,13,,0
12,நிலம்,நிலம்,N,NNN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",18,,0
13,யாருக்கும்,யார்,R,RBD-3SA--,"{'Cas': 'D', 'Per': '3', 'Num': 'S', 'Gen': 'A'}",15,ுக்கும்,0
14,பாதிப்பு,பாதிப்பு,N,NNN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",16,,0
15,இல்லாத,இல்,P,PP-------,None,17,லாத,0
16,வகையில்,வகை,N,NNL-3SN--,"{'Cas': 'L', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",18,யில்,0
17,எடுக்கப்,எடு,V,Vu-T---AA,"{'Ten': 'T', 'Voi': 'A', 'Neg': 'A'}",20,க்கப்,0
18,படும்,படு,V,VR-F3SNPA,"{'Ten': 'F', 'Per': '3', 'Num': 'S', 'Gen': 'N...",18,ம்,0
19,என்று,என்,T,Tt-T----A,"{'Ten': 'T', 'Neg': 'A'}",23,று,0
20,முதல்வர்,முதல்வர்,N,NNN-3SH--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'H'}",22,,0
21,கருணாநிதி,கருணாநிதி,N,NEN-3SH--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'H'}",23,,0
22,உறுதியளித்த்,உறுதியளி,V,Vt-T---AA,"{'Ten': 'T', 'Voi': 'A', 'Neg': 'A'}",0,த்த்,1
23,உள்ளார்,உள்,V,VR-T3SHAA,"{'Ten': 'T', 'Per': '3', 'Num': 'S', 'Gen': 'H...",23,ளார்,0
24,.,.,Z,Z#-------,None,0,,0
25,இது,இது,R,RpN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",2,,0
26,தொடர்பாக,தொடர்பு,A,AA-------,None,6,ாக,0
27,",",",",Z,Z:-------,None,6,,0
28,அவர்,அவர்,R,RpN-3SH--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'H'}",6,,0
29,புதன்கிழமை,புதன்கிழமை,N,NNN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",6,,0

In [13]:
#Adding postpositions and clitics to morpheme list
for i in range(0, len(df)):
    if df.loc[i,'NoSpaceAfter']==1:
        df.loc[i+1, 'Morpheme'] = df.loc[i+1, 'form']
        df.loc[i+1, 'NoSpaceAfter'] = 2

In [14]:
#Creating dataframe out of the frequencies of the morphemes
value_counts_df = pd.DataFrame(df["Morpheme"].value_counts())
value_counts_df.reset_index(inplace=True)
value_counts_df = value_counts_df.rename(columns = {'index':'Morpheme', 'Morpheme':'Counts'})
value_counts_df["Counts"][0]=0
value_counts_df.head(30)

ipykernel_launcher:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Morpheme  Counts
0                 0
1       கள்     220
2       உம்     209
3      யில்     164
4        ம்     144
5       ில்     136
6        ஆக     127
7        ப்     109
8        த்      83
9     ததில்      71
10    க்கப்      69
11       று      65
12     ந்து      63
13       க்      62
14       ஆன      61
15     க்கு      55
16      களை      52
17    பட்ட்      52
18      ந்த      51
19      க்க      48
20     த்த்      48
21       ச்      47
22   உள்ளது      47
23       யை      45
24    களில்      44
25       ய்      43
26      ளது      41
27     த்து      41
28      ிய்      40
29     ஙகள்      40

In [88]:
#Merging value counts with the original dataframe
merged_df = pd.merge(df, value_counts_df, on="Morpheme", how = "left")
merged_df.head()

,form,lemma,upos,xpos,feats,head,Morpheme,NoSpaceAfter,Counts
0,சென்னை,சென்னை,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",2,,0,0
1,அருகே,அருகே,P,PP-------,None,18,,0,0
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",4,,0,0
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,"{'Cas': 'L', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",18,ில்,0,136
4,கிரீன்,கிரீன்,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",6,,0,0

In [89]:
# Removing feats
merged_df.drop(columns='feats', inplace=True)
merged_df.head()

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0,0
1,அருகே,அருகே,P,PP-------,18,,0,0
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0,0
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0,136
4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0,0

In [17]:
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [18]:
# Sending df to csv and postgres. 
engine = create_engine(db_string)

In [19]:
# Sending df to csv and postgres - Commenting out because code is complete
#merged_df.to_sql(name ='completemorpheme', con=engine)
#merged_df.to_csv('Complete_words_with_morphemes.csv', encoding='utf-8-sig')

In [20]:
# Making noun and verb morpheme dataframe
noun_verb_df = merged_df
## Removing rows without morphemes
for index, row in noun_verb_df.iterrows():
    if row["Morpheme"] == '':
        noun_verb_df.drop(index, inplace=True)

## Removing everything expect nouns and verbs
for index, row in noun_verb_df.iterrows():
    if (row["upos"] != 'N') and (row["upos"] != 'V'):
        noun_verb_df.drop(index, inplace=True)

## Rearranging columns
noun_verb_df = noun_verb_df[['form', 'Morpheme', 'Counts', 'upos', 'xpos', 'NoSpaceAfter']]

## Drop duplicates but keep copies of no space after = 1 morphemes as well
noun_verb_df = noun_verb_df.drop_duplicates(subset = ['Morpheme'])

## Sort by counts
noun_verb_df = noun_verb_df.sort_values(by='Counts', ascending=False)

## Noun and  excluding postpostions
noun_verb_df = noun_verb_df[noun_verb_df['NoSpaceAfter']<2]
noun_verb_df.reset_index(drop=True, inplace=True)
noun_verb_df.head(20)

              form Morpheme  Counts upos       xpos  NoSpaceAfter
0          அகதிகள்      கள்     220    N  NNN-3PA--             1
1          வகையில்     யில்     164    N  NNL-3SN--             0
2            படும்       ம்     144    V  VR-F3SNPA             0
3   பெரும்புதூரில்      ில்     136    N  NEL-3SN--             0
4      நிறைவேற்றப்       ப்     109    V  Vu-T---AA             0
5          ஆய்வுத்       த்      83    N  NNN-3SN--             0
6    கர்நாடகத்தில்    ததில்      71    N  NEL-3SN--             1
7         எடுக்கப்    க்கப்      69    V  Vu-T---AA             0
8            வந்து     ந்து      63    V  VT-T---AA             0
9        கருத்துக்       க்      62    N  NNN-3SN--             0
10         மணிக்கு     க்கு      55    N  NND-3SN--             0
11          படிகளை      களை      52    N  NNA-3PN--             0
12    உறுதியளித்த்     த்த்      48    V  Vt-T---AA             1
13          அமைக்க      க்க      48    V  Vu-T---AA             1
14          பொதுச்       ச்      47    N  NNN-3SN--             0
15       முகர்ஜியை       யை      45    N  NEA-3SH--             0
16       மொழிகளில்    களில்      44    N  NNL-3PN--             1
17          தொகைய்       ய்      43    N  NNN-3SN--             0
18         அமைத்து     த்து      41    V  Vt-T---AA             0
19          உள்ளது      ளது      41    V  VR-T3SNAA             0

In [21]:
# Making postpositions/clitics morpheme list
columns = ['form', 'Counts','upos', 'xpos', 'NoSpaceAfter']
clitics_df = pd.DataFrame(columns = columns)
clitics_df["form"] = merged_df["form"]
clitics_df["Counts"] = merged_df["Counts"]
clitics_df["upos"] = merged_df["upos"]
clitics_df["xpos"] = merged_df["xpos"]
clitics_df["NoSpaceAfter"] = merged_df["NoSpaceAfter"]
clitics_df = clitics_df[clitics_df['NoSpaceAfter']==2]
clitics_df = clitics_df.drop_duplicates(subset = 'form')
clitics_df.head()

          form  Counts upos       xpos  NoSpaceAfter
23     உள்ளார்      31    V  VR-T3SHAA             2
79       பட்டு      19    V  VT-T---PA             2
105       ப்பட       7    V  VU-T---PA             2
126    உள்ளனர்      16    V  VR-T3PAAA             2
183  பகுதியில்       1    N  NNL-3SN--             2

In [22]:
#Sending clitics df to sql - Commenting out because code is complete
#clitics_df.to_sql(name ='clitics', con=engine)

# Getting Morpheme list for each type of noun and verb

In [23]:
# Creating function to make morphlist with counts
def morphcount(input_df):
    for i in range(len(input_df)):
        word = input_df.loc[i, 'Morpheme']
        a = [ch for ch in word]
        b= []
        n = len(a)
        for num_splits in range(n):
            for splits in itertools.combinations(range(1, n), num_splits):
                splices = zip([0] + list(splits), list(splits) + [n])
                b.append([a[i:j] for i, j in splices])

        df = pd.DataFrame.from_records(b)
        if i == 0:
            morphs = df[i]
        for j in range(len(df.columns)):
            morphs = morphs.append(df[j])
        
        morphs = morphs.map(lambda x: ''.join(x),na_action='ignore')
        morphs.dropna(inplace=True)

In [24]:
#Creating a function to separate a string and store it into the Morpheme Separated column
def separator(input_df):
    input_df['MorphemeSeparated'] = np.nan
    input_df['MorphemeSeparated'] = input_df['MorphemeSeparated'].astype(object)
    for i in range(len(input_df)):
        word = input_df.loc[i, 'Morpheme']
        a = [ch for ch in word]
        b = np.empty(1, dtype=object)
        b[0] = a
        input_df.loc[i, 'MorphemeSeparated'] = b

In [25]:
#Creating a function to create a morpheme dataframe
def morphemegen(input_df, splitmorph, re):
    i = len(input_df)
    morph = ''.join(splitmorph)
    input_df.loc[i+1, 'MorphemeSeparated'] = splitmorph
    input_df.loc[i+1, 'Morpheme'] = morph
    input_df.loc[i+1, 'xpos Regex'] = re

In [26]:
#Creating a function to make add counts to a column
def morphcount(input_df):
    value_counts_df = pd.DataFrame(input_df["Morpheme"].value_counts())
    value_counts_df.reset_index(inplace=True)
    value_counts_df = value_counts_df.rename(columns = {'index':'Morpheme', 'Morpheme':'Counts'})
    value_counts_df["Counts"][0]=0
    input_df = pd.merge(input_df, value_counts_df, on="Morpheme", how = "left")
    return(input_df)

In [27]:
#Creating a function to filter merged dataframe based on case
def casefilter(input_df):
    input_df.reset_index(drop=True, inplace=True)
    input_df.drop(columns='Counts', inplace=True)
    input_df.reset_index(drop=True, inplace=True)
    input_df = morphcount(input_df)
    input_df.drop_duplicates(subset=['Morpheme'], inplace=True)
    for index, row in input_df.iterrows():
        if row["Morpheme"] == '':
            input_df.drop(index, inplace=True)
    input_df.reset_index(drop=True, inplace=True)
    input_df = input_df.sort_values(by='Counts', ascending=False)
    separator(input_df)
    input_df.reset_index(drop=True, inplace=True)
    return(input_df)

## Noun - Accusative Case

Singular

In [28]:
#Creating singular noun accusative case morpheme list
re = '(N.A..S...)'
NAS_df = merged_df[merged_df['xpos'].str.contains(rf'{re}')]
NAS_df = casefilter(NAS_df)
NAS_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
ipykernel_launcher:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts,MorphemeSeparated
0,தமிழகத்தை,தமிழகம்,N,NEA-3SN--,12,ததை,0,19,"[த, த, ை]"
1,ஜெயலலிதாவை,ஜெயலலிதா,N,NEA-3SH--,15,வை,0,12,"[வ, ை]"
2,சட்டத்தைய்,சட்டம்,N,NNA-3SN--,20,ததைய்,1,11,"[த, த, ை, ய, ்]"
3,பண்டிகையைய்,பண்டிகை,N,NNA-3SN--,3,யைய்,1,9,"[ய, ை, ய, ்]"
4,பாகிஸ்தானைச்,பாகிஸ்தான்,N,NEA-3SN--,10,ைச்,0,5,"[ை, ச, ்]"
5,படிப்பைப்,படிப்பு,N,NNA-3SN--,15,ைப்,0,4,"[ை, ப, ்]"
6,போக்கைக்,போக்கு,N,NNA-3SN--,7,ைக்,0,4,"[ை, க, ்]"
7,தோனியைத்,தோனி,N,NEA-3SH--,4,யைத்,1,4,"[ய, ை, த, ்]"
8,அதிரடிப்படையைச்,அதிரடிப்படை,N,NNA-3SN--,3,யைச்,0,3,"[ய, ை, ச, ்]"
9,பெருமையைப்,பெருமை,N,NNA-3SN--,14,யைப்,0,3,"[ய, ை, ப, ்]"
10,இவ்விருதைப்,விருது,N,NNA-3SN--,5,இவ்விருதைப்,0,2,"[இ, வ, ், வ, ி, ர, ு, த, ை, ப, ்]"
11,இந்தியாவைச்,இந்தியா,N,NEA-3SN--,6,வைச்,0,2,"[வ, ை, ச, ்]"
12,தீட்சித்தை,தீட்சித்,N,NEA-3SH--,8,தை,0,2,"[த, ை]"
13,கருத்தைத்,கருத்து,N,NNA-3SN--,10,ைத்,0,2,"[ை, த, ்]"
14,தேர்தலைய்,தேர்தல்,N,NNA-3SN--,4,ைய்,1,2,"[ை, ய, ்]"
15,சட்டத்தைக்,சட்டம்,N,NNA-3SN--,28,ததைக்,0,2,"[த, த, ை, க, ்]"
16,இடத்தைப்,இடம்,N,NNA-3SN--,20,ததைப்,0,2,"[த, த, ை, ப, ்]"
17,வளர்ச்சியைக்,வளர்ச்சி,N,NNA-3SN--,9,யைக்,0,1,"[ய, ை, க, ்]"
18,பஸ்சை,பஸ்,N,NNA-3SN--,10,சை,0,1,"[ச, ை]"
19,மனதைய்,மன்து,N,NNA-3SN--,6,தைய்,1,1,"[த, ை, ய, ்]"
20,இத்தகவலை,தகவல்,N,NNA-3SN--,8,இத்தகவலை,0,1,"[இ, த, ், த, க, வ, ல, ை]"
21,நாட்டைச்,நாடு,N,NNA-3SN--,9,்டைச்,0,1,"[், ட, ை, ச, ்]"
22,கண்டனத்தைத்,கண்டனம்,N,NNA-3SN--,18,ததைத்,0,1,"[த, த, ை, த, ்]"
23,அவ்விழாவைப்,அவ்விழா,N,NNA-3SN--,13,வைப்,0,1,"[வ, ை, ப, ்]"
24,தமிழகத்தைச்,தமிழகம்,N,NEA-3SN--,2,ததைச்,0,1,"[த, த, ை, ச, ்]"
25,தமிழினத்தையும்,தமிழினம்,N,NEA-3SN--,25,ததையும்,0,1,"[த, த, ை, ய, ு, ம, ்]"
26,எல்லைய்,எல்லை,N,NNA-3SN--,6,ய்,1,1,"[ய, ்]"
27,வீட்டை,வீடு,N,NNA-3SN--,12,்டை,0,1,"[், ட, ை]"
28,தாக்குதலையும்,தாக்குதல்,N,NNA-3SN--,9,ையும்,0,1,"[ை, ய, ு, ம, ்]"
29,முகர்ஜியை,முகர்ஜி,N,NEA-3SH--,20,யை,0,0,"[ய, ை]"

In [29]:
#Creating separate morpheme dataframe
columns = ['MorphemeSeparated', 'Morpheme', 'xpos Regex']
morph_df = pd.DataFrame(columns=columns)

In [30]:
#Adding an instance manually
splitmorph = NAS_df.loc[14, 'MorphemeSeparated']
ai = splitmorph[0]
ai

'ை'

In [31]:
#Adding morphemes to the dataframe one by one
splitmorph = NAS_df.loc[14, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )
splitmorph = NAS_df.loc[29, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )
morphemegen(morph_df, ai, re )
morph_df

  MorphemeSeparated Morpheme   xpos Regex
1         [ை, ய, ்]      ைய்  (N.A..S...)
2            [ய, ை]       யை  (N.A..S...)
3                 ை        ை  (N.A..S...)

Plural

In [32]:
#Creating plural noun accusative case morpheme list
re = '(N.A..P...)'
NAP_df = merged_df[merged_df['xpos'].str.contains(rf'{re}')]
NAP_df = casefilter(NAP_df)
NAP_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
ipykernel_launcher:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts,MorphemeSeparated
0,நிலையங்களை,நிலையம்,N,NNA-3PN--,16,ஙகளை,0,14,"[ங, க, ள, ை]"
1,வீரர்களைய்,வீரர்,N,NNA-3PA--,29,களைய்,1,11,"[க, ள, ை, ய, ்]"
2,உரிமைகளைப்,உரிமை,N,NNA-3PN--,12,களைப்,0,7,"[க, ள, ை, ப, ்]"
3,குறைகளைக்,குறை,N,NNA-3PN--,16,களைக்,0,5,"[க, ள, ை, க, ்]"
4,அடையாளங்களைப்,அடையாளம்,N,NNA-3PN--,3,ஙகளைப்,0,4,"[ங, க, ள, ை, ப, ்]"
5,உபகரணங்களைய்,உபகரணம்,N,NNA-3PN--,16,ஙகளைய்,1,3,"[ங, க, ள, ை, ய, ்]"
6,வாழ்த்துகளைத்,வாழ்த்து,N,NNA-3PN--,9,களைத்,0,2,"[க, ள, ை, த, ்]"
7,தமிழர்களைச்,தமிழர்,N,NEA-3PA--,13,களைச்,0,2,"[க, ள, ை, ச, ்]"
8,எமெலேக்களை,எமெலே,N,NEA-3PA--,15,க்களை,0,2,"[க, ், க, ள, ை]"
9,குழுவினரைத்,குழுவினர்,N,NNA-3PA--,9,ைத்,0,1,"[ை, த, ்]"
10,பாக்கெட்டுகளைய்,பாக்கெட்,N,NNA-3PN--,12,டுகளைய்,1,1,"[ட, ு, க, ள, ை, ய, ்]"
11,தென்மாவட்டங்களைச்,தென்மாவட்டம்,N,NNA-3PN--,5,ஙகளைச்,0,1,"[ங, க, ள, ை, ச, ்]"
12,மக்களைக்,மக்கள்,N,NNA-3PA--,13,ைக்,0,1,"[ை, க, ்]"
13,படிகளை,படி,N,NNA-3PN--,19,களை,0,0,"[க, ள, ை]"

## Noun - Dative Case

Singular

In [33]:
re = '(N.D..S...)'
NDS_df = merged_df[merged_df['xpos'].str.contains(rf'{re}')]
NDS_df = casefilter(NDS_df)
NDS_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
ipykernel_launcher:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts,MorphemeSeparated
0,இந்தியாவுக்கு,இந்தியா,N,NED-3SN--,9,வுக்கு,0,14,"[வ, ு, க, ், க, ு]"
1,இலங்கைக்க்,இலங்கை,N,NED-3SN--,3,க்க்,1,14,"[க, ், க, ்]"
2,நுழைவாயிலுக்கு,நுழைவாயில்,N,NND-3SN--,4,ுக்கு,0,11,"[ு, க, ், க, ு]"
3,நிலையத்துக்கு,நிலையம்,N,NND-3SN--,15,ததுக்கு,0,11,"[த, த, ு, க, ், க, ு]"
4,மக்களுக்க்,மக்கள்,N,NND-3SN--,16,ுக்க்,1,8,"[ு, க, ், க, ்]"
5,லட்சத்துக்க்,லட்சம்,N,NND-3SN--,8,ததுக்க்,1,6,"[த, த, ு, க, ், க, ்]"
6,அமெரிக்காவுக்க்,அமெரிக்கா,N,NED-3SN--,13,வுக்க்,1,3,"[வ, ு, க, ், க, ்]"
7,ஊருக்குப்,ஊர்,N,NND-3SN--,9,ுக்குப்,0,3,"[ு, க, ், க, ு, ப, ்]"
8,பாகிஸ்தானுக்குச்,பாகிஸ்தான்,N,NED-3SN--,6,ுக்குச்,0,2,"[ு, க, ், க, ு, ச, ்]"
9,நூற்றுக்க்,நூறு,N,NND-3SN--,19,்றுக்க்,1,2,"[், ற, ு, க, ், க, ்]"
10,அமெரிக்காவுக்குச்,அமெரிக்கா,N,NED-3SN--,2,வுக்குச்,0,2,"[வ, ு, க, ், க, ு, ச, ்]"
11,உழைப்பிற்க்,உழைப்பு,N,NND-3SN--,13,ிற்க்,1,2,"[ி, ற, ், க, ்]"
12,ஜனநாயகத்திற்க்,ஜனநாயகம்,N,NND-3SN--,17,ததிற்க்,1,2,"[த, த, ி, ற, ், க, ்]"
13,மேம்பாட்டுக்கு,மேம்பாடு,N,NND-3SN--,24,்டுக்கு,0,2,"[், ட, ு, க, ், க, ு]"
14,சாமிக்கும்,சாமி,N,NND-3SH--,9,க்கும்,0,2,"[க, ், க, ு, ம, ்]"
15,எனக்குத்,என்,N,NND-3SN--,7,க்குத்,0,1,"[க, ், க, ு, த, ்]"
16,வீட்டிற்கு,வீடு,N,NND-3SN--,9,்டிற்கு,0,1,"[், ட, ி, ற, ், க, ு]"
17,ஊர்களுக்குச்,ஊர்,N,NND-3SN--,11,களுக்குச்,0,1,"[க, ள, ு, க, ், க, ு, ச, ்]"
18,நிலையத்துக்குக்க்,நிலையம்,N,NND-3SN--,12,ததுக்குக்க்,1,1,"[த, த, ு, க, ், க, ு, க, ், க, ்]"
19,இடைவெளிக்குப்,இடைவெளி,N,NND-3SN--,5,க்குப்,0,1,"[க, ், க, ு, ப, ்]"
20,செயலுக்குத்,செயல்,N,NND-3SN--,4,ுக்குத்,0,1,"[ு, க, ், க, ு, த, ்]"
21,அந்நாட்டுக்குச்,அந்நாடு,N,NND-3SN--,16,்டுக்குச்,0,1,"[், ட, ு, க, ், க, ு, ச, ்]"
22,தலைமையகத்துக்குச்,தலைமையகம்,N,NND-3SN--,8,ததுக்குச்,0,1,"[த, த, ு, க, ், க, ு, ச, ்]"
23,ஆற்றுக்கு,ஆறு,N,NND-3SN--,4,்றுக்கு,0,1,"[், ற, ு, க, ், க, ு]"
24,எஸ்டேட்டிற்கு,எஸ்டேட்,N,NND-3SN--,18,டிற்கு,0,1,"[ட, ி, ற, ், க, ு]"
25,வீட்டுக்க்,வீடு,N,NND-3SN--,2,்டுக்க்,1,1,"[், ட, ு, க, ், க, ்]"
26,மணிக்கு,மணி,N,NND-3SN--,10,க்கு,0,0,"[க, ், க, ு]"

In [34]:
#Adding morphemes to the dataframe one by one
splitmorph = NDS_df.loc[1, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )
morph_df

  MorphemeSeparated Morpheme   xpos Regex
1         [ை, ய, ்]      ைய்  (N.A..S...)
2            [ய, ை]       யை  (N.A..S...)
3                 ை        ை  (N.A..S...)
4      [க, ், க, ்]     க்க்  (N.D..S...)

In [35]:
#Adding an instance manually
splitmorph = NDS_df.loc[0, 'MorphemeSeparated']
kku = splitmorph
kku.pop(0)
kku.pop(0)
kku

['க', '்', 'க', 'ு']

In [36]:
#Adding an instance manually
splitmorph = NDS_df.loc[24, 'MorphemeSeparated']
ku = splitmorph
ku.pop(0)
ku.pop(0)
ku.pop(0)
ku.pop(0)
ku

['க', 'ு']

In [37]:
morphemegen(morph_df, kku, re )
morph_df

  MorphemeSeparated Morpheme   xpos Regex
1         [ை, ய, ்]      ைய்  (N.A..S...)
2            [ய, ை]       யை  (N.A..S...)
3                 ை        ை  (N.A..S...)
4      [க, ், க, ்]     க்க்  (N.D..S...)
5      [க, ், க, ு]     க்கு  (N.D..S...)

In [38]:
morphemegen(morph_df, ku, re )
morph_df

  MorphemeSeparated Morpheme   xpos Regex
1         [ை, ய, ்]      ைய்  (N.A..S...)
2            [ய, ை]       யை  (N.A..S...)
3                 ை        ை  (N.A..S...)
4      [க, ், க, ்]     க்க்  (N.D..S...)
5      [க, ், க, ு]     க்கு  (N.D..S...)
6            [க, ு]       கு  (N.D..S...)

Plural

In [39]:
re = '(N.D..P...)'
NDP_df = merged_df[merged_df['xpos'].str.contains(rf'{re}')]
NDP_df = casefilter(NDP_df)
NDP_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
ipykernel_launcher:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts,MorphemeSeparated
0,வதந்திகளுக்க்,வதந்தி,N,NND-3PN--,12,களுக்க்,1,14,"[க, ள, ு, க, ், க, ்]"
1,மீறுவோருக்கு,மீறுவோர்,N,NPDF3PH-A,10,ுக்கு,0,7,"[ு, க, ், க, ு]"
2,மாதங்களுக்கு,மாதம்,N,NND-3PN--,10,ஙகளுக்கு,0,5,"[ங, க, ள, ு, க, ், க, ு]"
3,இடங்களுக்க்,இடம்,N,NND-3PN--,16,ஙகளுக்க்,1,4,"[ங, க, ள, ு, க, ், க, ்]"
4,ஆண்டுகளுக்குப்,ஆண்டு,N,NND-3PN--,4,களுக்குப்,0,3,"[க, ள, ு, க, ், க, ு, ப, ்]"
5,எம்பிக்களுக்க்,எம்பி,N,NED-3PA--,4,க்களுக்க்,1,2,"[க, ், க, ள, ு, க, ், க, ்]"
6,நிலையங்களுக்குத்,நிலையம்,N,NND-3PN--,8,ஙகளுக்குத்,0,2,"[ங, க, ள, ு, க, ், க, ு, த, ்]"
7,எம்பிக்களுக்கு,எம்பி,N,NED-3PA--,8,க்களுக்கு,0,1,"[க, ், க, ள, ு, க, ், க, ு]"
8,வாழ்வாதரங்களுக்கு,வாழ்வாதாரம்,N,NND-3PN--,8,ரங்களுக்கு,0,1,"[ர, ங, ், க, ள, ு, க, ், க, ு]"
9,தமிழர்களுக்குத்,தமிழர்,N,NED-3PA--,5,களுக்குத்,0,1,"[க, ள, ு, க, ், க, ு, த, ்]"
10,மாவடங்களுக்குச்,மாவட்டம்,N,NND-3PN--,8,ங்களுக்குச்,0,1,"[ங, ், க, ள, ு, க, ், க, ு, ச, ்]"
11,அனைவருக்கும்,அனைவர்,N,NND-3PA--,35,ுக்கும்,0,1,"[ு, க, ், க, ு, ம, ்]"
12,தொழிலாளர்ளுக்கு,தொழிலாளர்,N,NND-3PA--,12,ளுக்கு,0,1,"[ள, ு, க, ், க, ு]"
13,எல்லோருக்க்,எல்லோர்,N,NND-3PA--,14,ுக்க்,1,1,"[ு, க, ், க, ்]"
14,ஆண்டுகளுக்கு,ஆண்டு,N,NND-3PN--,13,களுக்கு,0,0,"[க, ள, ு, க, ், க, ு]"

In [40]:
#Adding an instance manually
splitmorph = NDP_df.loc[0, 'MorphemeSeparated']
kalu = splitmorph
kalu.pop(3)
kalu.pop(3)
kalu.pop(3)
kalu.pop(3)
kalu

['க', 'ள', 'ு']

In [41]:
morphemegen(morph_df, kalu, re )
morph_df

  MorphemeSeparated Morpheme   xpos Regex
1         [ை, ய, ்]      ைய்  (N.A..S...)
2            [ய, ை]       யை  (N.A..S...)
3                 ை        ை  (N.A..S...)
4      [க, ், க, ்]     க்க்  (N.D..S...)
5      [க, ், க, ு]     க்கு  (N.D..S...)
6            [க, ு]       கு  (N.D..S...)
7         [க, ள, ு]      களு  (N.D..P...)

## Noun - Instrumental Case

In [42]:
re = '(N.I......)'
NIP_df = merged_df[merged_df['xpos'].str.contains(rf'{re}')]
NIP_df = casefilter(NIP_df)
NIP_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
ipykernel_launcher:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts,MorphemeSeparated
0,சிவாச்சாரியர்களால்,சிவாச்சாரியர்,N,NEI-3PA--,43,களால்,0,3,"[க, ள, ா, ல, ்]"
1,முயற்சியால்,முயற்சி,N,NNI-3SN--,8,யால்,0,3,"[ய, ா, ல, ்]"
2,போரினால்,போர்,N,NNI-3SN--,3,ினால்,0,1,"[ி, ன, ா, ல, ்]"
3,நோயால்,நோய்,N,NNI-3SN--,11,ால்,0,1,"[ா, ல, ்]"
4,காரணத்தால்,காரணம்,N,NNI-3SN--,11,ததால்,0,0,"[த, த, ா, ல, ்]"

In [43]:
#Adding an instance manually
splitmorph = NIP_df.loc[0, 'MorphemeSeparated']
al = splitmorph
al.pop(0)
al.pop(0)
al

['ா', 'ல', '்']

In [44]:
morphemegen(morph_df, al, re )
morph_df

  MorphemeSeparated Morpheme   xpos Regex
1         [ை, ய, ்]      ைய்  (N.A..S...)
2            [ய, ை]       யை  (N.A..S...)
3                 ை        ை  (N.A..S...)
4      [க, ், க, ்]     க்க்  (N.D..S...)
5      [க, ், க, ு]     க்கு  (N.D..S...)
6            [க, ு]       கு  (N.D..S...)
7         [க, ள, ு]      களு  (N.D..P...)
8         [ா, ல, ்]      ால்  (N.I......)

## Noun - Genitive Case

In [45]:
re = '(N.G.*)'
NG_df = merged_df[merged_df['xpos'].str.contains(rf'{re}')]
NG_df = casefilter(NG_df)
NG_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
ipykernel_launcher:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts,MorphemeSeparated
0,சட்டத்தின்,சட்டம்,N,NNG-3SN--,3,ததின்,0,28,"[த, த, ி, ன, ்]"
1,ஆய்வுத்துறையின்,ஆய்வுத்துறை,N,NNG-3SN--,7,யின்,0,26,"[ய, ி, ன, ்]"
2,இந்தியாவின்,இந்தியா,N,NEG-3SN--,3,வின்,0,19,"[வ, ி, ன, ்]"
3,அவர்களின்,அவர்,N,NNG-3PA--,15,களின்,0,13,"[க, ள, ி, ன, ்]"
4,வீட்டின்,வீடு,N,NNG-3SN--,32,்டின்,0,8,"[், ட, ி, ன, ்]"
5,பதக்கங்களின்,பதக்கம்,N,NNG-3PN--,7,ஙகளின்,0,3,"[ங, க, ள, ி, ன, ்]"
6,சட்டத்தின்,சட்டம்,N,NNG-3SN--,30,சட்டத்தின்,2,1,"[ச, ட, ், ட, த, ், த, ி, ன, ்]"
7,தீட்சித்தின்,தீட்சித்,N,NEG-3SH--,13,தின்,0,1,"[த, ி, ன, ்]"
8,அரசினுடைய,அரசு,N,NNG-3SN--,4,ினுடைய,0,1,"[ி, ன, ு, ட, ை, ய]"
9,பிறருடைய,பிறர்,N,NNG-3SH--,2,ுடைய,0,1,"[ு, ட, ை, ய]"
10,அனைவரது,அனைவர்,N,NNG-3PA--,13,து,0,1,"[த, ு]"
11,மக்களின்,மக்கள்,N,NNG-3PA--,11,ின்,0,0,"[ி, ன, ்]"

In [46]:
splitmorph = NG_df.loc[9, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )
splitmorph = NG_df.loc[10, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )
splitmorph = NG_df.loc[11, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )
morph_df

   MorphemeSeparated Morpheme   xpos Regex
1          [ை, ய, ்]      ைய்  (N.A..S...)
2             [ய, ை]       யை  (N.A..S...)
3                  ை        ை  (N.A..S...)
4       [க, ், க, ்]     க்க்  (N.D..S...)
5       [க, ், க, ு]     க்கு  (N.D..S...)
6             [க, ு]       கு  (N.D..S...)
7          [க, ள, ு]      களு  (N.D..P...)
8          [ா, ல, ்]      ால்  (N.I......)
9       [ு, ட, ை, ய]     ுடைய      (N.G.*)
10            [த, ு]       து      (N.G.*)
11         [ி, ன, ்]      ின்      (N.G.*)

## Noun - Locative Case

In [47]:
re = '(N.L.*)'
NL_df = merged_df[merged_df['xpos'].str.contains(rf'{re}')]
NL_df = casefilter(NL_df)
NL_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
ipykernel_launcher:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts,MorphemeSeparated
0,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0,110,"[ி, ல, ்]"
1,கர்நாடகத்தில்,கர்நாடகம்,N,NEL-3SN--,5,ததில்,1,66,"[த, த, ி, ல, ்]"
2,மொழிகளில்,மொழி,N,NNL-3PN--,9,களில்,1,44,"[க, ள, ி, ல, ்]"
3,இந்தியாவில்,இந்தியா,N,NEL-3SN--,6,வில்,0,25,"[வ, ி, ல, ்]"
4,நகரங்களில்,நகரம்,N,NNL-3PN--,13,ஙகளில்,0,20,"[ங, க, ள, ி, ல, ்]"
5,நாட்டில்,நாடு,N,NNL-3SN--,21,்டில்,0,10,"[், ட, ி, ல, ்]"
6,வாசகர்களிடம்,வாசகர்,N,NNL-3PN--,27,களிடம்,0,5,"[க, ள, ி, ட, ம, ்]"
7,மக்களிடம்,மக்கள்,N,NNL-3PA--,6,ிடம்,0,3,"[ி, ட, ம, ்]"
8,உள்ளிட்டவற்றில்,உள்ளிட்டவை,N,NNL-3PN--,14,ற்றில்,0,2,"[ற, ், ற, ி, ல, ்]"
9,கிரிக்கெட்டில்,கிரிக்கெட்,N,NNL-3SN--,4,டில்,0,2,"[ட, ி, ல, ்]"
10,இப்பிரச்னையில்,பிரச்னை,N,NNL-3SN--,13,இப்பிரச்னையில்,0,1,"[இ, ப, ், ப, ி, ர, ச, ், ன, ை, ய, ி, ல, ்]"
11,இக்கூட்டத்தில்,கூட்டம்,N,NNL-3SN--,47,இக்கூடடத்தில்,0,1,"[இ, க, ், க, ூ, ட, ட, த, ், த, ி, ல, ்]"
12,நாட்களில்,நாள்,N,NNL-3PN--,29,டகளில்,0,1,"[ட, க, ள, ி, ல, ்]"
13,சுடுதலில்,சுடு,N,NNL-3SN--,16,தலில்,0,1,"[த, ல, ி, ல, ்]"
14,கூறுகையில்,கூறு,N,NNL-3SN--,16,கையில்,0,1,"[க, ை, ய, ி, ல, ்]"
15,இத்தொழிலில்,தொழில்,N,NNL-3SN--,7,இத்தொழிலில்,0,1,"[இ, த, ், த, ொ, ழ, ி, ல, ி, ல, ்]"
16,நியூயார்க்கில்,நியூயார்க்,N,NEL-3SN--,4,கில்,0,1,"[க, ி, ல, ்]"
17,செய்தவர்களில்,செய்,N,NPLF3PH-A,6,தவர்களில்,0,1,"[த, வ, ர, ், க, ள, ி, ல, ்]"
18,வரலாற்றில்,வரலாறு,N,NNL-3SN--,8,்றில்,0,1,"[், ற, ி, ல, ்]"
19,போலீஸாரால்,போலீஸார்,N,NNL-3PN--,13,ால்,0,1,"[ா, ல, ்]"
20,நிலையில்,நிலை,N,NNL-3SN--,30,நிலையில்,2,1,"[ந, ி, ல, ை, ய, ி, ல, ்]"
21,எம்பிக்களில்,எம்பி,N,NEL-3PA--,4,க்களில்,0,1,"[க, ், க, ள, ி, ல, ்]"
22,பகுதிகளில்,பகுதி,N,NNL-3PN--,7,பகுதிகளில்,2,1,"[ப, க, ு, த, ி, க, ள, ி, ல, ்]"
23,சின்னத்த்,சின்னம்,N,NNL-3SN--,9,தத்,1,1,"[த, த, ்]"
24,வாழ்விடங்கள்,வாழ்விடம்,N,NNL-3PN--,7,ஙகள்,1,1,"[ங, க, ள, ்]"
25,பகுதியில்,பகுதி,N,NNL-3SN--,9,பகுதியில்,2,1,"[ப, க, ு, த, ி, ய, ி, ல, ்]"
26,மசோதாவால்,மசோதா,N,NNL-3SN--,19,வால்,0,1,"[வ, ா, ல, ்]"
27,வகையில்,வகை,N,NNL-3SN--,18,யில்,0,0,"[ய, ி, ல, ்]"

In [48]:
splitmorph = NL_df.loc[0, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )

In [49]:
splitmorph = NL_df.loc[19, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )
splitmorph = NL_df.loc[7, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )
morph_df

   MorphemeSeparated Morpheme   xpos Regex
1          [ை, ய, ்]      ைய்  (N.A..S...)
2             [ய, ை]       யை  (N.A..S...)
3                  ை        ை  (N.A..S...)
4       [க, ், க, ்]     க்க்  (N.D..S...)
5       [க, ், க, ு]     க்கு  (N.D..S...)
6             [க, ு]       கு  (N.D..S...)
7          [க, ள, ு]      களு  (N.D..P...)
8          [ா, ல, ்]      ால்  (N.I......)
9       [ு, ட, ை, ய]     ுடைய      (N.G.*)
10            [த, ு]       து      (N.G.*)
11         [ி, ன, ்]      ின்      (N.G.*)
12         [ி, ல, ்]      ில்      (N.L.*)
13         [ா, ல, ்]      ால்      (N.L.*)
14      [ி, ட, ம, ்]     ிடம்      (N.L.*)

## Noun - Sociative Case

In [50]:
re = '(N.S.*)'
NS_df = merged_df[merged_df['xpos'].str.contains(rf'{re}')]
NS_df = casefilter(NS_df)
NS_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
ipykernel_launcher:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts,MorphemeSeparated
0,அவருடன்,அவர்,N,NNS-3SN--,16,ுடன்,0,3,"[ு, ட, ன, ்]"
1,துணையோடு,துணை,N,NNS-3SN--,24,யோடு,0,3,"[ய, ோ, ட, ு]"
2,தங்கப்பதக்கத்துடன்,தங்கப்பதக்கம்,N,NNS-3SN--,5,ததுடன்,0,2,"[த, த, ு, ட, ன, ்]"
3,மோசடியுடன்,மோசடி,N,NNS-3SN--,9,யுடன்,0,1,"[ய, ு, ட, ன, ்]"
4,அமைப்புடன்,அமைப்பு,N,NNS-3SN--,20,டன்,0,1,"[ட, ன, ்]"
5,மனிதாபிமானத்தோடு,மனிதாபிமானம்,N,NNS-3SN--,10,ததோடு,0,0,"[த, த, ோ, ட, ு]"

In [51]:
#Adding an instance manually
splitmorph = NS_df.loc[1, 'MorphemeSeparated']
ootu = splitmorph
ootu.pop(0)
ootu.pop(0)
ootu

['ட', 'ு']

In [52]:
splitmorph = NS_df.loc[0, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )
morphemegen(morph_df, ootu, re )
morph_df

   MorphemeSeparated Morpheme   xpos Regex
1          [ை, ய, ்]      ைய்  (N.A..S...)
2             [ய, ை]       யை  (N.A..S...)
3                  ை        ை  (N.A..S...)
4       [க, ், க, ்]     க்க்  (N.D..S...)
5       [க, ், க, ு]     க்கு  (N.D..S...)
6             [க, ு]       கு  (N.D..S...)
7          [க, ள, ு]      களு  (N.D..P...)
8          [ா, ல, ்]      ால்  (N.I......)
9       [ு, ட, ை, ய]     ுடைய      (N.G.*)
10            [த, ு]       து      (N.G.*)
11         [ி, ன, ்]      ின்      (N.G.*)
12         [ி, ல, ்]      ில்      (N.L.*)
13         [ா, ல, ்]      ால்      (N.L.*)
14      [ி, ட, ம, ்]     ிடம்      (N.L.*)
15      [ு, ட, ன, ்]     ுடன்      (N.S.*)
16            [ட, ு]       டு      (N.S.*)

# Noun - Participal

In [53]:
re = '(NP.......)'
NP_df = merged_df[merged_df['xpos'].str.contains(rf'{re}')]
NP_df = casefilter(NP_df)
NP_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
ipykernel_launcher:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts,MorphemeSeparated
0,சேர்ந்தவர்,சேர்,N,NPND3SH-A,0,ந்தவர்,0,3,"[ந, ், த, வ, ர, ்]"
1,என்பவர்,என்,N,NPNF3SH-A,8,பவர்,0,3,"[ப, வ, ர, ்]"
2,மீறுவோருக்கு,மீறுவோர்,N,NPDF3PH-A,10,ுக்கு,0,1,"[ு, க, ், க, ு]"
3,செய்தவர்களில்,செய்,N,NPLF3PH-A,6,தவர்களில்,0,1,"[த, வ, ர, ், க, ள, ி, ல, ்]"
4,செய்தவர்கள்,செய்,N,NPNF3PH-A,39,தவர்கள்,1,1,"[த, வ, ர, ், க, ள, ்]"
5,வாழ்ந்தவர்கள்,வாழ்,N,NPND3PH-A,11,ந்தவர்கள்,0,0,"[ந, ், த, வ, ர, ், க, ள, ்]"

In [54]:
#Adding an instance manually
splitmorph = NP_df.loc[1, 'MorphemeSeparated']
var = splitmorph
var.pop(0)
var

['வ', 'ர', '்']

In [55]:
morphemegen(morph_df, var, re )
morph_df

   MorphemeSeparated Morpheme   xpos Regex
1          [ை, ய, ்]      ைய்  (N.A..S...)
2             [ய, ை]       யை  (N.A..S...)
3                  ை        ை  (N.A..S...)
4       [க, ், க, ்]     க்க்  (N.D..S...)
5       [க, ், க, ு]     க்கு  (N.D..S...)
6             [க, ு]       கு  (N.D..S...)
7          [க, ள, ு]      களு  (N.D..P...)
8          [ா, ல, ்]      ால்  (N.I......)
9       [ு, ட, ை, ய]     ுடைய      (N.G.*)
10            [த, ு]       து      (N.G.*)
11         [ி, ன, ்]      ின்      (N.G.*)
12         [ி, ல, ்]      ில்      (N.L.*)
13         [ா, ல, ்]      ால்      (N.L.*)
14      [ி, ட, ம, ்]     ிடம்      (N.L.*)
15      [ு, ட, ன, ்]     ுடன்      (N.S.*)
16            [ட, ு]       டு      (N.S.*)
17         [வ, ர, ்]      வர்  (NP.......)

# Noun - Plural

In [56]:
re = '(N....P...)'
Np_df = merged_df[merged_df['xpos'].str.contains(rf'{re}')]
Np_df = casefilter(Np_df)
Np_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
ipykernel_launcher:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts,MorphemeSeparated
0,படிகளை,படி,N,NNA-3PN--,19,களை,0,46,"[க, ள, ை]"
1,மொழிகளில்,மொழி,N,NNL-3PN--,9,களில்,1,43,"[க, ள, ி, ல, ்]"
2,திட்டங்கள்,திட்டம்,N,NNN-3PN--,18,ஙகள்,0,36,"[ங, க, ள, ்]"
3,நகரங்களில்,நகரம்,N,NNL-3PN--,13,ஙகளில்,0,20,"[ங, க, ள, ி, ல, ்]"
4,அவர்களின்,அவர்,N,NNG-3PA--,15,களின்,0,20,"[க, ள, ி, ன, ்]"
5,ஆண்டுகளுக்கு,ஆண்டு,N,NND-3PN--,13,களுக்கு,0,16,"[க, ள, ு, க, ், க, ு]"
6,நிலையங்களை,நிலையம்,N,NNA-3PN--,16,ஙகளை,0,14,"[ங, க, ள, ை]"
7,வதந்திகளுக்க்,வதந்தி,N,NND-3PN--,12,களுக்க்,1,14,"[க, ள, ு, க, ், க, ்]"
8,வீரர்களைய்,வீரர்,N,NNA-3PA--,29,களைய்,1,11,"[க, ள, ை, ய, ்]"
9,நாட்கள்,நாள்,N,NNN-3PN--,5,டகள்,0,8,"[ட, க, ள, ்]"
10,குழுக்கள்,குழு,N,NNN-3PN--,10,க்கள்,0,8,"[க, ், க, ள, ்]"
11,மீறுவோருக்கு,மீறுவோர்,N,NPDF3PH-A,10,ுக்கு,0,7,"[ு, க, ், க, ு]"
12,உரிமைகளைப்,உரிமை,N,NNA-3PN--,12,களைப்,0,7,"[க, ள, ை, ப, ்]"
13,வாழ்ந்தவர்கள்,வாழ்,N,NPND3PH-A,11,ந்தவர்கள்,0,6,"[ந, ், த, வ, ர, ், க, ள, ்]"
14,குறைகளைக்,குறை,N,NNA-3PN--,16,களைக்,0,5,"[க, ள, ை, க, ்]"
15,வாசகர்களிடம்,வாசகர்,N,NNL-3PN--,27,களிடம்,0,5,"[க, ள, ி, ட, ம, ்]"
16,மாதங்களுக்கு,மாதம்,N,NND-3PN--,10,ஙகளுக்கு,0,5,"[ங, க, ள, ு, க, ், க, ு]"
17,இடங்களுக்க்,இடம்,N,NND-3PN--,16,ஙகளுக்க்,1,5,"[ங, க, ள, ு, க, ், க, ்]"
18,அடையாளங்களைப்,அடையாளம்,N,NNA-3PN--,3,ஙகளைப்,0,4,"[ங, க, ள, ை, ப, ்]"
19,உபகரணங்களைய்,உபகரணம்,N,NNA-3PN--,16,ஙகளைய்,1,3,"[ங, க, ள, ை, ய, ்]"
20,ஆண்டுகளுக்குப்,ஆண்டு,N,NND-3PN--,4,களுக்குப்,0,3,"[க, ள, ு, க, ், க, ு, ப, ்]"
21,பதக்கங்களின்,பதக்கம்,N,NNG-3PN--,7,ஙகளின்,0,3,"[ங, க, ள, ி, ன, ்]"
22,டிக்கெட்டுகள்,டிக்கெட்,N,NNN-3PN--,16,டுகள்,0,3,"[ட, ு, க, ள, ்]"
23,சிவாச்சாரியர்களால்,சிவாச்சாரியர்,N,NEI-3PA--,43,களால்,0,3,"[க, ள, ா, ல, ்]"
24,மக்களின்,மக்கள்,N,NNG-3PA--,11,ின்,0,3,"[ி, ன, ்]"
25,நிலையங்களுக்குத்,நிலையம்,N,NND-3PN--,8,ஙகளுக்குத்,0,2,"[ங, க, ள, ு, க, ், க, ு, த, ்]"
26,தேவைய்,தேவை,N,NNN-3PN--,9,ய்,1,2,"[ய, ்]"
27,எம்பிக்களின்,எம்பி,N,NEN-3PA--,8,க்களின்,0,2,"[க, ், க, ள, ி, ன, ்]"
28,எம்பிக்களுக்க்,எம்பி,N,NED-3PA--,4,க்களுக்க்,1,2,"[க, ், க, ள, ு, க, ், க, ்]"
29,தமிழர்களைச்,தமிழர்,N,NEA-3PA--,13,களைச்,0,2,"[க, ள, ை, ச, ்]"
30,உள்ளிட்டவற்றில்,உள்ளிட்டவை,N,NNL-3PN--,14,ற்றில்,0,2,"[ற, ், ற, ி, ல, ்]"
31,வாழ்த்துகளைத்,வாழ்த்து,N,NNA-3PN--,9,களைத்,0,2,"[க, ள, ை, த, ்]"
32,எமெலேக்களை,எமெலே,N,NEA-3PA--,15,க்களை,0,2,"[க, ், க, ள, ை]"
33,நாட்களில்,நாள்,N,NNL-3PN--,29,டகளில்,0,1,"[ட, க, ள, ி, ல, ்]"
34,தென்மாவட்டங்களைச்,தென்மாவட்டம்,N,NNA-3PN--,5,ஙகளைச்,0,1,"[ங, க, ள, ை, ச, ்]"
35,மக்களைக்,மக்கள்,N,NNA-3PA--,13,ைக்,0,1,"[ை, க, ்]"
36,மாவடங்களுக்குச்,மாவட்டம்,N,NND-3PN--,8,ங்களுக்குச்,0,1,"[ங, ், க, ள, ு, க, ், க, ு, ச, ்]"
37,அனைவரது,அனைவர்,N,NNG-3PA--,13,து,0,1,"[த, ு]"
38,அனைவருக்கும்,அனைவர்,N,NND-3PA--,35,ுக்கும்,0,1,"[ு, க, ், க, ு, ம, ்]"
39,செய்தவர்கள்,செய்,N,NPNF3PH-A,39,தவர்கள்,1,1,"[த, வ, ர, ், க, ள, ்]"
40,எல்லோருக்க்,எல்லோர்,N,NND-3PA--,14,ுக்க்,1,1,"[ு, க, ், க, ்]"
41,தொழிலாளர்ளுக்கு,தொழிலாளர்,N,NND-3PA--,12,ளுக்கு,0,1,"[ள, ு, க, ், க, ு]"
42,வாழ்வாதரங்களுக்கு,வாழ்வாதாரம்,N,NND-3PN--,8,ரங்களுக்கு,0,1,"[ர, ங, ், க, ள, ு, க, ், க, ு]"
43,கொடுப்பவர்கள்,கொடு,N,NNN-3PA--,4,ப்பவர்கள்,0,1,"[ப, ், ப, வ, ர, ், க, ள, ்]"
44,செய்தவர்களில்,செய்,N,NPLF3PH-A,6,தவர்களில்,0,1,"[த, வ, ர, ், க, ள, ி, ல, ்]"
45,போலீஸாரால்,போலீஸார்,N,NNL-3PN--,13,ால்,0,1,"[ா, ல, ்]"
46,மாவோயிஸ்டுகள்,மாவோயிஸ்ட்,N,NEN-3PA--,5,ுகள்,1,1,"[ு, க, ள, ்]"
47,பாக்கெட்டுகளைய்,பாக்கெட்,N,NNA-3PN--,12,டுகளைய்,1,1,"[ட, ு, க, ள, ை, ய, ்]"
48,தமிழர்களுக்குத்,தமிழர்,N,NED-3PA--,5,களுக்குத்,0,1,"[க, ள, ு, க, ், க, ு, த, ்]"
49,மக்களிடம்,மக்கள்,N,NNL-3PA--,6,ிடம்,0,1,"[ி, ட, ம, ்]"
50,குழுவினரைத்,குழுவினர்,N,NNA-3PA--,9,ைத்,0,1,"[ை, த, ்]"
51,எம்பிக்களில்,எம்பி,N,NEL-3PA--,4,க்களில்,0,1,"[க, ், க, ள, ி, ல, ்]"
52,எம்பிக்களுக்கு,எம்பி,N,NED-3PA--,8,க்களுக்கு,0,1,"[க, ், க, ள, ு, க, ், க, ு]"
53,பகுதிகளில்,பகுதி,N,NNL-3PN--,7,பகுதிகளில்,2,1,"[ப, க, ு, த, ி, க, ள, ி, ல, ்]"
54,இருவரும்,இருவர்,N,NNN-3PA--,8,ும்,0,1,"[ு, ம, ்]"
55,அகதிகள்,அகதி,N,NNN-3PA--,12,கள்,1,0,"[க, ள, ்]"

In [57]:
splitmorph = Np_df.loc[55, 'MorphemeSeparated']
morphemegen(morph_df, splitmorph, re )
morph_df

   MorphemeSeparated Morpheme   xpos Regex
1          [ை, ய, ்]      ைய்  (N.A..S...)
2             [ய, ை]       யை  (N.A..S...)
3                  ை        ை  (N.A..S...)
4       [க, ், க, ்]     க்க்  (N.D..S...)
5       [க, ், க, ு]     க்கு  (N.D..S...)
6             [க, ு]       கு  (N.D..S...)
7          [க, ள, ு]      களு  (N.D..P...)
8          [ா, ல, ்]      ால்  (N.I......)
9       [ு, ட, ை, ய]     ுடைய      (N.G.*)
10            [த, ு]       து      (N.G.*)
11         [ி, ன, ்]      ின்      (N.G.*)
12         [ி, ல, ்]      ில்      (N.L.*)
13         [ா, ல, ்]      ால்      (N.L.*)
14      [ி, ட, ம, ்]     ிடம்      (N.L.*)
15      [ு, ட, ன, ்]     ுடன்      (N.S.*)
16            [ட, ு]       டு      (N.S.*)
17         [வ, ர, ்]      வர்  (NP.......)
18         [க, ள, ்]      கள்  (N....P...)

In [58]:
# Sending noun morphemes to SQL. Commenting out because code is complete
#morph_df.to_sql(name ='nounmorphemes', con=engine)

# Pronouns

In [90]:
P_df = merged_df[merged_df['upos']== 'R']
P_df = P_df[P_df['NoSpaceAfter']== 0]
P_df.reset_index(inplace=True)
P_df.drop_duplicates(subset = 'lemma', inplace=True)
P_df

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,13,யாருக்கும்,யார்,R,RBD-3SA--,15,ுக்கும்,0,2
1,25,இது,இது,R,RpN-3SN--,2,,0,0
2,28,அவர்,அவர்,R,RpN-3SH--,6,,0,0
3,142,அதை,அது,R,RpA-3SN--,16,,0,0
6,276,தங்களின்,தன்,R,RhG-3PA--,9,ஙகளின்,0,4
7,322,அவற்றை,அவை,R,RpA-3PN--,14,ற்றை,0,2
8,527,நீங்கள்,நீங்கள்,R,RpN-2SH--,18,,0,0
17,1013,அனைவரும்,அனைவர்,R,RpN-3PA--,9,ும்,0,16
25,1323,தான்,தான்,R,RpN-3SA--,3,,0,0
44,2031,நான்,நான்,R,RpN-1SA--,11,,0,0
47,2451,எங்களால்,எங்கள்,R,RpI-1PA--,5,ால்,0,3
48,2453,உங்களுக்கு,உங்கள்,R,RpD-2PA--,5,ுக்கு,0,23
49,2455,நாங்கள்,நாங்கள்,R,RpN-1PA--,7,,0,0
68,2980,அவர்களால்,அவர்களால்,R,RpI-3PA--,3,,0,0
74,3394,இவர்,இவர்,R,RpN-3SH--,11,,0,0
79,3655,எனக்கு,என்,R,RpD-1SA--,4,க்கு,0,55
84,3833,எத்தகையது,எத்தகையது,R,RiN-3SN--,44,,0,0
95,4433,இவற்றை,இவை,R,RpA-3PN--,4,ற்றை,0,2
103,4974,அனைத்தும்,அனைத்து,R,RpN-3PN--,18,ம்,0,144
122,5965,எதுவும்,எது,R,RBN-3SN--,6,வும்,0,2
132,6235,நம்முடைய,நம்,R,RpG-1PA--,9,முடைய,0,1
135,6296,நாம்,நாம்,R,RpN-1PA--,7,,0,0
193,8676,அதன்,அதன்,R,RpG-3SN--,2,,0,0

In [60]:
# Sending pronouns to SQL. Commenting out because code is complete
#P_df.to_sql(name ='pronouns', con=engine)

# Verbs - Indicative

### 1s

In [61]:
V1s_df = merged_df[merged_df['xpos'].str.contains(r'(V...1S...)')]
V1s_df.reset_index(inplace=True)
V1s_df.drop_duplicates(subset = 'lemma', inplace=True)
V1s_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,2036,கருதுகிறேன்,கருது,V,Vr-P1SAAA,16,கிறேன்,0,3
1,3581,மாட்டேன்,மாட்டு,V,VR-T1SAAA,11,ேன்,0,2
2,3646,உள்ளேன்,உள்,V,Vr-T1SAAA,0,ளேன்,0,1
4,3884,புறக்கணிக்கிறேன்,புறக்கணி,V,Vr-P1SAAA,0,க்கிறேன்,0,2
5,3901,கேட்டுக்கொள்கிறேன்,கேள்,V,Vr-P1SAAA,0,டடுக்கொள்கிறேன்,0,1
6,4215,கொள்கிறேன்,கொள்,V,Vr-P1SAAA,18,கிறேன்,0,3
7,5301,போனேன்,போ,V,VR-D1SAAA,5,னேன்,0,1
11,6515,இருக்கிறேன்,இரு,V,Vr-P1SAAA,19,க்கிறேன்,0,2
12,7640,மேற்கொண்டேன்,மேற்கொள்,V,Vr-D1SAAA,0,ணடேன்,0,1

### 2s

In [62]:
V2s_df = merged_df[merged_df['xpos'].str.contains(r'(V...2S...)')]
V2s_df.reset_index(inplace=True)
V2s_df.drop_duplicates(subset = 'lemma', inplace=True)
V2s_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,3634,கவலைப்படாதீர்கள்,கவலைப்படு,V,Vr-T2SH-N,0,ாதீர்கள்,0,1

### 3sm

In [63]:
V3SM_df = merged_df[merged_df['xpos'].str.contains(r'(V...3SM.)')]
V3SM_df.reset_index(inplace=True)
V3SM_df.drop_duplicates(subset = 'lemma', inplace=True)
V3SM_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Empty DataFrame
Columns: [index, form, lemma, upos, xpos, head, Morpheme, NoSpaceAfter, Counts]
Index: []

### 3sf

In [64]:
V3SF_df = merged_df[merged_df['xpos'].str.contains(r'(V...3SF.)')]
V3SF_df.reset_index(inplace=True)
V3SF_df.drop_duplicates(subset = 'lemma', inplace=True)
V3SF_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Empty DataFrame
Columns: [index, form, lemma, upos, xpos, head, Morpheme, NoSpaceAfter, Counts]
Index: []

### 3sn

Past

In [65]:
VD3SN_df = merged_df[merged_df['xpos'].str.contains(r'(V..D3SN.)')]
VD3SN_df.reset_index(inplace=True)
VD3SN_df.drop_duplicates(subset = 'lemma', inplace=True)
VD3SN_df.head()

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,61,செய்தது,செய்,V,Vr-D3SNAA,27,தது,0,9
1,365,போராடியதைப்,போராடு,V,VzAD3SNAA,11,ியதைப்,0,1
2,410,தொகுத்ததில்,தொகு,V,VzLD3SNAA,23,த்ததில்,0,3
3,538,பட்டது,படு,V,VR-D3SNPA,27,பட்டது,2,24
4,544,கிடைத்ததில்,கிடை,V,VzLD3SNAA,8,த்ததில்,0,3

Present

In [66]:
VP3SN_df = merged_df[merged_df['xpos'].str.contains(r'(V..P3SN.)')]
VP3SN_df.reset_index(inplace=True)
VP3SN_df.drop_duplicates(subset = 'lemma', inplace=True)
VP3SN_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,781,நடைபெறுகிறது,நடைபெறு,V,Vr-P3SNAA,0,கிறது,0,32
1,1056,படுகிறது,படு,V,VR-P3SNPA,26,கிறது,0,32
2,2056,தெரிகிறது,தெரி,V,Vr-P3SNAA,0,கிறது,0,32
3,2222,வருகிறது,வரு,V,VR-P3SNAA,26,கிறது,0,32
4,2279,அறிவிக்கிறது,அறிவி,V,Vr-P3SNAA,0,க்கிறது,0,8
6,2353,நிலவுகிறது,நிலவு,V,Vr-P3SNAA,0,கிறது,0,32
11,2908,இருக்கிறது,இரு,V,Vr-P3SNAA,6,இருக்கிறது,2,4
13,2978,கூறுகிறது,கூறு,V,Vr-P3SNAA,0,கிறது,0,32
18,3745,அளிக்கிறது,அளி,V,Vr-P3SNAA,0,க்கிறது,0,8
19,3847,கண்டிக்கிறது,கண்டி,V,Vr-P3SNAA,0,க்கிறது,0,8
32,7406,விரும்புகிறது,விரும்பு,V,Vr-P3SNAA,0,கிறது,0,32
35,7983,தெரிவிக்கிறது,தெரிவி,V,Vr-P3SNAA,0,க்கிறது,0,8
39,8925,மாறுபடுகிறது,மாறுபடு,V,Vr-P3SNAA,0,கிறது,0,32

Future

In [67]:
VF3SN_df = merged_df[merged_df['xpos'].str.contains(r'(V..F3SN.)')]
VF3SN_df.reset_index(inplace=True)
VF3SN_df.drop_duplicates(subset = 'lemma', inplace=True)
VF3SN_df.head()

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,18,படும்,படு,V,VR-F3SNPA,18,ம்,0,144
1,145,வேண்டும்,வேண்டு,V,VR-F3SNAA,16,ம்,0,144
2,180,உருவாவதற்கு,உருவாகு,V,VzDF3SNAA,6,வதற்கு,0,11
3,323,இடிப்பதற்க்,இடி,V,VzDF3SNAA,17,ப்பதற்க்,1,3
4,345,வாழ்வதற்கு,வாழ்,V,VzDF3SNAA,7,வதற்கு,0,11

Tenseless - has negatives

In [68]:
VT3SN_df = merged_df[merged_df['xpos'].str.contains(r'(V..T3SN.)')]
VT3SN_df.reset_index(inplace=True)
VT3SN_df.drop_duplicates(subset = 'lemma', inplace=True)
VT3SN_df.head()

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,141,உள்ளதால்,உள்,V,VzLT3SNAA,24,ளதால்,0,2
4,338,மாட்டாது,மாட்டு,V,VR-T3SN-N,7,ாது,0,6
12,891,கூடாது,கூடு,V,VR-T3SN-N,4,ாது,0,6
36,3417,பெற்றுள்ளது,பெறு,V,VR-T3SNAA,7,்றுள்ளது,0,2
41,3637,வேண்டாம்,வேண்டு,V,VR-T3SN-N,1,ாம்,0,3

### 3sh

In [69]:
V3SH_df = merged_df[merged_df['xpos'].str.contains(r'(V...3SH.)')]
V3SH_df.reset_index(inplace=True)
V3SH_df.drop_duplicates(subset = 'lemma', inplace=True)
V3SH_df.head()

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,23,உள்ளார்,உள்,V,VR-T3SHAA,23,உள்ளார்,2,31
2,579,பிடித்தார்,பிடி,V,Vr-D3SHAA,24,த்தார்,0,37
3,708,இருந்தார்,இரு,V,VR-D3SHAA,10,இருந்தார்,2,5
4,739,பேசினார்,பேசு,V,Vr-D3SHAA,15,ினார்,0,27
6,885,விடுத்துள்ளார்,விடு,V,Vr-D3SHAA,0,த்துள்ளார்,0,1

### 1pl

In [70]:
V1P_df = merged_df[merged_df['xpos'].str.contains(r'(V...1P..)')]
V1P_df.reset_index(inplace=True)
V1P_df.drop_duplicates(subset = 'lemma', inplace=True)
V1P_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,966,உள்ளோம்,உள்,V,VR-T1PAAA,11,உள்ளோம்,2,1
1,2275,கட்டுவோம்,கட்டு,V,Vr-F1P-AA,11,வோம்,0,6
5,2461,செய்வோம்,செய்,V,Vr-F1P-AA,13,வோம்,0,6
6,3859,வற்புறுத்துகிறோம்,வற்புறுத்து,V,Vr-P1P-AA,0,கிறோம்,0,5
8,4614,வைப்போம்,வை,V,Vr-F1P-AA,8,ப்போம்,0,1
9,6156,இருக்கிறோம்,இரு,V,VR-P1PAAA,33,க்கிறோம்,0,2
10,6281,ஆற்றுகிறோம்,ஆற்று,V,Vr-P1P-AA,23,கிறோம்,0,5
11,6297,நிறைவேற்றுவோம்,நிறைவேற்று,V,Vr-F1P-AA,8,வோம்,0,6
12,7451,எதிர்க்கிறோம்,எதிர்,V,Vr-P1PAAA,0,க்கிறோம்,0,2
14,7503,போட்டியிடுகிறோம்,போட்டியிடு,V,Vr-P1P-AA,0,கிறோம்,0,5
15,7515,போராடுவோம்,போராடு,V,Vr-F1P-AA,0,வோம்,0,6
18,8474,வருகிறோம்,வரு,V,VR-P1PAAA,2,கிறோம்,0,5
19,8485,வாழ்ந்தோம்,வாழ்,V,Vr-D1P-AA,7,ந்தோம்,0,2

### 2pl

In [71]:
V2P_df = merged_df[merged_df['xpos'].str.contains(r'(V...2P..)')]
V2P_df.reset_index(inplace=True)
V2P_df.drop_duplicates(subset = 'lemma', inplace=True)
V2P_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,532,விரும்புகிறீர்கள்,விரும்பு,V,Vr-P2PHAA,25,கிறீர்கள்,0,3
1,3653,இருங்கள்,இரு,V,Vj-T2PAAA,0,ங்கள்,0,1
2,4595,வருகிறீர்கள்,வரு,V,Vr-P2PAAA,8,கிறீர்கள்,0,3
4,7388,அஞ்சுகிறீர்கள்,அஞ்சு,V,Vr-P2PAAA,0,கிறீர்கள்,0,3

### 3plmf

Past

In [72]:
VD3PH_df = merged_df[merged_df['xpos'].str.contains(r'(V..D3PH.)')]
VD3PH_df.reset_index(inplace=True)
VD3PH_df.drop_duplicates(subset = 'lemma', inplace=True)
VD3PH_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,96,விட்டனர்,விடு,V,VR-D3PHAA,12,்டனர்,0,6
1,187,வந்தனர்,வா,V,VR-D3PHAA,11,ந்தனர்,0,12
2,675,தெரிவித்தனர்,தெரிவி,V,Vr-D3PHAA,0,த்தனர்,0,8
3,696,சந்தித்தனர்,சந்தி,V,Vr-D3PHAA,0,த்தனர்,0,8
5,1028,சென்றனர்,செல்,V,Vr-D3PHAA,9,னறனர்,0,3
6,1266,பட்டனர்,படு,V,VR-D3PHPA,10,்டனர்,0,6
7,1627,வரவேற்றனர்,வரவேல்,V,Vr-D3PHAA,0,றறனர்,0,2
8,1640,அளித்தனர்,அளி,V,Vr-D3PHAA,0,த்தனர்,0,8
10,2523,காண்பித்தனர்,காண்பி,V,Vr-D3PHAA,0,த்தனர்,0,8
12,2884,தயாராகினர்,தயாராகு,V,Vr-D3PHAA,0,ினர்,0,2
13,3087,நடத்தினர்,நடத்து,V,Vr-D3PHAA,0,ினர்,0,2
15,3502,செய்திருந்தனர்,செய்திரு,V,Vr-D3PHAA,15,ந்தனர்,0,12
16,3553,வென்றனர்,வெல்,V,Vr-D3PHAA,0,னறனர்,0,3
17,4285,உயிரிழந்தனர்,உயிரிழ,V,Vr-D3PHAA,0,ந்தனர்,0,12
24,5676,செய்தனர்,செய்,V,Vr-D3PHAA,11,தனர்,0,2
25,5699,எரித்தனர்,எரி,V,Vr-D3PHAA,0,த்தனர்,0,8
27,5828,காத்திருந்தனர்,காத்திரு,V,Vr-D3PHAA,0,ந்தனர்,0,12
28,6398,கொண்டனர்,கொள்,V,VR-D3PHAA,23,ணடனர்,0,2
31,8225,கேட்டனர்,கேள்,V,Vr-D3PHAA,0,டடனர்,0,1
33,8630,என்றனர்,என்,V,Vr-D3PHAA,0,றனர்,0,1
35,8730,உத்தரவிட்டனர்,உத்தரவிடு,V,Vr-D3PHAA,0,்டனர்,0,6

Present

In [73]:
VP3PH_df = merged_df[merged_df['xpos'].str.contains(r'(V..P3PH.)')]
VP3PH_df.reset_index(inplace=True)
VP3PH_df.drop_duplicates(subset = 'lemma', inplace=True)
VP3PH_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,1318,படுகின்றனர்,படு,V,VR-P3PHPA,13,கின்றனர்,0,18
1,2870,இருக்கினறனர்,இரு,V,VR-P3PHAA,16,இருக்கினறனர்,2,1
3,3291,வருகின்றனர்,வரு,V,VR-P3PHAA,13,கின்றனர்,0,18
5,4156,தெரிவிக்கின்றனர்,தெரிவி,V,Vr-P3PHAA,0,க்கின்றனர்,0,3
7,5435,நடத்துகின்றனர்,நடத்து,V,Vr-P3PHAA,13,கின்றனர்,0,18
9,6582,வழிபடுகிறார்கள்,வழிபடு,V,Vr-P3PHAA,0,கிறார்கள்,0,1
12,8355,உயிரிழக்கின்றனர்,உயிரிழ,V,Vr-P3PHAA,0,க்கின்றனர்,0,3

Future

In [74]:
VF3PH_df = merged_df[merged_df['xpos'].str.contains(r'(V..F3PH.)')]
VF3PH_df.reset_index(inplace=True)
VF3PH_df.drop_duplicates(subset = 'lemma', inplace=True)
VF3PH_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,308,படுவார்கள்,படு,V,VR-F3PHPA,39,வார்கள்,0,3
2,3018,திரும்புவார்கள்,திரும்பு,V,Vr-F3PHAA,5,வார்கள்,0,3
3,9267,நடத்துவர்,நடத்து,V,Vr-F3PHAA,0,வர்,0,1

Tenseless

In [75]:
VT3PH_df = merged_df[merged_df['xpos'].str.contains(r'(V..T3PH.)')]
VT3PH_df.reset_index(inplace=True)
VT3PH_df.drop_duplicates(subset = 'lemma', inplace=True)
VT3PH_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,1442,மாட்டார்கள்,மாட்டு,V,VR-T3PHAA,9,ார்கள்,0,1

### 3pln

In [76]:
V3PN_df = merged_df[merged_df['xpos'].str.contains(r'(V...3PN.)')]
V3PN_df.reset_index(inplace=True)
V3PN_df.drop_duplicates(subset = 'lemma', inplace=True)
V3PN_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,81,படுகின்றன,படு,V,VR-P3PNPA,18,கின்றன,0,15
1,174,உள்ளன,உள்,V,VR-T3PNAA,12,ளன,0,13
2,256,இல்லை,இல்,V,Vr-T3PNAA,17,லை,0,7
6,509,வந்தன,வா,V,VR-D3PNAA,15,ந்தன,0,8
9,953,வருகின்றன,வரு,V,VR-P3PNAA,10,கின்றன,0,15
10,1084,தெரிவித்தன,தெரிவி,V,Vr-D3PNAA,0,த்தன,0,7
19,2314,கிடைக்காது,கிடை,V,Vr-T3PNAA,0,க்காது,0,2
28,3960,கட்டுப்படுத்தாது,கட்டுப்பாடு,V,Vr-T3PNAA,0,டுத்தாது,0,1
34,4831,போட்டியிடுகின்றன,போட்டியிடு,V,Vr-P3PNAA,0,கின்றன,0,15
37,4978,விட்டன,விடு,V,VR-D3PNAA,18,்டன,0,3
41,5464,பதிவாயின,பதிவாகு,V,Vr-D3PNAA,0,யின,0,1
44,5796,தீர்ந்தன,தீர்,V,Vr-D3PNAA,0,ந்தன,0,8
47,5881,இருந்தன,இரு,V,Vr-D3PNAA,0,ந்தன,0,8
54,6070,அல்ல,அல்,V,VR-T3PNAA,0,ல,0,6
55,6249,பலனில்லை,பலன்,V,Vr-T3PNAA,0,ில்லை,0,2
56,6258,பயனில்லை,பயன்,V,Vr-T3PNAA,0,ில்லை,0,2
57,6312,வேண்டாம்,வேண்டு,V,Vr-T3PNAA,0,ாம்,0,3
59,6448,சரியில்லை,சரி,V,Vr-T3PNAA,0,யில்லை,0,1
63,6800,செயல்படுகின்றன,செயல்படு,V,Vr-P3PNAA,0,கின்றன,0,15
67,7439,முயல்கின்றன,முயல்,V,Vr-P3PNAA,0,கின்றன,0,15
71,7749,எழுந்தன,எழு,V,Vr-D3PNAA,0,ந்தன,0,8
77,8311,ஏற்படுகின்றன,ஏற்படு,V,Vr-P3PNAA,0,கின்றன,0,15

In [77]:
VIN_df = merged_df[merged_df['xpos'].str.contains(r'(V....P...)')]
VIN_df.reset_index(inplace=True)
VIN_df.drop_duplicates(subset = 'lemma', inplace=True)
VIN_df.head()

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   index       form lemma upos       xpos head Morpheme  NoSpaceAfter  Counts
0     81  படுகின்றன   படு    V  VR-P3PNPA   18   கின்றன             0      15
1     96   விட்டனர்  விடு    V  VR-D3PHAA   12    ்டனர்             0       6
2    126    உள்ளனர்   உள்    V  VR-T3PAAA   28  உள்ளனர்             2      16
4    187    வந்தனர்    வா    V  VR-D3PHAA   11   ந்தனர்             0      12
5    256      இல்லை   இல்    V  Vr-T3PNAA   17       லை             0       7

# Verb - Infinitive

In [78]:
Vu_df = merged_df[merged_df['xpos'].str.contains(r'(Vu.......)')]
Vu_df.reset_index(inplace=True)
Vu_df.drop_duplicates(subset = 'lemma', inplace=True)
Vu_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,17,எடுக்கப்,எடு,V,Vu-T---AA,20,க்கப்,0,69
1,49,விரிவுபடுத்தவ்,விரிவுபடுத்து,V,Vu-T---AA,24,வ்,1,27
2,56,அமைக்கவ்,அமை,V,Vu-T---AA,24,க்கவ்,1,8
3,78,உருவாக்கப்,உருவாகு,V,Vu-T---AA,18,்கப்,1,2
4,80,நிறைவேற்றப்,நிறைவேற்று,V,Vu-T---AA,0,ப்,0,109
6,143,திரும்பப்,திரும்பு,V,Vu-T---AA,19,ப்,0,109
7,163,பாதுகாக்க,பாதுகா,V,Vu-T---AA,12,க்க,0,48
9,172,இயற்றப்,இயற்று,V,Vu-T---AA,0,ப்,1,109
11,281,செய்யவ்,செய்,V,Vu-T---AA,12,யவ்,1,2
12,307,தண்டிக்கப்,தண்டி,V,Vu-T---AA,0,க்கப்,0,69
13,318,கட்டப்,கட்டு,V,Vu-T---AA,17,ப்,1,109
14,326,வழங்கப்,வழங்கு,V,Vu-T---AA,0,ப்,1,109
17,508,தெரிய,தெரி,V,Vu-T---AA,0,ய,0,19
18,522,வாழவ்,வாழ்,V,Vu-T---AA,13,வ்,1,27
19,531,பிறக்க,பிற,V,Vu-T---AA,22,க்க,0,48
20,537,கேட்கப்,கேள்,V,Vu-T---AA,0,டகப்,1,1
22,553,தெரிவிக்கப்,தெரிவி,V,Vu-T---AA,0,க்கப்,1,69
23,563,நேசிக்கப்,நேசி,V,Vu-T---AA,8,க்கப்,0,69
24,581,குறிப்பிடத்,குறிப்பிடு,V,Vu-T---AA,0,த்,0,83
25,591,அறிவிக்கப்,அறிவி,V,Vu-T---AA,0,க்கப்,1,69
27,622,முடிவெடுக்கப்,முடிவெடு,V,Vu-T---AA,0,க்கப்,1,69
28,651,ஏற்கவ்,ஏல்,V,Vu-T---AA,0,றகவ்,1,1
31,758,வெளியிடப்,வெளியிடு,V,Vu-T---AA,11,ப்,1,109
33,792,நடைதிறக்கப்,நடைதிற,V,Vu-T---AA,0,க்கப்,1,69
34,831,வரப்,வா,V,Vu-T---AA,16,ரப்,1,3
35,857,கொடியேற்றப்,கொடியேற்று,V,Vu-T---AA,0,ப்,1,109
37,875,விதிக்க,விதி,V,Vu-T---AA,18,க்க,0,48
38,890,இடம்தரக்,இடம்தரு,V,Vu-T---AA,6,க்,0,62
40,907,விளையாடத்,விளையாடு,V,Vu-T---AA,22,த்,0,83
41,908,தடைவிதிக்க,தடைவிதி,V,Vu-T---AA,24,க்க,0,48
42,913,அளிக்க,அளி,V,Vu-T---AA,3,க்க,0,48
47,1055,எதிர்பார்க்கப்,எதிர்பார்,V,Vu-T---AA,0,க்கப்,0,69
48,1079,கௌரவிக்க,கௌரவி,V,Vu-T---AA,25,க்க,1,48
49,1164,மூடப்,மூடு,V,Vu-T---AA,8,ப்,1,109
52,1257,அடைக்க,அடை,V,Vu-T---AA,5,க்க,0,48
55,1282,விடுவிக்கப்,விடுவி,V,Vu-T---AA,0,க்கப்,1,69
61,1427,கவலைப்படப்,கவலைப்படு,V,Vu-T---AA,18,ப்,0,109
63,1461,சாட்டப்,சாட்டு,V,Vu-T---AA,10,ப்,1,109
64,1483,விசாரிக்கவ்,விசாரி,V,Vu-T---AA,0,க்கவ்,1,8
66,1493,கருதப்,கருது,V,Vu-T---AA,0,ப்,1,109
68,1547,குற்றம்சாட்டவ்,குற்றம்சாட்டு,V,Vu-T---AA,10,வ்,1,27
69,1561,நியமிக்கப்,நியமி,V,Vu-T---AA,25,க்கப்,1,69
74,1713,மேற்கொள்ள,மேற்கொள்,V,Vu-T---AA,14,ள,0,39
77,1811,பேசவ்,பேசு,V,Vu-T---AA,14,வ்,1,27
78,1814,எழுதவ்,எழுது,V,Vu-T---AA,14,வ்,1,27
82,2019,முடிக்கப்,முடி,V,Vu-T---AA,8,க்கப்,1,69
88,2297,உடைக்கப்,உடை,V,Vu-T---AA,13,க்கப்,0,69
89,2307,பாதிக்க,பாதி,V,Vu-T---AA,0,க்க,0,48
90,2317,ஏற்படக்,ஏற்படு,V,Vu-T---AA,3,க்,0,62
91,2384,பங்கேற்க,பங்கேல்,V,Vu-T---AA,9,றக,0,5
93,2490,செல்லப்,செல்,V,Vu-T---AA,15,லப்,1,2
95,2616,வைக்கப்,வை,V,Vu-T---AA,3,க்கப்,1,69
97,2778,பழுதுபார்க்க,பழுதுபார்,V,Vu-T---AA,8,க்க,0,48
100,2887,புறப்படத்,புறப்படு,V,Vu-T---AA,3,த்,0,83
101,2928,கூறப்,கூறு,V,Vu-T---AA,0,ப்,0,109
108,3143,பிறப்பிக்கப்,பிறப்பி,V,Vu-T---AA,17,க்கப்,1,69
111,3188,விடுதலைசெய்ய,விடுதலைசெய்,V,Vu-T---AA,7,ய,1,19
113,3208,அனுப்பப்,அனுப்பு,V,Vu-T---AA,0,ப்,1,109
116,3265,கொல்லப்பட,கொல்,V,Vu-T---AA,7,லப்பட,0,1
119,3597,சரணடைய,சரணடை,V,Vu-T---AA,3,ய,0,19
123,3758,சிறப்பிக்க,சிறப்பி,V,Vu-T---AA,13,க்க,0,48
124,3898,புறக்கணிக்க,புறக்கணி,V,Vu-T---AA,15,க்க,0,48
125,3939,நிரூபிக்க,நிரூபி,V,Vu-T---AA,6,க்க,0,48
127,4048,கலக்க,கல்,V,Vu-T---AA,11,க்க,0,48
128,4149,கொடுக்கப்,கொடு,V,Vu-T---AA,43,க்கப்,1,69
132,4405,செயல்படக்,செயல்படு,V,Vu-T---AA,0,க்,0,62
134,4475,அனுமதிக்கப்,அனுமதி,V,Vu-T---AA,0,க்கப்,0,69
137,4553,உத்தரவிடப்,உத்தரவிடு,V,Vu-T---AA,0,ப்,1,109
138,4564,விடுக்கப்,விடு,V,Vu-T---AA,0,க்கப்,1,69
141,4756,பிடிக்க,பிடி,V,Vu-T---AA,0,க்க,0,48
142,4934,நிறைவடைய,நிறைவடை,V,Vu-T---AA,0,ய,0,19
143,5009,விவாதிக்கப்,விவாதி,V,Vu-T---AA,0,க்கப்,1,69
146,5039,அதிகரிக்க,அதிகரி,V,Vu-T---AA,15,க்க,0,48
150,5146,ஏற்படுத்தப்,ஏற்படுத்து,V,Vu-T---AA,0,ப்,1,109
158,5489,ஒத்திவைக்கப்,ஒத்திவை,V,Vu-T---AA,0,க்கப்,1,69
160,5620,அழைக்க,அழை,V,Vu-T---AA,0,க்க,0,48
161,5662,எரிக்கப்,எரி,V,Vu-T---AA,0,க்கப்,0,69
164,5753,கூட்டப்,கூட்டு,V,Vu-T---AA,10,ப்,1,109
166,5774,கொண்டுவரப்,கொண்டுவா,V,Vu-T---AA,14,ரப்,1,3
168,5804,கொண்டாடப்,கொண்டாடு,V,Vu-T---AA,0,ப்,0,109
172,5906,இணைக்கப்,இணை,V,Vu-T---AA,8,க்கப்,0,69
177,6075,ஒதுக்கப்,ஒதுக்கு,V,Vu-T---AA,6,ப்,1,109
181,6173,செலவழிக்கப்,செலவழி,V,Vu-T---AA,17,க்கப்,0,69
185,6218,உயர்த்தப்,உயர்த்து,V,Vu-T---AA,15,ப்,1,109
187,6316,ஒத்துழைக்க,ஒத்துழை,V,Vu-T---AA,4,க்க,0,48
191,6463,இருக்க,இரு,V,Vu-T---AA,5,க்க,0,48
195,6785,காணப்படவ்,காணப்படு,V,Vu-T---AA,0,வ்,1,27
197,6818,மறுக்கப்,மறு,V,Vu-T---AA,0,க்கப்,0,69
198,6822,பழிவாங்கப்,பழிவாங்கு,V,Vu-T---AA,0,ப்,0,109
200,6997,வகுக்க,வகு,V,Vu-T---AA,0,க்க,0,48
204,7063,பரிமாறவ்,பரிமாறு,V,Vu-T---AA,18,வ்,1,27
211,7546,அமல்படுத்தப்,அமல்படுத்து,V,Vu-T---AA,19,ப்,0,109
215,7612,தடுக்கப்,தடு,V,Vu-T---AA,12,க்கப்,0,69
228,8097,வழங்கிடவ்,வழங்கிட்,V,Vu-T---AA,54,வ்,1,27
230,8196,இறுதிசெய்யப்,இறுதிசெய்,V,Vu-T---AA,22,யப்,0,15
234,8337,நடத்தப்,நடத்து,V,Vu-T---AA,0,ப்,1,109
237,8469,எழுதிவைக்கவ்,எழுதிவை,V,Vu-T---AA,0,க்கவ்,1,8
238,8493,தொடுக்க,தொடு,V,Vu-T---AA,16,க்க,0,48
241,8650,எட்டியிருக்க,எட்டியிரு,V,Vu-T---AA,0,க்க,0,48
243,8672,தங்கியிருக்க,தங்கியிரு,V,Vu-T---AA,0,க்க,0,48
244,8684,அங்கீகரிக்க,அங்கீகரி,V,Vu-T---AA,0,க்க,0,48
245,8710,உறுதிபடத்,உறுதிபடு,V,Vu-T---AA,25,த்,0,83
254,8937,பொறுப்பேற்க,பொறுப்பேல்,V,Vu-T---AA,13,றக,0,5
255,8961,தீர்க்க,தீர்,V,Vu-T---AA,8,க்க,0,48
259,9142,ஒருங்கிணைய,ஒருங்கிணை,V,Vu-T---AA,8,ய,0,19
263,9249,கைப்பற்றப்,கைப்பற்று,V,Vu-T---AA,0,ப்,1,109
264,9276,செயலிழக்கச்,செயலிழ,V,Vu-T---AA,0,க்கச்,0,1
268,9318,சந்தேகிக்க,சந்தேகி,V,Vu-T---AA,7,க்க,0,48
271,9405,பட,படு,V,Vu-T---PA,5,பட,2,2
272,9429,பார்க்க,பார்,V,Vu-T---AA,9,க்க,0,48
274,9463,சொல்ல,சொல்,V,Vu-T---AA,0,ல,0,6

# Verb - Participle

In [79]:
VT_df = merged_df[merged_df['xpos'].str.contains(r'(VT.......)')]
VT_df.reset_index(inplace=True)
VT_df.drop_duplicates(subset = 'lemma', inplace=True)
VT_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    index      form lemma upos       xpos head Morpheme  NoSpaceAfter  Counts
0      79     பட்டு   படு    V  VT-T---PA   16    பட்டு             2      19
1      95    கொண்டு  கொள்    V  VT-T---AA   12      ணடு             0      20
4     217     வந்து    வா    V  VT-T---AA   28     ந்து             0      63
9     439  பிடித்த்  பிடு    V  VT-T---AA   25    ித்த்             1       7
26   1709   இருந்து   இரு    V  VT-T---AA    7  இருந்து             2       2
28   1777    விட்டு  வீடு    V  VT-T---AA    9     ி்டு             0       5
57   6043    வைத்து    வை    V  VT-T---AA   37     த்து             0      41
92   9144    செய்து  செய்    V  VT-T---AA   11       து             0      39

# Verb - Conditional

In [80]:
VW_df = merged_df[merged_df['xpos'].str.contains(r'(VW.......)')]
VW_df.reset_index(inplace=True)
VW_df.drop_duplicates(subset = 'lemma', inplace=True)
VW_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   index       form lemma upos       xpos head Morpheme  NoSpaceAfter  Counts
0    320  இருப்பின்   இரு    V  VW-T---AA    9   ப்பின்             0       1
1    870    வந்தால்    வா    V  VW-T---AA   10   ந்தால்             0       3
3   2298    பட்டால்   படு    V  VW-T---PA    3    ்டால்             0       7
5   3666   வைத்தால்    வை    V  VW-T---AA   11   த்தால்             1       4
7   6405   விட்டால்  விடு    V  VW-T---AA    4    ்டால்             1       7

In [81]:
Vw_df = merged_df[merged_df['xpos'].str.contains(r'(Vw.......)')]
Vw_df.reset_index(inplace=True)
Vw_df.drop_duplicates(subset = 'lemma', inplace=True)
Vw_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,294,கட்டினால்,கட்டு,V,Vw-T---AA,39,ினால்,1,4
1,2045,பெற்றால்,பெறு,V,Vw-T---AA,14,்றால்,1,2
2,2162,உடைத்தால்,உடை,V,Vw-T---AA,7,த்தால்,0,4
4,3658,விதித்தால்,விதி,V,Vw-T---AA,5,த்தால்,1,4
5,4165,கலந்தால்,கல,V,Vw-T---AA,12,ந்தால்,0,3
7,6176,இருந்தால்,இரு,V,Vw-T---AA,38,இருந்தால்,2,3
10,7414,ஆனால்,ஆனால்,V,Vw-T---AA,9,ஆனால்,2,2
12,8778,ஏற்பட்டால்,ஏற்படு,V,Vw-T---AA,15,்டால்,0,7
14,9014,நிறைவேற்றினால்,நிறைவேற்று,V,Vw-T---AA,22,ினால்,0,4

# Verb - Adjectival Participle

In [82]:
Vd_df = merged_df[merged_df['xpos'].str.contains(r'(.d.......)')]
Vd_df.reset_index(inplace=True)
Vd_df.drop_duplicates(subset = 'lemma', inplace=True)
Vd_df

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Empty DataFrame
Columns: [index, form, lemma, upos, xpos, head, Morpheme, NoSpaceAfter, Counts]
Index: []

# Verb - Verbal nouns

In [83]:
Vz_df = merged_df[merged_df['xpos'].str.contains(r'(Vz.......)')]
Vz_df.reset_index(inplace=True)
Vz_df.drop_duplicates(subset = 'lemma', inplace=True)
Vz_df.head()

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,141,உள்ளதால்,உள்,V,VzLT3SNAA,24,ளதால்,0,2
1,180,உருவாவதற்கு,உருவாகு,V,VzDF3SNAA,6,வதற்கு,0,11
2,323,இடிப்பதற்க்,இடி,V,VzDF3SNAA,17,ப்பதற்க்,1,3
3,345,வாழ்வதற்கு,வாழ்,V,VzDF3SNAA,7,வதற்கு,0,11
4,365,போராடியதைப்,போராடு,V,VzAD3SNAA,11,ியதைப்,0,1

# Verb - Participal Nouns

In [84]:
VP_df = merged_df[merged_df['xpos'].str.contains(r'(.P.......)')]
VP_df.reset_index(inplace=True)
VP_df.drop_duplicates(subset = 'lemma', inplace=True)
VP_df.head()

C:\Users\keetu\anaconda3\envs\mlenv\lib\site-packages\pandas\core\strings\accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,form,lemma,upos,xpos,head,Morpheme,NoSpaceAfter,Counts
0,184,வாழ்ந்தவர்கள்,வாழ்,N,NPND3PH-A,11,ந்தவர்கள்,0,6
1,258,மீறுவோருக்கு,மீறுவோர்,N,NPDF3PH-A,10,ுக்கு,0,23
2,1789,சேர்ந்தவர்,சேர்,N,NPND3SH-A,0,ந்தவர்,0,3
3,1816,தெரிந்தவர்,தெரி,N,NPND3SH-A,0,ந்தவர்,0,3
4,4307,செய்தவர்களில்,செய்,N,NPLF3PH-A,6,தவர்களில்,0,1

# Cardinals

# Personal Pronouns

In [85]:
##Next steps
## make a list based on what you see for each tense (noun - stem+plural+case  verb - stem+tense+PNG)
##Read the grammar textbook again make sure theres nothing missing