In [2]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import math
import re
import numpy as np

In [3]:
# Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [5]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [6]:
#Creating engine
engine = create_engine(db_string)

In [7]:
# Reading logosyllabic sentences data from postgreSQL
logosyllabic_sentence_df = pd.read_sql_table('logo_syllabic_tamil_sentences_with_names', con=engine)
logosyllabic_sentence_df.head()

,index,Sentence
0,0,5000 106 5001 5002-2008 5003 5004 ( 5005 ) 5006 5007-2006-2001-2001-155 5008 5009-3003-2001-3006 5010 85 5011-3004-2008 5012-3005 5013-3006 98 5014 5015 5016-2021-47 .
1,1,"5018 5019-3007 , 5020 5021 5022-2022 5023 : ."
2,2,"5024 11 5006-3009 5025-2008 5026-3010 5027-3006 5028-3004-2000-2025 5029-2008 5030-3011 , 5031 5032-3012-2012-2008 -107 5006 5007-3012-2012-2000 5033-3013-149 , 5034-3007 5035 5006 5007-3012-2012-2000 5036-3014-149 5037 5038 5039 5040-2021-2006 ."
3,3,"5041 , 5042 , 5043 , 5044 , 5000 5045-2020 5006 5007-3012-2012-2000 5046 5047 5048-3012-2012 5049-3017-100 5050-3009 5013-2035-2017 ."
4,4,"5051-2021-2008-149 , 5052-2021-2008-149 5003 5004 5006 5007-3012-2012-2000 5036-2006 5053-2021-2000 5054-3020 5030-3021-2039 5055-2022-2017-2034 ."

In [13]:
#Reading logosyllabic words from postgreSQL
logosyl_data = pd.read_sql_table('logo_syllabic_tamil_with_names', con=engine)
logosyl_data.drop(columns="index", inplace=True)
s = logosyl_data.index1.sort_values().index
logosyl_data = logosyl_data.reindex(s)
logosyl_data.reset_index(drop=True, inplace=True)
logosyl_data.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2
0,5000,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6
1,106,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5
2,5001,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4
3,5002-2008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11
4,5003,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6

In [15]:
#Reading all logograms from sql
all_logograms = pd.read_sql_table('all_logograms_with_names', con=engine)
all_logograms.drop(columns="index", inplace=True)
all_logograms.reset_index(drop=True, inplace=True)
all_logograms.head()

              key id
0  இருக்கிறீர்கள்  0
1    இருக்கினறனர்  1
2      இருக்கிறது  2
3      இருக்கின்ற  3
4      காட்டிலும்  4

In [16]:
all_logograms.rename(columns={'id': 'Signs'}, inplace=True)
all_logograms.head()

              key Signs
0  இருக்கிறீர்கள்     0
1    இருக்கினறனர்     1
2      இருக்கிறது     2
3      இருக்கின்ற     3
4      காட்டிலும்     4

# Calculating frequencies

In [17]:
#Creating sign df
columns = ['Signs']
signs = pd.DataFrame(columns = columns)
signs.head()

Empty DataFrame
Columns: [Signs]
Index: []

In [18]:
numbers = ['0','1','2','3','4','5','6','7','8','9']

In [19]:
# Function to extract sign pairs from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            word = words[i]
            signs.loc[len(signs), "Signs"] = word
        except:
            pass

In [20]:
signs.head()

  Signs
0  5000
1   106
2  5001
3  5002
4  2008

In [21]:
# Calculating frequency of signs
sign_freq_df = pd.DataFrame(signs["Signs"].value_counts())
sign_freq_df.reset_index(inplace=True)
sign_freq_df.rename(columns={'index': 'Signs', 'Signs': 'Frequency'}, inplace=True)
sign_freq_df.head()

  Signs  Frequency
0  2012        551
1  2008        469
2  2021        433
3  2000        326
4  3004        287

In [22]:
#Merge onto all logograms
all_logograms = all_logograms.merge(sign_freq_df, on="Signs", how ="left")
all_logograms.dropna(inplace=True)
all_logograms.reset_index(drop=True, inplace=True)

In [23]:
all_logograms.head()

         key Signs  Frequency
0  முழுவதும்    11        2.0
1  இலிருந்து    12       25.0
2  கொடுப்பத்    13        1.0
3  மத்தியில்    14        1.0
4   இருப்பத்    16        3.0

# Calculating initial sign frequencies

In [16]:
# Finding initial signs
inital_sign_df = pd.DataFrame(columns = ['initial sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([^-\d])|(^))(\d+)')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.drop(columns=[0,1], inplace=True)
    Sign_df.rename(columns={2:'initial sign'}, inplace=True)

    # Adding it to inital sign dataframe
    inital_sign_df = inital_sign_df.append(Sign_df)
    inital_sign_df.reset_index(drop=True, inplace=True)

In [17]:
inital_sign_df.head()

  initial sign
0         5000
1          106
2         5001
3         5002
4         5003

In [18]:
# Calculating frequency of initial signs
inital_sign_freq_df = pd.DataFrame(inital_sign_df["initial sign"].value_counts())
inital_sign_freq_df.reset_index(inplace=True)
inital_sign_freq_df.rename(columns={'index': 'Signs', 'initial sign': 'Initial Frequency'}, inplace=True)
inital_sign_freq_df.head()

  Signs  Initial Frequency
0  5020                 93
1  5164                 89
2  5235                 80
3  5040                 78
4  5154                 77

In [19]:
#Merge onto all logograms
all_logograms = all_logograms.merge(inital_sign_freq_df, on="Signs", how ="left")

In [20]:
all_logograms.head()

         key Signs  Frequency  Initial Frequency
0  முழுவதும்    11        2.0                2.0
1  இலிருந்து    12       25.0                NaN
2  கொடுப்பத்    13        1.0                1.0
3  மத்தியில்    14        1.0                1.0
4   இருப்பத்    16        3.0                NaN

# Calculating terminal sign frequencies

In [21]:
# Finding terminal signs
terminal_sign_df = pd.DataFrame(columns = ['terminal sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([\d]+[\s]))')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={0:'terminal sign'}, inplace=True)

    # Adding it to inital sign dataframe
    terminal_sign_df = terminal_sign_df.append(Sign_df)
    terminal_sign_df.reset_index(drop=True, inplace=True)

In [22]:
terminal_sign_df.head()

  terminal sign
0         5000
1          106
2         5001
3         2008
4         5003

In [23]:
# Calculating frequency of terminal signs
terminal_sign_freq_df = pd.DataFrame(terminal_sign_df["terminal sign"].value_counts())
terminal_sign_freq_df.reset_index(inplace=True)
terminal_sign_freq_df.rename(columns={'index': 'Signs', 'terminal sign': 'Terminal Frequency'}, inplace=True)
terminal_sign_freq_df["Signs"]=terminal_sign_freq_df["Signs"].str.replace(' ','')
terminal_sign_freq_df.head()

  Signs  Terminal Frequency
0  2008                 437
1  2012                 246
2   149                 225
3  2006                 220
4  2000                 213

In [24]:
#Merge onto all logograms
all_logograms = all_logograms.merge(terminal_sign_freq_df, on="Signs", how ="left")

In [25]:
all_logograms.head()

         key Signs  Frequency  Initial Frequency  Terminal Frequency
0  முழுவதும்    11        2.0                2.0                 2.0
1  இலிருந்து    12       25.0                NaN                25.0
2  கொடுப்பத்    13        1.0                1.0                 NaN
3  மத்தியில்    14        1.0                1.0                 1.0
4   இருப்பத்    16        3.0                NaN                 NaN

# Calculating natural logs for each sign

In [26]:
all_logograms["log Initial Frequency"] = ''
all_logograms["log Terminal Frequency"] = ''
all_logograms["log Frequency"] = ''
all_logograms["NPI(i)"] = ''
all_logograms["NPT(i)"] = ''
all_logograms.fillna(0, inplace=True)

In [27]:
all_logograms["log Initial Frequency"] = np.log(all_logograms["Initial Frequency"])
all_logograms["log Terminal Frequency"] = np.log(all_logograms["Terminal Frequency"])
all_logograms["log Frequency"] = np.log(all_logograms["Frequency"])

all_logograms.head()

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,முழுவதும்,11,2.0,2.0,2.0,0.693147,0.693147,0.693147,,
1,இலிருந்து,12,25.0,0.0,25.0,-inf,3.218876,3.218876,,
2,கொடுப்பத்,13,1.0,1.0,0.0,0.000000,-inf,0.000000,,
3,மத்தியில்,14,1.0,1.0,1.0,0.000000,0.000000,0.000000,,
4,இருப்பத்,16,3.0,0.0,0.0,-inf,-inf,1.098612,,

In [28]:
#Only calculating NPI(i) if intial frequency is greater than terminal frequency
temp_df = all_logograms[all_logograms["Initial Frequency"]>all_logograms["Terminal Frequency"]]
temp_df["NPI(i)"] = -temp_df["log Initial Frequency"]/temp_df["log Frequency"]
mask = temp_df.index
all_logograms.loc[mask, ["NPI(i)"]] = temp_df.loc[:, ["NPI(i)"]]
all_logograms.head()

<ipython-input-28-e0718e790924>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["NPI(i)"] = -temp_df["log Initial Frequency"]/temp_df["log Frequency"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,முழுவதும்,11,2.0,2.0,2.0,0.693147,0.693147,0.693147,,
1,இலிருந்து,12,25.0,0.0,25.0,-inf,3.218876,3.218876,,
2,கொடுப்பத்,13,1.0,1.0,0.0,0.000000,-inf,0.000000,NaN,
3,மத்தியில்,14,1.0,1.0,1.0,0.000000,0.000000,0.000000,,
4,இருப்பத்,16,3.0,0.0,0.0,-inf,-inf,1.098612,,

In [29]:
#Only calculating NPT(i) if terminal frequency is greater than initial frequency
temp_df = all_logograms[all_logograms["Terminal Frequency"]>all_logograms["Initial Frequency"]]
temp_df["NPT(i)"] = -temp_df["log Terminal Frequency"]/temp_df["log Frequency"]
mask = temp_df.index
all_logograms.loc[mask, ["NPT(i)"]] = temp_df.loc[:, ["NPT(i)"]]
all_logograms.head()

<ipython-input-29-f44ef684120c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["NPT(i)"] = -temp_df["log Terminal Frequency"]/temp_df["log Frequency"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,முழுவதும்,11,2.0,2.0,2.0,0.693147,0.693147,0.693147,,
1,இலிருந்து,12,25.0,0.0,25.0,-inf,3.218876,3.218876,,-1
2,கொடுப்பத்,13,1.0,1.0,0.0,0.000000,-inf,0.000000,NaN,
3,மத்தியில்,14,1.0,1.0,1.0,0.000000,0.000000,0.000000,,
4,இருப்பத்,16,3.0,0.0,0.0,-inf,-inf,1.098612,,

# Calculating sign pair frequencies

In [24]:
#Creating sign pairs
columns = ['Sign pairs']
sign_pairs = pd.DataFrame(columns = columns)
sign_pairs.head()

Empty DataFrame
Columns: [Sign pairs]
Index: []

In [25]:
# Function to extract sign pairs from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            first = words[i]
            second = words[i+1]
            sign_pairs.loc[len(sign_pairs), "Sign pairs"] = [first, second]
        except:
            pass

In [12]:
sign_pairs.head()

Empty DataFrame
Columns: [Sign pairs]
Index: []

In [30]:
# Calculating frequency of sign pairs
sign_pairs_df = pd.DataFrame(sign_pairs["Sign pairs"].value_counts())
sign_pairs_df.reset_index(inplace=True)
sign_pairs_df.rename(columns={'index': 'Sign pairs', 'Sign pairs': 'frequency'}, inplace=True)
sign_pairs_df.head()

     Sign pairs  frequency
0  [3004, 2008]        155
1  [2012, 2000]        104
2  [3012, 2012]         94
3  [2012, 2008]         68
4  [2021, 2008]         67

In [37]:
sign_pairs_df['i'] = ''
sign_pairs_df['j'] = ''
for i in range(len(sign_pairs_df)):
    sign_pairs_df.loc[i, 'i'] = sign_pairs_df.loc[i,'Sign pairs'][0]
    sign_pairs_df.loc[i, 'j'] = sign_pairs_df.loc[i,'Sign pairs'][1]
sign_pairs_df[sign_pairs_df["j"]=='2012']

        Sign pairs  frequency     i     j
2     [3012, 2012]         94  3012  2012
8     [5024, 2012]         49  5024  2012
20    [5020, 2012]         27  5020  2012
58    [5150, 2012]         16  5150  2012
70    [2025, 2012]         13  2025  2012
73    [5795, 2012]         13  5795  2012
83    [5453, 2012]         12  5453  2012
88    [5769, 2012]         12  5769  2012
116   [5131, 2012]         10  5131  2012
134   [2022, 2012]          9  2022  2012
136   [6239, 2012]          9  6239  2012
150   [5237, 2012]          9  5237  2012
156   [6102, 2012]          8  6102  2012
157   [3024, 2012]          8  3024  2012
200   [6588, 2012]          7  6588  2012
213   [5353, 2012]          7  5353  2012
220   [5677, 2012]          7  5677  2012
233   [5291, 2012]          6  5291  2012
234   [5093, 2012]          6  5093  2012
249   [5489, 2012]          6  5489  2012
291   [5800, 2012]          5  5800  2012
295   [6008, 2012]          5  6008  2012
307   [6260, 2012]          5  6260  2012
363   [5768, 2012]          5  5768  2012
372   [6850, 2012]          4  6850  2012
388   [5074, 2012]          4  5074  2012
408   [5254, 2012]          4  5254  2012
419   [6528, 2012]          4  6528  2012
421   [6814, 2012]          4  6814  2012
450   [6054, 2012]          4  6054  2012
454   [5859, 2012]          4  5859  2012
475   [5764, 2012]          4  5764  2012
479   [2039, 2012]          4  2039  2012
481   [6185, 2012]          4  6185  2012
492   [5088, 2012]          4  5088  2012
504   [5563, 2012]          4  5563  2012
537   [5279, 2012]          3  5279  2012
538   [6932, 2012]          3  6932  2012
642   [6677, 2012]          3  6677  2012
647   [5132, 2012]          3  5132  2012
651   [6376, 2012]          3  6376  2012
656   [5762, 2012]          3  5762  2012
678   [5142, 2012]          3  5142  2012
690   [5926, 2012]          3  5926  2012
691   [6494, 2012]          3  6494  2012
695   [2001, 2012]          3  2001  2012
713   [5688, 2012]          3  5688  2012
739   [5413, 2012]          3  5413  2012
804   [6881, 2012]          3  6881  2012
882   [5855, 2012]          2  5855  2012
1004  [5351, 2012]          2  5351  2012
1091  [6016, 2012]          2  6016  2012
1095  [5091, 2012]          2  5091  2012
1258  [5626, 2012]          2  5626  2012
1279  [5388, 2012]          2  5388  2012
1292  [5039, 2012]          2  5039  2012
1299  [5549, 2012]          2  5549  2012
1416  [5699, 2012]          2  5699  2012
1423  [5713, 2012]          2  5713  2012
1437  [5971, 2012]          2  5971  2012
1451  [6255, 2012]          2  6255  2012
1518  [5459, 2012]          2  5459  2012
1570  [5228, 2012]          2  5228  2012
1581  [5814, 2012]          2  5814  2012
1677  [6649, 2012]          2  6649  2012
1682  [5111, 2012]          2  5111  2012
1724  [5809, 2012]          2  5809  2012
1776  [6902, 2012]          1  6902  2012
1963  [5083, 2012]          1  5083  2012
2058  [3131, 2012]          1  3131  2012
2063  [6581, 2012]          1  6581  2012
2241  [5777, 2012]          1  5777  2012
2257  [5798, 2012]          1  5798  2012
2287  [5405, 2012]          1  5405  2012
2320  [5536, 2012]          1  5536  2012
2325  [6594, 2012]          1  6594  2012
2380  [5802, 2012]          1  5802  2012
2429  [6006, 2012]          1  6006  2012
2558  [6587, 2012]          1  6587  2012
2647  [6144, 2012]          1  6144  2012
2659  [5256, 2012]          1  5256  2012
2699  [5380, 2012]          1  5380  2012
2775  [5394, 2012]          1  5394  2012
2790  [6914, 2012]          1  6914  2012
2837  [5540, 2012]          1  5540  2012
2852  [6356, 2012]          1  6356  2012
2853  [5160, 2012]          1  5160  2012
2914  [5114, 2012]          1  5114  2012
2951  [5344, 2012]          1  5344  2012
2952  [6401, 2012]          1  6401  2012
3215  [5810, 2012]          1  5810  2012
3246  [5978, 2012]          1  5978  2012
3282  [5357, 2012]          1  5357  2012
3359  [5100, 2012]          1  5100  2012
3494  [6574, 2012]          1  6574  2012
3599  [5904, 2012]          1  5904  2012
3652  [5141, 2012]          1  5141  2012
3687  [5927, 2012]          1  5927  2012
3866  [5349, 2012]          1  5349  2012
3872  [6362, 2012]          1  6362  2012
3904  [6952, 2012]          1  6952  2012
4006  [6886, 2012]          1  6886  2012
4051  [6632, 2012]          1  6632  2012
4204  [3003, 2012]          1  3003  2012
4340  [5811, 2012]          1  5811  2012
4441  [6813, 2012]          1  6813  2012
4445  [5610, 2012]          1  5610  2012
4690  [6437, 2012]          1  6437  2012
5061  [6867, 2012]          1  6867  2012
5121  [6116, 2012]          1  6116  2012
5170  [6460, 2012]          1  6460  2012
5229  [5633, 2012]          1  5633  2012
5250  [6531, 2012]          1  6531  2012
5262  [6884, 2012]          1  6884  2012
5369  [5504, 2012]          1  5504  2012
5518  [6234, 2012]          1  6234  2012
5760  [6856, 2012]          1  6856  2012
5828  [6158, 2012]          1  6158  2012
5873  [5853, 2012]          1  5853  2012
5881  [5647, 2012]          1  5647  2012
5923  [6123, 2012]          1  6123  2012
6036  [6661, 2012]          1  6661  2012
6089  [5970, 2012]          1  5970  2012
6152  [5420, 2012]          1  5420  2012
6182  [6413, 2012]          1  6413  2012
6307  [6052, 2012]          1  6052  2012
6318  [5879, 2012]          1  5879  2012
6489  [6082, 2012]          1  6082  2012
6492  [6647, 2012]          1  6647  2012
6557  [5029, 2012]          1  5029  2012
6745  [5868, 2012]          1  5868  2012
6868  [5632, 2012]          1  5632  2012
6984  [5364, 2012]          1  5364  2012
7103  [5218, 2012]          1  5218  2012
7109  [6488, 2012]          1  6488  2012
7162  [5826, 2012]          1  5826  2012
7209  [6367, 2012]          1  6367  2012
7221  [6716, 2012]          1  6716  2012
7247  [5599, 2012]          1  5599  2012
7260  [5615, 2012]          1  5615  2012
7360  [5288, 2012]          1  5288  2012
7362  [6388, 2012]          1  6388  2012
7388  [6493, 2012]          1  6493  2012
7441  [5223, 2012]          1  5223  2012
7446  [5906, 2012]          1  5906  2012
7471  [3199, 2012]          1  3199  2012
7475  [5864, 2012]          1  5864  2012

In [40]:
len(sign_pairs_df[sign_pairs_df["i"]=='2012'].drop_duplicates(subset="j"))

183

# Calculating initial sign pair frequencies

# Model of Connectivity

In [35]:
connectivity2_df = pd.DataFrame(columns = ["Sign pairs", "i", "j", "NPI", "NPPI", "NPT", "NPPT", "NPP", "NIT"])

  Sign pairs
0  5002-2008
1  5007-2006
2  5009-3003
3  5011-3004
4  5012-3005

In [36]:
for l in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.loc[i, "Sentence"]

    #Creating signpair dataframe
    columns = ['Sign pairs']
    sign_pairs2 = pd.DataFrame(columns = columns)
    sign_pairs2.head()

    #Creating sign pairs from sentence
    indexes = []
    try:
        for i in range(len(Sentence)):
            if (Sentence[i] in numbers) and (Sentence[i+1] in numbers) and (Sentence[i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if Sentence[j+k] in numbers:
                    letter.append(Sentence[j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    #Creating parameters
    for i in range(len(words)):
            try:
                first = words[i]
                second = words[i+1]
                length = len(sign_pairs2)
                #sign_pairs2.loc[length, "Sentence"] = l
                sign_pairs2.loc[length, "Sign pairs"] = [first, second]
            except:
                pass

    sign_pairs2["i"] = ''
    sign_pairs2["j"] = ''
    sign_pairs2['NPI']=0
    sign_pairs2['NPPI']=0
    sign_pairs2['NPT']=0
    sign_pairs2['NPPT']=0
    sign_pairs2['NPP']=0
    sign_pairs2['NIT']=0

    KI = 0.2
    KT = 0.2
    KP = 1
    KSP=3
    KITP=1
    KIT =1

    sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
    initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df["Sign pairs"].astype(str)
    terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].astype(str)

    sign_pairs_df = sign_pairs_df.merge(initial_sign_pair_freq_df, on="Sign pairs", how ="left")
    sign_pairs_df = sign_pairs_df.merge(terminal_sign_pair_freq_df, on="Sign pairs", how ="left")
    sign_pairs_df.fillna(0, inplace=True)

    for i in range(len(sign_pairs2)):
        sign_pairs2.loc[i, "i"] = sign_pairs2.loc[i, "Sign pairs"][0] 
        sign_pairs2.loc[i, "j"] = sign_pairs2.loc[i, "Sign pairs"][1] 

        #NPI
        temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "j"]]
        temp.drop_duplicates(subset="Signs")
        NPItemp = temp["NPI(i)"]
        NPItemp.reset_index(drop=True, inplace=True)
        NPItemp = NPItemp.to_list()
        try:
            sign_pairs2.loc[i, "NPI"] = -NPItemp[0]*KI
        except:
            pass

        #NPT
        temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "i"]]
        temp.drop_duplicates(subset="Signs")
        NPTtemp = temp["NPT(i)"]
        NPTtemp.reset_index(drop=True, inplace=True)
        NPTtemp = NPTtemp.to_list()
        try:
            sign_pairs2.loc[i, "NPT"] = -NPTtemp[0]*KI
        except:
            pass

    sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
    sign_pairs2["Sign pairs"] = sign_pairs2["Sign pairs"].astype(str)

    sign_pairs2 = sign_pairs2.merge(sign_pairs_df, on="Sign pairs", how ="left")
    sign_pairs2.rename(columns={"frequency":"Pair frequency", "initial frequency":"initial pair frequency", "terminal frequency":"terminal pair frequency"}, inplace=True)

    sign_pairs2 = sign_pairs2.merge(all_logograms[['Signs', 'Frequency', 'Initial Frequency', 'Terminal Frequency', 'log Frequency', 'log Initial Frequency', 'log Terminal Frequency']], left_on= "i", right_on="Signs", how ="left")
    sign_pairs2.drop(columns="Signs", inplace=True)
    sign_pairs2.rename(columns={"log Frequency":"log Frequency(i)", "Frequency":"Frequency(i)","Initial Frequency":"Initial Frequency(i)","Terminal Frequency":"Terminal Frequency(i)", "log Initial Frequency":"log Initial Frequency(i)", "log Terminal Frequency":"log Terminal Frequency(i)"}, inplace=True)
    sign_pairs2.drop_duplicates(inplace=True)

    sign_pairs2 = sign_pairs2.merge(all_logograms[['Signs', 'Frequency', 'Initial Frequency', 'Terminal Frequency','log Frequency', 'log Initial Frequency', 'log Terminal Frequency']], left_on= "j", right_on="Signs", how ="left")
    sign_pairs2.drop(columns="Signs", inplace=True)
    sign_pairs2.rename(columns={"log Frequency":"log Frequency(j)", "Frequency":"Frequency(j)","Initial Frequency":"Initial Frequency(j)","Terminal Frequency":"Terminal Frequency(j)", "log Initial Frequency":"log Initial Frequency(j)", "log Terminal Frequency":"log Terminal Frequency(j)"}, inplace=True)
    sign_pairs2.drop_duplicates(inplace=True)

    sign_pairs2.reset_index(drop=True, inplace=True)

    for i in range(len(sign_pairs2)):
        try:
            if ((i == 0) or ((sign_pairs2.loc[i, "initial pair frequency"] > sign_pairs2.loc[i-1, "initial pair frequency"])and(sign_pairs2.loc[i, "initial pair frequency"] > sign_pairs2.loc[i-1, "terminal pair frequency"])) and (sign_pairs2.loc[i, "Frequency(i)"] > 1) and (sign_pairs2.loc[i, "Frequency(j)"] > 1)):
                pair_freq_1 = np.log(sign_pairs2.loc[i, "initial pair frequency"] +1)
                sign_pairs2.loc[i, "NPPI"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
        except:
            pass
        try:
            if ((i == len(sign_pairs2)-1) or ((sign_pairs2.loc[i, "terminal pair frequency"] > sign_pairs2.loc[i+1, "initial pair frequency"])and(sign_pairs2.loc[i, "terminal pair frequency"] > sign_pairs2.loc[i+1, "terminal pair frequency"])) and (sign_pairs2.loc[i, "Frequency(i)"] > 1) and (sign_pairs2.loc[i, "Frequency(j)"] > 1)):
                pair_freq_1 = np.log(sign_pairs2.loc[i, "initial pair frequency"] +1)
                sign_pairs2.loc[i, "NPPT"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
        except:
            pass
        try:
            if (sign_pairs2.loc[i, "Initial Frequency(i)"]) > (sign_pairs2.loc[i, "Terminal Frequency(i)"]) and (sign_pairs2.loc[i, "Terminal Frequency(j)"]) > (sign_pairs2.loc[i, "Initial Frequency(j)"]):
                sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Initial Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Terminal Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]
        except:
            pass
        try:
            if (sign_pairs2.loc[i, "Initial Frequency(i)"]) < (sign_pairs2.loc[i, "Terminal Frequency(i)"]) and (sign_pairs2.loc[i, "Terminal Frequency(j)"]) < (sign_pairs2.loc[i, "Initial Frequency(j)"]):
                sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Terminal Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Initial Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]
        except:
            pass

        try:
            if (sign_pairs2.loc[i, "Frequency(i)"]) > (sign_pairs2.loc[i, "Frequency(j)"]):
                pair_freq = np.log(sign_pairs2.loc[i, "Pair frequency"])
                sign_pairs2.loc[i, "NPP"] = pair_freq/(sign_pairs2.loc[i, "log Frequency(j)"])
        except:
            pass
        try:
            if (sign_pairs2.loc[i, "Frequency(j)"]) > (sign_pairs2.loc[i, "Frequency(i)"]):
                pair_freq = np.log(sign_pairs2.loc[i, "Pair frequency"])
                sign_pairs2.loc[i, "NPP"] = pair_freq/sign_pairs2.loc[i, "log Frequency(i)"]
        except:
            pass

    sign_pairs2.fillna(0, inplace=True)
    sign_pairs2["NIT"] = sign_pairs2["NIT"].replace(np.inf, 1)
    sign_pairs2["NIT"] = sign_pairs2["NIT"].replace(-np.inf, -1)

    connectivity_df = sign_pairs2[["Sign pairs", "i", "j", "NPI", "NPPI", "NPT", "NPPT", "NPP", "NIT"]]
    connectivity_df["Connectivity"] = 1.5 - connectivity_df["NPI"]*KI - connectivity_df["NPT"]*KT - connectivity_df["NPPI"]*KITP - connectivity_df["NPPT"]*KITP + connectivity_df["NPP"]*KP + connectivity_df["NIT"]*KIT

    connectivity2_df = connectivity2_df.append(connectivity_df)
    print(l)

     Sign pairs  initial frequency
0  [5235, 2021]                 54
1  [5024, 2012]                 49
2  [5017, 3037]                 49
3  [5079, 3006]                 48
4  [5095, 2019]                 29

In [36]:

    indexes = []
    try:
        for i in range(len(Sentence)):
            if (Sentence[i] in numbers) and (Sentence[i+1] in numbers) and (Sentence[i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if Sentence[j+k] in numbers:
                    letter.append(Sentence[j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
            try:
                first = words[i]
                second = words[i+1]
                sign_pairs2.loc[len(sign_pairs2), "Sign pairs"] = [first, second]
            except:
                pass

In [37]:
words

['5018', '5019', '3007', '5020', '5021', '5022', '2022', '5023']

In [38]:

sign_pairs2["i"] = ''
sign_pairs2["j"] = ''
sign_pairs2['NPI']=0
sign_pairs2['NPPI']=0
sign_pairs2['NPT']=0
sign_pairs2['NPPT']=0
sign_pairs2['NPP']=0
sign_pairs2['NIT']=0

   Sign pairs
0  5002-2008
1   2001-155
2  2001-3006
3  3004-2008
4  5012-3005

In [39]:
KI = 0.2
KT = 0.2
KP = 1
KSP=3
KITP=1
KIT =1

     Sign pairs  terminal frequency
0  [3004, 2008]                 144
1  [2012, 2000]                  68
2  [2021, 2008]                  60
3  [2012, 2008]                  59
4  [5079, 3006]                  48

# Merging initial and terminal sign pairs with sign pairs df

In [40]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df["Sign pairs"].astype(str)
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].astype(str)

In [41]:
sign_pairs_df = sign_pairs_df.merge(initial_sign_pair_freq_df, on="Sign pairs", how ="left")
sign_pairs_df = sign_pairs_df.merge(terminal_sign_pair_freq_df, on="Sign pairs", how ="left")
sign_pairs_df.fillna(0, inplace=True)
sign_pairs_df.head(20)

          Sign pairs  frequency  initial frequency  terminal frequency
0   ['3004', '2008']        155                0.0               144.0
1   ['2012', '2000']        104                0.0                68.0
2   ['3012', '2012']         94                0.0                32.0
3   ['2012', '2008']         68                0.0                59.0
4   ['2021', '2008']         67                0.0                60.0
5   ['3004', '2000']         65                0.0                45.0
6   ['2012', '2001']         57                0.0                28.0
7   ['5235', '2021']         54               54.0                 4.0
8   ['5024', '2012']         49               49.0                32.0
9   ['5017', '3037']         49               49.0                23.0
10  ['5079', '3006']         48               48.0                48.0
11  ['3003', '2001']         42                0.0                23.0
12   ['3042', '149']         41                0.0                39.0
13  ['2014', '2006']         40                0.0                40.0
14  ['2021', '2000']         40                0.0                21.0
15  ['2000', '3042']         40                0.0                 0.0
16  ['2021', '2029']         38                0.0                38.0
17  ['2017', '2034']         36                0.0                36.0
18  ['2021', '2007']         30                0.0                30.0
19  ['5095', '2019']         29               29.0                13.0

In [205]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].str.split(",", expand=True)
sign_pairs_df["i"] = sign_pairs_df.loc[:, "Sign pairs"][0][1]
sign_pairs_df["j"] = sign_pairs_df.loc[:, "Sign pairs"]
sign_pairs_df[["Sign pairs", "i", "j"]]

IndexError: list index out of range

In [40]:
for i in range(len(sign_pairs2)):
    sign_pairs2.loc[i, "i"] = sign_pairs2.loc[i, "Sign pairs"][0] 
    sign_pairs2.loc[i, "j"] = sign_pairs2.loc[i, "Sign pairs"][1] 

    #NPI
    temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "j"]]
    temp.drop_duplicates(subset="Signs")
    NPItemp = temp["NPI(i)"]
    NPItemp.reset_index(drop=True, inplace=True)
    NPItemp = NPItemp.to_list()
    try:
        sign_pairs2.loc[i, "NPI"] = -NPItemp[0]*KI
    except:
        pass

    #NPT
    temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "i"]]
    temp.drop_duplicates(subset="Signs")
    NPTtemp = temp["NPT(i)"]
    NPTtemp.reset_index(drop=True, inplace=True)
    NPTtemp = NPTtemp.to_list()
    try:
        sign_pairs2.loc[i, "NPT"] = -NPTtemp[0]*KI
    except:
        pass

In [166]:
sign_pairs2

In [167]:
len(logosyllabic_sentence_df)

600

In [183]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
sign_pairs2["Sign pairs"] = sign_pairs2["Sign pairs"].astype(str)

In [189]:
connectivity3_df = connectivity2_df.reset_index(drop=True)
connectivity3_df.drop_duplicates(inplace=True)
connectivity3_df.sort_values("Connectivity", ascending=False)
connectivity3_df[connectivity3_df["i"]=='2012']

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Connectivity
64,"['2012', '2008']",2012,2008,0.0,0,0.174447,0,0.686032,0.0,2.151142
72,"['2012', '45']",2012,45,0.0,0,0.174447,0,0.630930,0.0,2.096040
78,"['2012', '2001']",2012,2001,0.0,0,0.174447,0,0.725088,0.0,2.190198
87,"['2012', '5174']",2012,5174,0.2,0,0.174447,0,0.000000,1.0,2.425111
112,"['2012', '5094']",2012,5094,0.2,0,0.174447,0,0.000000,1.0,2.425111
146,"['2012', '149']",2012,149,0.0,0,0.174447,0,0.518540,0.0,1.983650

In [174]:
connectivity2_df.to_sql(name ='multivariate_segmentation_connectivities', con=engine)

KeyboardInterrupt: