In [1]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import math
import re
import numpy as np

In [2]:
# Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [3]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [4]:
#Creating engine
engine = create_engine(db_string)

In [5]:
# Reading logosyllabic sentences data from postgreSQL
logosyllabic_sentence_df = pd.read_sql_table('logo_syllabic_tamil_sentences', con=engine)
logosyllabic_sentence_df.head()

,index,Sentence
0,0,5000-5001 1094 5177-5002 5003-5004-5178-5005-5006-4034-4008 5007-5002-4017 5008-5181-4039 ( 2000 ) 2001 2002-4006-4001-4001-1155 2003 5011-5004-4001-5178 2004 1060 2005-5182-4008 2006-4025-4033 2007-5178 1103 2008 4025-5004-5012-5013-5014 2009-4021-1040 .
1,1,"2559 2011-5131 , 2625 2012 2013-4022 2014 : ."
2,2,"2015 1014 2001-4033 2016-4008 2017-4039 2018-5178 2019-5182-4000-4025 2020-4008 2021-5186-4039 , 2022 2023-5187-4012-4008 1115 2001 2002-5187-4012-4000 2024-4031-1138 , 2025-5131 2026 2001 2002-5187-4012-4000 2027-4025-4031-1138 2028 2029 2030 2031-4021-4006 ."
3,3,"2032 , 5005-4006-5014-5015 , 5016-5178-5017 , 5018-5181-4025-5019 , 5000-5001 2033-4020 2001 2002-5187-4012-4000 2034 2035 2036-5187-4012 2037-4025-4033-1090 2038-4033 2007-4035-4017 ."
4,4,"2880-4021-4008-1138 , 2039-4021-4008-1138 5007-5002-4017 5008-5181-4039 2001 2002-5187-4012-4000 2027-4006 2500-4021-4000 2040-5133 2021-5186-4039 2041-4022-4017-4034 ."

In [6]:
#Reading logosyllabic words from postgreSQL
logosyl_data = pd.read_sql_table('logo_syllabic_tamil', con=engine)
logosyl_data.drop(columns="index", inplace=True)
s = logosyl_data.index1.sort_values().index
logosyl_data = logosyl_data.reindex(s)
logosyl_data.reset_index(drop=True, inplace=True)
logosyl_data.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2,formSeparated
0,5000-5001,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6,"{-,5,0,0,0,-,-,5,0,0,1,-}"
1,1094,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5,"{1,0,9,4}"
2,5177-5002,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4,"{ஸ,்,-,5,0,0,2,-}"
3,5003-5004-5178-5005-5006-4034-4008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11,"{-,5,0,0,3,-,-,5,0,0,4,-,ம,்,-,5,0,0,5,-,-,5,0,0,6,-,ர,-,4,0,0,8}"
4,5007-5002-4017,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6,"{-,5,0,0,7,-,-,5,0,0,2,-,ன,்}"

In [7]:
#Reading all logograms from sql
all_logograms = pd.read_sql_table('all_logograms', con=engine)
all_logograms.drop(columns="index", inplace=True)
all_logograms.reset_index(drop=True, inplace=True)
all_logograms.head()

  key    id
0  ாக  5131
1  ிய  4020
2  ிக  5133
3  ின  4007
4  ில  4008

In [8]:
all_logograms.rename(columns={'id': 'Signs'}, inplace=True)
all_logograms.head()

  key Signs
0  ாக  5131
1  ிய  4020
2  ிக  5133
3  ின  4007
4  ில  4008

# Calculating frequencies

In [9]:
#Creating sign df
columns = ['Signs']
signs = pd.DataFrame(columns = columns)
signs.head()

Empty DataFrame
Columns: [Signs]
Index: []

In [10]:
numbers = ['0','1','2','3','4','5','6','7','8','9']

In [11]:
# Function to extract sign from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            word = words[i]
            signs.loc[len(signs), "Signs"] = word
        except:
            pass

In [12]:
signs.head()

  Signs
0  5000
1  5001
2  1094
3  5177
4  5002

In [13]:
# Calculating frequency of signs
sign_freq_df = pd.DataFrame(signs["Signs"].value_counts())
sign_freq_df.reset_index(inplace=True)
sign_freq_df.rename(columns={'index': 'Signs', 'Signs': 'Frequency'}, inplace=True)
sign_freq_df.head()

  Signs  Frequency
0  4021        748
1  4012        529
2  4008        492
3  4025        477
4  5182        463

In [14]:
#Merge onto all logograms
all_logograms = all_logograms.merge(sign_freq_df, on="Signs", how ="left")
all_logograms.dropna(inplace=True)
all_logograms.reset_index(drop=True, inplace=True)

In [15]:
all_logograms.head()

  key Signs  Frequency
0  ாக  5131       35.0
1  ிய  4020      101.0
2  ிக  5133        8.0
3  ின  4007      173.0
4  ில  4008      492.0

# Calculating initial sign frequencies

In [16]:
# Finding initial signs
inital_sign_df = pd.DataFrame(columns = ['initial sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([^-\d])|(^))(\d+)')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.drop(columns=[0,1], inplace=True)
    Sign_df.rename(columns={2:'initial sign'}, inplace=True)

    # Adding it to inital sign dataframe
    inital_sign_df = inital_sign_df.append(Sign_df)
    inital_sign_df.reset_index(drop=True, inplace=True)

In [17]:
inital_sign_df.head()

  initial sign
0         5000
1         1094
2         5177
3         5003
4         5007

In [18]:
# Calculating frequency of initial signs
inital_sign_freq_df = pd.DataFrame(inital_sign_df["initial sign"].value_counts())
inital_sign_freq_df.reset_index(inplace=True)
inital_sign_freq_df.rename(columns={'index': 'Signs', 'initial sign': 'Initial Frequency'}, inplace=True)
inital_sign_freq_df.head()

  Signs  Initial Frequency
0  2625                 93
1  2196                 89
2  2192                 80
3  2031                 78
4  2129                 77

In [19]:
#Merge onto all logograms
all_logograms = all_logograms.merge(inital_sign_freq_df, on="Signs", how ="left")

In [20]:
all_logograms.head()

  key Signs  Frequency  Initial Frequency
0  ாக  5131       35.0                NaN
1  ிய  4020      101.0                NaN
2  ிக  5133        8.0                NaN
3  ின  4007      173.0                NaN
4  ில  4008      492.0               22.0

# Calculating terminal sign frequencies

In [21]:
# Finding terminal signs
terminal_sign_df = pd.DataFrame(columns = ['terminal sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([\d]+[\s]))')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={0:'terminal sign'}, inplace=True)

    # Adding it to inital sign dataframe
    terminal_sign_df = terminal_sign_df.append(Sign_df)
    terminal_sign_df.reset_index(drop=True, inplace=True)

In [22]:
terminal_sign_df.head()

  terminal sign
0         5001
1         1094
2         5002
3         4008
4         4017

In [23]:
# Calculating frequency of terminal signs
terminal_sign_freq_df = pd.DataFrame(terminal_sign_df["terminal sign"].value_counts())
terminal_sign_freq_df.reset_index(inplace=True)
terminal_sign_freq_df.rename(columns={'index': 'Signs', 'terminal sign': 'Terminal Frequency'}, inplace=True)
terminal_sign_freq_df["Signs"]=terminal_sign_freq_df["Signs"].str.replace(' ','')
terminal_sign_freq_df.head()

  Signs  Terminal Frequency
0  4008                 437
1  4006                 303
2  4012                 235
3  5178                 232
4  1138                 225

In [24]:
#Merge onto all logograms
all_logograms = all_logograms.merge(terminal_sign_freq_df, on="Signs", how ="left")

In [25]:
all_logograms.head()

  key Signs  Frequency  Initial Frequency  Terminal Frequency
0  ாக  5131       35.0                NaN                33.0
1  ிய  4020      101.0                NaN                36.0
2  ிக  5133        8.0                NaN                 8.0
3  ின  4007      173.0                NaN               140.0
4  ில  4008      492.0               22.0               437.0

# Calculating natural logs for each sign

In [26]:
all_logograms["log Initial Frequency"] = ''
all_logograms["log Terminal Frequency"] = ''
all_logograms["log Frequency"] = ''
all_logograms["NPI(i)"] = ''
all_logograms["NPT(i)"] = ''
all_logograms.fillna(0, inplace=True)

In [27]:
all_logograms["log Initial Frequency"] = np.log(all_logograms["Initial Frequency"])
all_logograms["log Terminal Frequency"] = np.log(all_logograms["Terminal Frequency"])
all_logograms["log Frequency"] = np.log(all_logograms["Frequency"])

all_logograms.head()

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,ாக,5131,35.0,0.0,33.0,-inf,3.496508,3.555348,,
1,ிய,4020,101.0,0.0,36.0,-inf,3.583519,4.615121,,
2,ிக,5133,8.0,0.0,8.0,-inf,2.079442,2.079442,,
3,ின,4007,173.0,0.0,140.0,-inf,4.941642,5.153292,,
4,ில,4008,492.0,22.0,437.0,3.091042,6.079933,6.198479,,

In [28]:
#Only calculating NPI(i) if intial frequency is greater than terminal frequency
temp_df = all_logograms[all_logograms["Initial Frequency"]>all_logograms["Terminal Frequency"]]
temp_df["NPI(i)"] = -temp_df["log Initial Frequency"]/temp_df["log Frequency"]
mask = temp_df.index
all_logograms.loc[mask, ["NPI(i)"]] = temp_df.loc[:, ["NPI(i)"]]
all_logograms.head()

<ipython-input-28-e0718e790924>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["NPI(i)"] = -temp_df["log Initial Frequency"]/temp_df["log Frequency"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,ாக,5131,35.0,0.0,33.0,-inf,3.496508,3.555348,,
1,ிய,4020,101.0,0.0,36.0,-inf,3.583519,4.615121,,
2,ிக,5133,8.0,0.0,8.0,-inf,2.079442,2.079442,,
3,ின,4007,173.0,0.0,140.0,-inf,4.941642,5.153292,,
4,ில,4008,492.0,22.0,437.0,3.091042,6.079933,6.198479,,

In [29]:
#Only calculating NPT(i) if terminal frequency is greater than initial frequency
temp_df = all_logograms[all_logograms["Terminal Frequency"]>all_logograms["Initial Frequency"]]
temp_df["NPT(i)"] = -temp_df["log Terminal Frequency"]/temp_df["log Frequency"]
mask = temp_df.index
all_logograms.loc[mask, ["NPT(i)"]] = temp_df.loc[:, ["NPT(i)"]]
all_logograms.head()

<ipython-input-29-f44ef684120c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["NPT(i)"] = -temp_df["log Terminal Frequency"]/temp_df["log Frequency"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,ாக,5131,35.0,0.0,33.0,-inf,3.496508,3.555348,,-0.98345
1,ிய,4020,101.0,0.0,36.0,-inf,3.583519,4.615121,,-0.776474
2,ிக,5133,8.0,0.0,8.0,-inf,2.079442,2.079442,,-1
3,ின,4007,173.0,0.0,140.0,-inf,4.941642,5.153292,,-0.958929
4,ில,4008,492.0,22.0,437.0,3.091042,6.079933,6.198479,,-0.980875

# Calculating sign pair frequencies

In [30]:
#Creating sign pairs
columns = ['Sign pairs']
sign_pairs = pd.DataFrame(columns = columns)
sign_pairs.head()

Empty DataFrame
Columns: [Sign pairs]
Index: []

In [31]:
# Function to extract sign pairs from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            first = words[i]
            second = words[i+1]
            sign_pairs.loc[len(sign_pairs), "Sign pairs"] = [first, second]
        except:
            pass

In [32]:
sign_pairs.head()

     Sign pairs
0  [5000, 5001]
1  [5001, 1094]
2  [1094, 5177]
3  [5177, 5002]
4  [5002, 5003]

In [61]:
# Calculating frequency of sign pairs
sign_pairs_df = pd.DataFrame(sign_pairs["Sign pairs"].value_counts())
sign_pairs_df.reset_index(inplace=True)
sign_pairs_df.rename(columns={'index': 'Sign pairs', 'Sign pairs': 'frequency'}, inplace=True)
sign_pairs_df.head()

     Sign pairs  frequency
0  [5182, 4008]        156
1  [4012, 4000]         98
2  [5187, 4012]         95
3  [5194, 4021]         79
4  [4021, 4008]         78

In [62]:
sign_pairs_df["i"] = ''
sign_pairs_df["j"] = ''
for i in range(len(sign_pairs_df)):
    sign_pairs_df.loc[i, "i"] = sign_pairs_df.loc[i,'Sign pairs'][0]
    sign_pairs_df.loc[i, "j"] = sign_pairs_df.loc[i,'Sign pairs'][1]
sign_pairs_df[sign_pairs_df["j"]=='4012'].head()

       Sign pairs  frequency     i     j
2    [5187, 4012]         95  5187  4012
14   [2015, 4012]         49  2015  4012
74   [4034, 4012]         20  4034  4012
99   [2125, 4012]         16  2125  4012
134  [2639, 4012]         13  2639  4012

In [35]:
len(sign_pairs_df[sign_pairs_df["i"]=='4012'].drop_duplicates(subset="j"))

174

# Calculating initial sign pair frequencies

In [36]:
# Finding terminal signs
initial_sign_df = pd.DataFrame(columns = ['initial sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([^-\d])|(^))(\d+-\d+)')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={2:'initial sign'}, inplace=True)
    Sign_df.drop(columns=[0,1], inplace=True)

    # Adding it to inital sign dataframe
    initial_sign_df = initial_sign_df.append(Sign_df)
    initial_sign_df.reset_index(drop=True, inplace=True)

In [37]:
# Calculating frequency of terminal signs
initial_sign_pair_freq_df = pd.DataFrame(initial_sign_df["initial sign"].value_counts())
initial_sign_pair_freq_df.reset_index(inplace=True)
initial_sign_pair_freq_df.rename(columns={'index': 'Sign pairs', 'initial sign': 'initial pair frequency'}, inplace=True)
initial_sign_pair_freq_df["Sign pairs"]=initial_sign_pair_freq_df["Sign pairs"].str.replace(' ','')
initial_sign_pair_freq_df["Sign pairs"]=initial_sign_pair_freq_df["Sign pairs"].str.split('-')
initial_sign_pair_freq_df.head()

     Sign pairs  initial pair frequency
0  [2010, 5192]                      62
1  [2192, 4021]                      55
2  [2015, 4012]                      49
3  [2060, 5178]                      48
4  [2021, 5186]                      39

# Calculating terminal sign pair frequencies

In [38]:
# Finding terminal signs
terminal_sign_df = pd.DataFrame(columns = ['terminal sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([\d]+-[\d]+[^-]))')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={0:'terminal sign'}, inplace=True)

    # Adding it to inital sign dataframe
    terminal_sign_df = terminal_sign_df.append(Sign_df)
    terminal_sign_df.reset_index(drop=True, inplace=True)

In [39]:
# Calculating frequency of terminal signs
terminal_sign_pair_freq_df = pd.DataFrame(terminal_sign_df["terminal sign"].value_counts())
terminal_sign_pair_freq_df.reset_index(inplace=True)
terminal_sign_pair_freq_df.rename(columns={'index': 'Sign pairs', 'terminal sign': 'terminal pair frequency'}, inplace=True)
terminal_sign_pair_freq_df["Sign pairs"]=terminal_sign_pair_freq_df["Sign pairs"].str.replace(' ','')
terminal_sign_pair_freq_df["Sign pairs"]=terminal_sign_pair_freq_df["Sign pairs"].str.split('-')
terminal_sign_pair_freq_df.head()

     Sign pairs  terminal pair frequency
0  [2192, 4021]                       51
1  [2060, 5178]                       48
2  [2010, 5192]                       39
3  [2021, 5186]                       39
4  [4021, 5193]                       35

# Model of Connectivity

In [40]:
connectivity2_df = pd.DataFrame(columns = ["Sign pairs", "i", "j", "NPI", "NPPI", "NPT", "NPPT", "NPP", "NIT"])

In [ ]:
for l in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.loc[l, "Sentence"]

    #Creating signpair dataframe
    columns = ['Sign pairs']
    sign_pairs2 = pd.DataFrame(columns = columns)
    sign_pairs2.head()

    #Creating sign pairs from sentence
    indexes = []
    try:
        for i in range(len(Sentence)):
            if (Sentence[i] in numbers) and (Sentence[i+1] in numbers) and (Sentence[i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if Sentence[j+k] in numbers:
                    letter.append(Sentence[j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    #Creating parameters
    for i in range(len(words)):
            try:
                first = words[i]
                second = words[i+1]
                length = len(sign_pairs2)
                #sign_pairs2.loc[length, "Sentence"] = l
                sign_pairs2.loc[length, "Sign pairs"] = [first, second]
            except:
                pass

    sign_pairs2["i"] = ''
    sign_pairs2["j"] = ''
    sign_pairs2['NPI']=0
    sign_pairs2['NPPI']=0
    sign_pairs2['NPT']=0
    sign_pairs2['NPPT']=0
    sign_pairs2['NPP']=0
    sign_pairs2['NIT']=0

    KI = 0.2
    KT = 0.2
    KP = 1
    KSP=3
    KITP=1
    KIT =1

    sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
    initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df["Sign pairs"].astype(str)
    terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].astype(str)

    sign_pairs_df = sign_pairs_df.merge(initial_sign_pair_freq_df, on="Sign pairs", how ="left")
    sign_pairs_df = sign_pairs_df.merge(terminal_sign_pair_freq_df, on="Sign pairs", how ="left")
    sign_pairs_df.fillna(0, inplace=True)

    for i in range(len(sign_pairs2)):
        sign_pairs2.loc[i, "i"] = sign_pairs2.loc[i, "Sign pairs"][0] 
        sign_pairs2.loc[i, "j"] = sign_pairs2.loc[i, "Sign pairs"][1] 

        #NPI
        temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "j"]]
        temp.drop_duplicates(subset="Signs")
        NPItemp = temp["NPI(i)"]
        NPItemp.reset_index(drop=True, inplace=True)
        NPItemp = NPItemp.to_list()
        try:
            sign_pairs2.loc[i, "NPI"] = -NPItemp[0]*KI
        except:
            pass

        #NPT
        temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "i"]]
        temp.drop_duplicates(subset="Signs")
        NPTtemp = temp["NPT(i)"]
        NPTtemp.reset_index(drop=True, inplace=True)
        NPTtemp = NPTtemp.to_list()
        try:
            sign_pairs2.loc[i, "NPT"] = -NPTtemp[0]*KI
        except:
            pass

    sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
    sign_pairs2["Sign pairs"] = sign_pairs2["Sign pairs"].astype(str)

    sign_pairs2 = sign_pairs2.merge(sign_pairs_df, how ="left")
    sign_pairs2.rename(columns={"frequency":"Pair frequency", "initial frequency":"initial pair frequency", "terminal frequency":"terminal pair frequency"}, inplace=True)

    sign_pairs2 = sign_pairs2.merge(all_logograms[['Signs', 'Frequency', 'Initial Frequency', 'Terminal Frequency', 'log Frequency', 'log Initial Frequency', 'log Terminal Frequency']], left_on= "i", right_on="Signs", how ="left")
    sign_pairs2.drop(columns="Signs", inplace=True)
    sign_pairs2.rename(columns={"log Frequency":"log Frequency(i)", "Frequency":"Frequency(i)","Initial Frequency":"Initial Frequency(i)","Terminal Frequency":"Terminal Frequency(i)", "log Initial Frequency":"log Initial Frequency(i)", "log Terminal Frequency":"log Terminal Frequency(i)"}, inplace=True)
    sign_pairs2.drop_duplicates(inplace=True)

    sign_pairs2 = sign_pairs2.merge(all_logograms[['Signs', 'Frequency', 'Initial Frequency', 'Terminal Frequency','log Frequency', 'log Initial Frequency', 'log Terminal Frequency']], left_on= "j", right_on="Signs", how ="left")
    sign_pairs2.drop(columns="Signs", inplace=True)
    sign_pairs2.rename(columns={"log Frequency":"log Frequency(j)", "Frequency":"Frequency(j)","Initial Frequency":"Initial Frequency(j)","Terminal Frequency":"Terminal Frequency(j)", "log Initial Frequency":"log Initial Frequency(j)", "log Terminal Frequency":"log Terminal Frequency(j)"}, inplace=True)
    sign_pairs2.drop_duplicates(inplace=True)

    sign_pairs2.reset_index(drop=True, inplace=True)

    for i in range(len(sign_pairs2)):
        try:
            if ((i == 0) or ((sign_pairs2.loc[i, "initial pair frequency"] > sign_pairs2.loc[i-1, "initial pair frequency"])and(sign_pairs2.loc[i, "initial pair frequency"] > sign_pairs2.loc[i-1, "terminal pair frequency"])) and (sign_pairs2.loc[i, "Frequency(i)"] > 1) and (sign_pairs2.loc[i, "Frequency(j)"] > 1)):
                pair_freq_1 = np.log(sign_pairs2.loc[i, "initial pair frequency"] +1)
                sign_pairs2.loc[i, "NPPI"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
        except:
            pass
        try:
            if ((i == len(sign_pairs2)-1) or ((sign_pairs2.loc[i, "terminal pair frequency"] > sign_pairs2.loc[i+1, "initial pair frequency"])and(sign_pairs2.loc[i, "terminal pair frequency"] > sign_pairs2.loc[i+1, "terminal pair frequency"])) and (sign_pairs2.loc[i, "Frequency(i)"] > 1) and (sign_pairs2.loc[i, "Frequency(j)"] > 1)):
                pair_freq_1 = np.log(sign_pairs2.loc[i, "initial pair frequency"] +1)
                sign_pairs2.loc[i, "NPPT"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
        except:
            pass
        try:
            if (sign_pairs2.loc[i, "Initial Frequency(i)"]) > (sign_pairs2.loc[i, "Terminal Frequency(i)"]) and (sign_pairs2.loc[i, "Terminal Frequency(j)"]) > (sign_pairs2.loc[i, "Initial Frequency(j)"]):
                sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Initial Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Terminal Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]
        except:
            pass
        try:
            if (sign_pairs2.loc[i, "Initial Frequency(i)"]) < (sign_pairs2.loc[i, "Terminal Frequency(i)"]) and (sign_pairs2.loc[i, "Terminal Frequency(j)"]) < (sign_pairs2.loc[i, "Initial Frequency(j)"]):
                sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Terminal Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Initial Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]
        except:
            pass

        try:
            if (sign_pairs2.loc[i, "Frequency(i)"]) > (sign_pairs2.loc[i, "Frequency(j)"]):
                pair_freq = np.log(sign_pairs2.loc[i, "Pair frequency"])
                sign_pairs2.loc[i, "NPP"] = pair_freq/(sign_pairs2.loc[i, "log Frequency(j)"])
        except:
            pass
        try:
            if (sign_pairs2.loc[i, "Frequency(j)"]) > (sign_pairs2.loc[i, "Frequency(i)"]):
                pair_freq = np.log(sign_pairs2.loc[i, "Pair frequency"])
                sign_pairs2.loc[i, "NPP"] = pair_freq/sign_pairs2.loc[i, "log Frequency(i)"]
        except:
            pass

    sign_pairs2.fillna(0, inplace=True)
    sign_pairs2["NIT"] = sign_pairs2["NIT"].replace(np.inf, 1)
    sign_pairs2["NIT"] = sign_pairs2["NIT"].replace(-np.inf, -1)

    connectivity_df = sign_pairs2[["Sign pairs", "i", "j", "NPI", "NPPI", "NPT", "NPPT", "NPP", "NIT"]]
    connectivity_df["Connectivity"] = 1.5 - connectivity_df["NPI"]*KI - connectivity_df["NPT"]*KT - connectivity_df["NPPI"]*KITP - connectivity_df["NPPT"]*KITP + connectivity_df["NPP"]*KP + connectivity_df["NIT"]*KIT

    connectivity2_df = connectivity2_df.append(connectivity_df)
    print(l)

KeyError: 'i'

In [ ]:

    indexes = []
    try:
        for i in range(len(Sentence)):
            if (Sentence[i] in numbers) and (Sentence[i+1] in numbers) and (Sentence[i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if Sentence[j+k] in numbers:
                    letter.append(Sentence[j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
            try:
                first = words[i]
                second = words[i+1]
                sign_pairs2.loc[len(sign_pairs2), "Sign pairs"] = [first, second]
            except:
                pass

In [ ]:
words

In [ ]:

sign_pairs2["i"] = ''
sign_pairs2["j"] = ''
sign_pairs2['NPI']=0
sign_pairs2['NPPI']=0
sign_pairs2['NPT']=0
sign_pairs2['NPPT']=0
sign_pairs2['NPP']=0
sign_pairs2['NIT']=0

In [ ]:
KI = 0.2
KT = 0.2
KP = 1
KSP=3
KITP=1
KIT =1

# Merging initial and terminal sign pairs with sign pairs df

In [ ]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df["Sign pairs"].astype(str)
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].astype(str)

In [ ]:
sign_pairs_df = sign_pairs_df.merge(initial_sign_pair_freq_df, on="Sign pairs", how ="left")
sign_pairs_df = sign_pairs_df.merge(terminal_sign_pair_freq_df, on="Sign pairs", how ="left")
sign_pairs_df.fillna(0, inplace=True)
sign_pairs_df.head(20)

In [ ]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].str.split(",", expand=True)
sign_pairs_df["i"] = sign_pairs_df.loc[:, "Sign pairs"][0][1]
sign_pairs_df["j"] = sign_pairs_df.loc[:, "Sign pairs"]
sign_pairs_df[["Sign pairs", "i", "j"]]

In [ ]:
for i in range(len(sign_pairs2)):
    sign_pairs2.loc[i, "i"] = sign_pairs2.loc[i, "Sign pairs"][0] 
    sign_pairs2.loc[i, "j"] = sign_pairs2.loc[i, "Sign pairs"][1] 

    #NPI
    temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "j"]]
    temp.drop_duplicates(subset="Signs")
    NPItemp = temp["NPI(i)"]
    NPItemp.reset_index(drop=True, inplace=True)
    NPItemp = NPItemp.to_list()
    try:
        sign_pairs2.loc[i, "NPI"] = -NPItemp[0]*KI
    except:
        pass

    #NPT
    temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "i"]]
    temp.drop_duplicates(subset="Signs")
    NPTtemp = temp["NPT(i)"]
    NPTtemp.reset_index(drop=True, inplace=True)
    NPTtemp = NPTtemp.to_list()
    try:
        sign_pairs2.loc[i, "NPT"] = -NPTtemp[0]*KI
    except:
        pass

In [ ]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
sign_pairs2["Sign pairs"] = sign_pairs2["Sign pairs"].astype(str)

In [ ]:
connectivity3_df = connectivity2_df.reset_index(drop=True)
connectivity3_df.drop_duplicates(inplace=True)
connectivity3_df.sort_values("Connectivity", ascending=False)
connectivity3_df[connectivity3_df["i"]=='2012']

In [ ]:
connectivity2_df.to_sql(name ='multivariate_segmentation_connectivities', con=engine)