In [1]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import math
import re
import numpy as np

In [2]:
# Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [3]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [4]:
#Creating engine
engine = create_engine(db_string)

In [5]:
# Reading logosyllabic sentences data from postgreSQL
logosyllabic_sentence_df = pd.read_sql_table('logo_syllabic_tamil_sentences', con=engine)
logosyllabic_sentence_df.head()

,index,Sentence
0,0,5000-5001 1094 5177-5002 5003-5004-5178-5005-5006-4034-4008 5007-5002-4017 5008-5181-4039 ( 2000 ) 2001 2002-4006-4001-4001-1155 2003 5011-5004-4001-5178 2004 1060 2005-5182-4008 2006-4025-4033 2007-5178 1103 2008 4025-5004-5012-5013-5014 2009-4021-1040 .
1,1,"2559 2011-5131 , 2625 2012 2013-4022 2014 : ."
2,2,"2015 1014 2001-4033 2016-4008 2017-4039 2018-5178 2019-5182-4000-4025 2020-4008 2021-5186-4039 , 2022 2023-5187-4012-4008 1115 2001 2002-5187-4012-4000 2024-4031-1138 , 2025-5131 2026 2001 2002-5187-4012-4000 2027-4025-4031-1138 2028 2029 2030 2031-4021-4006 ."
3,3,"2032 , 5005-4006-5014-5015 , 5016-5178-5017 , 5018-5181-4025-5019 , 5000-5001 2033-4020 2001 2002-5187-4012-4000 2034 2035 2036-5187-4012 2037-4025-4033-1090 2038-4033 2007-4035-4017 ."
4,4,"2880-4021-4008-1138 , 2039-4021-4008-1138 5007-5002-4017 5008-5181-4039 2001 2002-5187-4012-4000 2027-4006 2500-4021-4000 2040-5133 2021-5186-4039 2041-4022-4017-4034 ."

In [6]:
#Reading logosyllabic words from postgreSQL
logosyl_data = pd.read_sql_table('logo_syllabic_tamil', con=engine)
logosyl_data.drop(columns="index", inplace=True)
s = logosyl_data.index1.sort_values().index
logosyl_data = logosyl_data.reindex(s)
logosyl_data.reset_index(drop=True, inplace=True)
logosyl_data.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2,formSeparated
0,5000-5001,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}",0,6,"{-,5,0,0,0,-,-,5,0,0,1,-}"
1,1094,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}",1,5,"{1,0,9,4}"
2,5177-5002,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}",2,4,"{ஸ,்,-,5,0,0,2,-}"
3,5003-5004-5178-5005-5006-4034-4008,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}",3,11,"{-,5,0,0,3,-,-,5,0,0,4,-,ம,்,-,5,0,0,5,-,-,5,0,0,6,-,ர,-,4,0,0,8}"
4,5007-5002-4017,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}",4,6,"{-,5,0,0,7,-,-,5,0,0,2,-,ன,்}"

In [7]:
#Reading all logograms from sql
all_logograms = pd.read_sql_table('all_logograms', con=engine)
all_logograms.drop(columns="index", inplace=True)
all_logograms.reset_index(drop=True, inplace=True)
all_logograms.head()

  key    id
0  ாக  5131
1  ிய  4020
2  ிக  5133
3  ின  4007
4  ில  4008

In [8]:
all_logograms.rename(columns={'id': 'Signs'}, inplace=True)
all_logograms.head()

  key Signs
0  ாக  5131
1  ிய  4020
2  ிக  5133
3  ின  4007
4  ில  4008

# Calculating frequencies

In [9]:
#Creating sign df
columns = ['Signs']
signs = pd.DataFrame(columns = columns)
signs.head()

Empty DataFrame
Columns: [Signs]
Index: []

In [10]:
numbers = ['0','1','2','3','4','5','6','7','8','9']

In [11]:
# Function to extract sign from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            word = words[i]
            signs.loc[len(signs), "Signs"] = word
        except:
            pass

In [12]:
signs.head()

  Signs
0  5000
1  5001
2  1094
3  5177
4  5002

In [13]:
# Calculating frequency of signs
sign_freq_df = pd.DataFrame(signs["Signs"].value_counts())
sign_freq_df.reset_index(inplace=True)
sign_freq_df.rename(columns={'index': 'Signs', 'Signs': 'Frequency'}, inplace=True)
sign_freq_df.head()

  Signs  Frequency
0  4021        748
1  4012        529
2  4008        492
3  4025        477
4  5182        463

In [14]:
#Merge onto all logograms
all_logograms = all_logograms.merge(sign_freq_df, on="Signs", how ="left")
all_logograms.dropna(inplace=True)
all_logograms.reset_index(drop=True, inplace=True)

In [15]:
all_logograms.head()

  key Signs  Frequency
0  ாக  5131       35.0
1  ிய  4020      101.0
2  ிக  5133        8.0
3  ின  4007      173.0
4  ில  4008      492.0

# Calculating initial sign frequencies

In [16]:
# Finding initial signs
inital_sign_df = pd.DataFrame(columns = ['initial sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([^-\d])|(^))(\d+)')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.drop(columns=[0,1], inplace=True)
    Sign_df.rename(columns={2:'initial sign'}, inplace=True)

    # Adding it to inital sign dataframe
    inital_sign_df = inital_sign_df.append(Sign_df)
    inital_sign_df.reset_index(drop=True, inplace=True)

In [17]:
inital_sign_df.head()

  initial sign
0         5000
1         1094
2         5177
3         5003
4         5007

In [18]:
# Calculating frequency of initial signs
inital_sign_freq_df = pd.DataFrame(inital_sign_df["initial sign"].value_counts())
inital_sign_freq_df.reset_index(inplace=True)
inital_sign_freq_df.rename(columns={'index': 'Signs', 'initial sign': 'Initial Frequency'}, inplace=True)
inital_sign_freq_df.head()

  Signs  Initial Frequency
0  2625                 93
1  2196                 89
2  2192                 80
3  2031                 78
4  2129                 77

In [19]:
#Merge onto all logograms
all_logograms = all_logograms.merge(inital_sign_freq_df, on="Signs", how ="left")

In [20]:
all_logograms.head()

  key Signs  Frequency  Initial Frequency
0  ாக  5131       35.0                NaN
1  ிய  4020      101.0                NaN
2  ிக  5133        8.0                NaN
3  ின  4007      173.0                NaN
4  ில  4008      492.0               22.0

# Calculating terminal sign frequencies

In [21]:
# Finding terminal signs
terminal_sign_df = pd.DataFrame(columns = ['terminal sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([\d]+[\s]))')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={0:'terminal sign'}, inplace=True)

    # Adding it to inital sign dataframe
    terminal_sign_df = terminal_sign_df.append(Sign_df)
    terminal_sign_df.reset_index(drop=True, inplace=True)

In [22]:
terminal_sign_df.head()

  terminal sign
0         5001
1         1094
2         5002
3         4008
4         4017

In [23]:
# Calculating frequency of terminal signs
terminal_sign_freq_df = pd.DataFrame(terminal_sign_df["terminal sign"].value_counts())
terminal_sign_freq_df.reset_index(inplace=True)
terminal_sign_freq_df.rename(columns={'index': 'Signs', 'terminal sign': 'Terminal Frequency'}, inplace=True)
terminal_sign_freq_df["Signs"]=terminal_sign_freq_df["Signs"].str.replace(' ','')
terminal_sign_freq_df.head()

  Signs  Terminal Frequency
0  4008                 437
1  4006                 303
2  4012                 235
3  5178                 232
4  1138                 225

In [24]:
#Merge onto all logograms
all_logograms = all_logograms.merge(terminal_sign_freq_df, on="Signs", how ="left")

In [25]:
all_logograms.head()

  key Signs  Frequency  Initial Frequency  Terminal Frequency
0  ாக  5131       35.0                NaN                33.0
1  ிய  4020      101.0                NaN                36.0
2  ிக  5133        8.0                NaN                 8.0
3  ின  4007      173.0                NaN               140.0
4  ில  4008      492.0               22.0               437.0

# Calculating natural logs for each sign

In [26]:
all_logograms["log Initial Frequency"] = ''
all_logograms["log Terminal Frequency"] = ''
all_logograms["log Frequency"] = ''
all_logograms["NPI(i)"] = ''
all_logograms["NPT(i)"] = ''
all_logograms.fillna(0, inplace=True)

In [27]:
all_logograms["log Initial Frequency"] = np.log(all_logograms["Initial Frequency"])
all_logograms["log Terminal Frequency"] = np.log(all_logograms["Terminal Frequency"])
all_logograms["log Frequency"] = np.log(all_logograms["Frequency"])

all_logograms.head()

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,ாக,5131,35.0,0.0,33.0,-inf,3.496508,3.555348,,
1,ிய,4020,101.0,0.0,36.0,-inf,3.583519,4.615121,,
2,ிக,5133,8.0,0.0,8.0,-inf,2.079442,2.079442,,
3,ின,4007,173.0,0.0,140.0,-inf,4.941642,5.153292,,
4,ில,4008,492.0,22.0,437.0,3.091042,6.079933,6.198479,,

In [28]:
#Only calculating NPI(i) if intial frequency is greater than terminal frequency
temp_df = all_logograms[all_logograms["Initial Frequency"]>all_logograms["Terminal Frequency"]]
temp_df["NPI(i)"] = -temp_df["log Initial Frequency"]/temp_df["log Frequency"]
mask = temp_df.index
all_logograms.loc[mask, ["NPI(i)"]] = temp_df.loc[:, ["NPI(i)"]]
all_logograms.head()

<ipython-input-28-e0718e790924>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["NPI(i)"] = -temp_df["log Initial Frequency"]/temp_df["log Frequency"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,ாக,5131,35.0,0.0,33.0,-inf,3.496508,3.555348,,
1,ிய,4020,101.0,0.0,36.0,-inf,3.583519,4.615121,,
2,ிக,5133,8.0,0.0,8.0,-inf,2.079442,2.079442,,
3,ின,4007,173.0,0.0,140.0,-inf,4.941642,5.153292,,
4,ில,4008,492.0,22.0,437.0,3.091042,6.079933,6.198479,,

In [29]:
#Only calculating NPT(i) if terminal frequency is greater than initial frequency
temp_df = all_logograms[all_logograms["Terminal Frequency"]>all_logograms["Initial Frequency"]]
temp_df["NPT(i)"] = -temp_df["log Terminal Frequency"]/temp_df["log Frequency"]
mask = temp_df.index
all_logograms.loc[mask, ["NPT(i)"]] = temp_df.loc[:, ["NPT(i)"]]
all_logograms.head()

<ipython-input-29-f44ef684120c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["NPT(i)"] = -temp_df["log Terminal Frequency"]/temp_df["log Frequency"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
0,ாக,5131,35.0,0.0,33.0,-inf,3.496508,3.555348,,-0.98345
1,ிய,4020,101.0,0.0,36.0,-inf,3.583519,4.615121,,-0.776474
2,ிக,5133,8.0,0.0,8.0,-inf,2.079442,2.079442,,-1
3,ின,4007,173.0,0.0,140.0,-inf,4.941642,5.153292,,-0.958929
4,ில,4008,492.0,22.0,437.0,3.091042,6.079933,6.198479,,-0.980875

# Calculating sign pair frequencies

In [30]:
#Creating sign pairs
columns = ['Sign pairs']
sign_pairs = pd.DataFrame(columns = columns)
sign_pairs.head()

Empty DataFrame
Columns: [Sign pairs]
Index: []

In [31]:
# Function to extract sign pairs from sentences
for l in range(len(logosyllabic_sentence_df["Sentence"])):
    indexes = []
    try:
        for i in range(len(logosyllabic_sentence_df.loc[l, "Sentence"])):
            if (logosyllabic_sentence_df.loc[l, "Sentence"][i] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i+1] in numbers) and (logosyllabic_sentence_df.loc[l, "Sentence"][i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if logosyllabic_sentence_df.loc[l, "Sentence"][j+k] in numbers:
                    letter.append(logosyllabic_sentence_df.loc[l, "Sentence"][j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    for i in range(len(words)):
        try:
            first = words[i]
            second = words[i+1]
            sign_pairs.loc[len(sign_pairs), "Sign pairs"] = [first, second]
        except:
            pass

In [32]:
sign_pairs.head()

     Sign pairs
0  [5000, 5001]
1  [5001, 1094]
2  [1094, 5177]
3  [5177, 5002]
4  [5002, 5003]

In [33]:
# Calculating frequency of sign pairs
sign_pairs_df = pd.DataFrame(sign_pairs["Sign pairs"].value_counts())
sign_pairs_df.reset_index(inplace=True)
sign_pairs_df.rename(columns={'index': 'Sign pairs', 'Sign pairs': 'frequency'}, inplace=True)
sign_pairs_df.head()

     Sign pairs  frequency
0  [5182, 4008]        156
1  [4012, 4000]         98
2  [5187, 4012]         95
3  [5194, 4021]         79
4  [4021, 4008]         78

In [34]:
sign_pairs_df["i"] = ''
sign_pairs_df["j"] = ''
for i in range(len(sign_pairs_df)):
    sign_pairs_df.loc[i, "i"] = sign_pairs_df.loc[i,'Sign pairs'][0]
    sign_pairs_df.loc[i, "j"] = sign_pairs_df.loc[i,'Sign pairs'][1]
sign_pairs_df[sign_pairs_df["j"]=='4012'].head()

       Sign pairs  frequency     i     j
2    [5187, 4012]         95  5187  4012
14   [2015, 4012]         49  2015  4012
74   [4034, 4012]         20  4034  4012
99   [2125, 4012]         16  2125  4012
134  [2639, 4012]         13  2639  4012

In [35]:
len(sign_pairs_df[sign_pairs_df["i"]=='4012'].drop_duplicates(subset="j"))

174

# Calculating initial sign pair frequencies

In [36]:
# Finding terminal signs
initial_sign_df = pd.DataFrame(columns = ['initial sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([^-\d])|(^))(\d+-\d+)')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={2:'initial sign'}, inplace=True)
    Sign_df.drop(columns=[0,1], inplace=True)

    # Adding it to inital sign dataframe
    initial_sign_df = initial_sign_df.append(Sign_df)
    initial_sign_df.reset_index(drop=True, inplace=True)

In [37]:
# Calculating frequency of terminal signs
initial_sign_pair_freq_df = pd.DataFrame(initial_sign_df["initial sign"].value_counts())
initial_sign_pair_freq_df.reset_index(inplace=True)
initial_sign_pair_freq_df.rename(columns={'index': 'Sign pairs', 'initial sign': 'initial pair frequency'}, inplace=True)
initial_sign_pair_freq_df["Sign pairs"]=initial_sign_pair_freq_df["Sign pairs"].str.replace(' ','')
initial_sign_pair_freq_df["Sign pairs"]=initial_sign_pair_freq_df["Sign pairs"].str.split('-')
initial_sign_pair_freq_df.head()

     Sign pairs  initial pair frequency
0  [2010, 5192]                      62
1  [2192, 4021]                      55
2  [2015, 4012]                      49
3  [2060, 5178]                      48
4  [2021, 5186]                      39

# Calculating terminal sign pair frequencies

In [38]:
# Finding terminal signs
terminal_sign_df = pd.DataFrame(columns = ['terminal sign'])

for i in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.iloc[i]

    #Creating a dataframe with inital signs for each sentence
    Sign = Sentence.str.extractall(r'(?:([\d]+-[\d]+[^-]))')
    Sign_df = pd.DataFrame(Sign)
    Sign_df.reset_index(drop=True, inplace=True)
    Sign_df.rename(columns={0:'terminal sign'}, inplace=True)

    # Adding it to inital sign dataframe
    terminal_sign_df = terminal_sign_df.append(Sign_df)
    terminal_sign_df.reset_index(drop=True, inplace=True)

In [39]:
# Calculating frequency of terminal signs
terminal_sign_pair_freq_df = pd.DataFrame(terminal_sign_df["terminal sign"].value_counts())
terminal_sign_pair_freq_df.reset_index(inplace=True)
terminal_sign_pair_freq_df.rename(columns={'index': 'Sign pairs', 'terminal sign': 'terminal pair frequency'}, inplace=True)
terminal_sign_pair_freq_df["Sign pairs"]=terminal_sign_pair_freq_df["Sign pairs"].str.replace(' ','')
terminal_sign_pair_freq_df["Sign pairs"]=terminal_sign_pair_freq_df["Sign pairs"].str.split('-')
terminal_sign_pair_freq_df.head()

     Sign pairs  terminal pair frequency
0  [2192, 4021]                       51
1  [2060, 5178]                       48
2  [2021, 5186]                       39
3  [2010, 5192]                       39
4  [4021, 5193]                       35

In [40]:
sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
initial_sign_pair_freq_df["Sign pairs"] = initial_sign_pair_freq_df["Sign pairs"].astype(str)
terminal_sign_pair_freq_df["Sign pairs"] = terminal_sign_pair_freq_df["Sign pairs"].astype(str)

sign_pairs_df = sign_pairs_df.merge(initial_sign_pair_freq_df,  how ="left")
sign_pairs_df = sign_pairs_df.merge(terminal_sign_pair_freq_df,  how ="left")
sign_pairs_df.fillna(0, inplace=True)

# Model of Connectivity

In [41]:
connectivity2_df = pd.DataFrame(columns = ["Sign pairs", "i", "j", "NPI", "NPPI", "NPT", "NPPT", "NPP", "NIT"])

In [42]:
for l in range(len(logosyllabic_sentence_df)):
    Sentence = logosyllabic_sentence_df.loc[l, "Sentence"]

    #Creating signpair dataframe
    columns = ['Sign pairs']
    sign_pairs2 = pd.DataFrame(columns = columns)
    sign_pairs2.head()

    #Creating sign pairs from sentence
    indexes = []
    try:
        for i in range(len(Sentence)):
            if (Sentence[i] in numbers) and (Sentence[i+1] in numbers) and (Sentence[i-1] not in numbers):
                indexes.append(i)
    except:
        pass
    words = []
    try:
        for i in range(len(indexes)):
            j = indexes[i]
            letter =[]
            for k in range(6):
                if Sentence[j+k] in numbers:
                    letter.append(Sentence[j+k])
                else:
                    word = ''.join(letter)
            words.append(word)
    except:
        pass
    #Creating parameters
    for i in range(len(words)):
            try:
                first = words[i]
                second = words[i+1]
                length = len(sign_pairs2)
                #sign_pairs2.loc[length, "Sentence"] = l
                sign_pairs2.loc[length, "Sign pairs"] = [first, second]
            except:
                pass

    sign_pairs2["i"] = ''
    sign_pairs2["j"] = ''
    sign_pairs2['NPI']=0
    sign_pairs2['NPPI']=0
    sign_pairs2['NPT']=0
    sign_pairs2['NPPT']=0
    sign_pairs2['NPP']=0
    sign_pairs2['NIT']=0

    KI = 0.2
    KT = 0.2
    KP = 1
    KSP=3
    KITP=1
    KIT =1


    for i in range(len(sign_pairs2)):
        sign_pairs2.loc[i, "i"] = sign_pairs2.loc[i, "Sign pairs"][0] 
        sign_pairs2.loc[i, "j"] = sign_pairs2.loc[i, "Sign pairs"][1] 

        #NPI
        temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "j"]]
        temp.drop_duplicates(subset="Signs")
        NPItemp = temp["NPI(i)"]
        NPItemp.reset_index(drop=True, inplace=True)
        NPItemp = NPItemp.to_list()
        try:
            sign_pairs2.loc[i, "NPI"] = -NPItemp[0]*KI
        except:
            pass

        #NPT
        temp = all_logograms[all_logograms["Signs"]==sign_pairs2.loc[i, "i"]]
        temp.drop_duplicates(subset="Signs")
        NPTtemp = temp["NPT(i)"]
        NPTtemp.reset_index(drop=True, inplace=True)
        NPTtemp = NPTtemp.to_list()
        try:
            sign_pairs2.loc[i, "NPT"] = -NPTtemp[0]*KI
        except:
            pass

    sign_pairs_df["Sign pairs"] = sign_pairs_df["Sign pairs"].astype(str)
    sign_pairs2["Sign pairs"] = sign_pairs2["Sign pairs"].astype(str)

    sign_pairs2 = sign_pairs2.merge(sign_pairs_df, how ="left")
    sign_pairs2.rename(columns={"frequency":"Pair frequency", "initial frequency":"initial pair frequency", "terminal frequency":"terminal pair frequency"}, inplace=True)

    sign_pairs2 = sign_pairs2.merge(all_logograms[['Signs', 'Frequency', 'Initial Frequency', 'Terminal Frequency', 'log Frequency', 'log Initial Frequency', 'log Terminal Frequency']], left_on= "i", right_on="Signs", how ="left")
    sign_pairs2.drop(columns="Signs", inplace=True)
    sign_pairs2.rename(columns={"log Frequency":"log Frequency(i)", "Frequency":"Frequency(i)","Initial Frequency":"Initial Frequency(i)","Terminal Frequency":"Terminal Frequency(i)", "log Initial Frequency":"log Initial Frequency(i)", "log Terminal Frequency":"log Terminal Frequency(i)"}, inplace=True)
    sign_pairs2.drop_duplicates(inplace=True)

    sign_pairs2 = sign_pairs2.merge(all_logograms[['Signs', 'Frequency', 'Initial Frequency', 'Terminal Frequency','log Frequency', 'log Initial Frequency', 'log Terminal Frequency']], left_on= "j", right_on="Signs", how ="left")
    sign_pairs2.drop(columns="Signs", inplace=True)
    sign_pairs2.rename(columns={"log Frequency":"log Frequency(j)", "Frequency":"Frequency(j)","Initial Frequency":"Initial Frequency(j)","Terminal Frequency":"Terminal Frequency(j)", "log Initial Frequency":"log Initial Frequency(j)", "log Terminal Frequency":"log Terminal Frequency(j)"}, inplace=True)
    sign_pairs2.drop_duplicates(inplace=True)

    sign_pairs2.reset_index(drop=True, inplace=True)

    for i in range(len(sign_pairs2)):
        try:
            if ((i == 0) or ((sign_pairs2.loc[i, "initial pair frequency"] > sign_pairs2.loc[i-1, "initial pair frequency"])and(sign_pairs2.loc[i, "initial pair frequency"] > sign_pairs2.loc[i-1, "terminal pair frequency"])) and (sign_pairs2.loc[i, "Frequency(i)"] > 1) and (sign_pairs2.loc[i, "Frequency(j)"] > 1)):
                pair_freq_1 = np.log(sign_pairs2.loc[i, "initial pair frequency"] +1)
                sign_pairs2.loc[i, "NPPI"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
        except:
            pass
        try:
            if ((i == len(sign_pairs2)-1) or ((sign_pairs2.loc[i, "terminal pair frequency"] > sign_pairs2.loc[i+1, "initial pair frequency"])and(sign_pairs2.loc[i, "terminal pair frequency"] > sign_pairs2.loc[i+1, "terminal pair frequency"])) and (sign_pairs2.loc[i, "Frequency(i)"] > 1) and (sign_pairs2.loc[i, "Frequency(j)"] > 1)):
                pair_freq_1 = np.log(sign_pairs2.loc[i, "initial pair frequency"] +1)
                sign_pairs2.loc[i, "NPPT"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
        except:
            pass
        try:
            if ((sign_pairs2.loc[i, "Initial Frequency(i)"]) > (sign_pairs2.loc[i, "Terminal Frequency(i)"])) and ((sign_pairs2.loc[i, "Terminal Frequency(j)"]) > (sign_pairs2.loc[i, "Initial Frequency(j)"])):
                sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Initial Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Terminal Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]
        except:
            pass
        try:
            if ((sign_pairs2.loc[i, "Initial Frequency(i)"]) < (sign_pairs2.loc[i, "Terminal Frequency(i)"])) and ((sign_pairs2.loc[i, "Terminal Frequency(j)"]) < (sign_pairs2.loc[i, "Initial Frequency(j)"])):
                if (sign_pairs2.loc[i, "log Initial Frequency(i)"] == -np.inf) and (sign_pairs2.loc[i, "log Terminal Frequency(j)"] == -np.inf):
                    sign_pairs2.loc[i, "NIT"] == -np.inf
                else:    
                    sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Terminal Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Initial Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]
        except:
            pass

        try:
            if (sign_pairs2.loc[i, "Frequency(i)"]) > (sign_pairs2.loc[i, "Frequency(j)"]):
                pair_freq = np.log(sign_pairs2.loc[i, "Pair frequency"])
                sign_pairs2.loc[i, "NPP"] = pair_freq/(sign_pairs2.loc[i, "log Frequency(j)"])
        except:
            pass
        try:
            if (sign_pairs2.loc[i, "Frequency(j)"]) > (sign_pairs2.loc[i, "Frequency(i)"]):
                pair_freq = np.log(sign_pairs2.loc[i, "Pair frequency"])
                sign_pairs2.loc[i, "NPP"] = pair_freq/sign_pairs2.loc[i, "log Frequency(i)"]
        except:
            pass

    sign_pairs2.fillna(0, inplace=True)
    #sign_pairs2["NIT"] = sign_pairs2["NIT"].replace(np.inf, -np.inf)
    #sign_pairs2["NIT"] = sign_pairs2["NIT"].replace(-np.inf, np.inf)

    connectivity_df = sign_pairs2
    connectivity_df["Connectivity"] = 1.5 - connectivity_df["NPI"]*KI - connectivity_df["NPT"]*KT - connectivity_df["NPPI"]*KITP - connectivity_df["NPPT"]*KITP + connectivity_df["NPP"]*KP + connectivity_df["NIT"]*KIT

    connectivity2_df = connectivity2_df.append(connectivity_df)

<ipython-input-42-d81c2ef6d1b1>:132: RuntimeWarning: invalid value encountered in double_scalars
  sign_pairs2.loc[i, "NPP"] = pair_freq/(sign_pairs2.loc[i, "log Frequency(j)"])
<ipython-input-42-d81c2ef6d1b1>:138: RuntimeWarning: invalid value encountered in double_scalars
  sign_pairs2.loc[i, "NPP"] = pair_freq/sign_pairs2.loc[i, "log Frequency(i)"]
<ipython-input-42-d81c2ef6d1b1>:125: RuntimeWarning: invalid value encountered in double_scalars
  sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Terminal Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Initial Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]
<ipython-input-42-d81c2ef6d1b1>:117: RuntimeWarning: invalid value encountered in double_scalars
  sign_pairs2.loc[i, "NIT"] = sign_pairs2.loc[i, "log Initial Frequency(j)"]/sign_pairs2.loc[i, "log Frequency(j)"]*sign_pairs2.loc[i, "log Terminal Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(i)"]
<ipython-input-42-d81c2ef6d1b1>:106: RuntimeWarning: invalid value encountered in double_scalars
  sign_pairs2.loc[i, "NPPI"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
<ipython-input-42-d81c2ef6d1b1>:106: RuntimeWarning: divide by zero encountered in double_scalars
  sign_pairs2.loc[i, "NPPI"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
<ipython-input-42-d81c2ef6d1b1>:112: RuntimeWarning: invalid value encountered in double_scalars
  sign_pairs2.loc[i, "NPPT"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]
<ipython-input-42-d81c2ef6d1b1>:112: RuntimeWarning: divide by zero encountered in double_scalars
  sign_pairs2.loc[i, "NPPT"] = pair_freq_1/sign_pairs2.loc[i, "log Frequency(i)"]/sign_pairs2.loc[i, "log Frequency(j)"]

In [43]:
logosyl_data[logosyl_data.form.str.contains('2246')]

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1,index2,formSeparated
729,2246,இன்று,A,AA-------,15,,0.0,0,"{இ,ன,்,ற,ு}",729,5,"{2,2,4,6}"
772,2246,இன்று,A,AA-------,10,,0.0,0,"{இ,ன,்,ற,ு}",772,5,"{2,2,4,6}"
787,2246,இன்று,A,AA-------,10,,0.0,0,"{இ,ன,்,ற,ு}",787,5,"{2,2,4,6}"
1005,2246,இன்று,A,AA-------,20,,0.0,0,"{இ,ன,்,ற,ு}",1005,5,"{2,2,4,6}"
1014,2246,இன்று,A,AA-------,7,,0.0,0,"{இ,ன,்,ற,ு}",1014,5,"{2,2,4,6}"
1263,2246,இன்று,A,AA-------,10,,0.0,0,"{இ,ன,்,ற,ு}",1263,5,"{2,2,4,6}"
1482,2246,இன்று,A,AA-------,33,,0.0,0,"{இ,ன,்,ற,ு}",1482,5,"{2,2,4,6}"
3016,2246,இன்று,A,AA-------,4,,0.0,0,"{இ,ன,்,ற,ு}",3016,5,"{2,2,4,6}"
3041,2246,இன்று,N,NNN-3SN--,4,,0.0,0,"{இ,ன,்,ற,ு}",3041,5,"{2,2,4,6}"
3116,2246,இன்று,A,AA-------,17,,0.0,0,"{இ,ன,்,ற,ு}",3116,5,"{2,2,4,6}"
3466,2246,இன்று,A,AA-------,4,,0.0,0,"{இ,ன,்,ற,ு}",3466,5,"{2,2,4,6}"
3713,2246,இன்று,A,AA-------,4,,0.0,0,"{இ,ன,்,ற,ு}",3713,5,"{2,2,4,6}"
3928,2246,இன்று,A,AA-------,4,,0.0,0,"{இ,ன,்,ற,ு}",3928,5,"{2,2,4,6}"
4070,2246,இன்று,A,AA-------,4,,0.0,0,"{இ,ன,்,ற,ு}",4070,5,"{2,2,4,6}"
4390,2246,இன்று,N,NNN-3SN--,2,,0.0,0,"{இ,ன,்,ற,ு}",4390,5,"{2,2,4,6}"
5439,2246,இன்று,A,AA-------,4,,0.0,0,"{இ,ன,்,ற,ு}",5439,5,"{2,2,4,6}"
5477,2246,இன்று,A,AA-------,16,,0.0,0,"{இ,ன,்,ற,ு}",5477,5,"{2,2,4,6}"
5504,2246,இன்று,A,AA-------,2,,0.0,0,"{இ,ன,்,ற,ு}",5504,5,"{2,2,4,6}"
5589,2246,இன்று,A,AA-------,11,,0.0,0,"{இ,ன,்,ற,ு}",5589,5,"{2,2,4,6}"
5605,2246,இன்று,A,AA-------,3,,0.0,0,"{இ,ன,்,ற,ு}",5605,5,"{2,2,4,6}"
5839,2246,இன்று,N,NNN-3SN--,11,,0.0,0,"{இ,ன,்,ற,ு}",5839,5,"{2,2,4,6}"

In [44]:
all_logograms[all_logograms["Signs"]=="2747"]

,key,Signs,Frequency,Initial Frequency,Terminal Frequency,log Initial Frequency,log Terminal Frequency,log Frequency,NPI(i),NPT(i)
1121,ஆவர்,2747,1.0,1.0,1.0,0.0,0.0,0.0,,

In [45]:
connectivity2_df.reset_index(drop=True, inplace=True)
connectivity2_df.drop_duplicates(subset="Sign pairs", inplace=True)
#connectivity2_df
connectivity3_df = connectivity2_df[(connectivity2_df.i=='4012')]
connectivity2_df.drop_duplicates(subset="Sign pairs", inplace=True)
connectivity3_df.reset_index(drop=True, inplace=True)
connectivity3_df.sort_values(by="Connectivity", ascending=False, inplace=True)
connectivity3_df.loc[0, "Sign pairs"]

<ipython-input-45-ece2b93c9f5f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  connectivity3_df.sort_values(by="Connectivity", ascending=False, inplace=True)

"['4012', '4008']"

In [46]:
for i in range(len(connectivity3_df)):
    string = connectivity3_df.loc[i, "i"]
    temp_df = logosyl_data[logosyl_data.form.str.contains(string)]
    temp_df.reset_index(drop=True, inplace=True)
    connectivity3_df.loc[i, "type"] = temp_df["upos"][0]

C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\keetu\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [47]:
connectivity3_df

,Sign pairs,i,j,NPI,NPPI,NPT,NPPT,NPP,NIT,Pair frequency,...,log Initial Frequency(i),log Terminal Frequency(i),Frequency(j),Initial Frequency(j),Terminal Frequency(j),log Frequency(j),log Initial Frequency(j),log Terminal Frequency(j),Connectivity,type
85,"['4012', '3001']",4012,3001,0.000000,0.0,0.174122,0.0,1.000000,0.0,2.0,...,-inf,5.459586,2.0,2.0,2.0,0.693147,0.693147,0.693147,2.465176,N
77,"['4012', '1093']",4012,1093,0.000000,0.0,0.174122,0.0,1.000000,0.0,2.0,...,-inf,5.459586,2.0,2.0,2.0,0.693147,0.693147,0.693147,2.465176,N
74,"['4012', '1100']",4012,1100,0.000000,0.0,0.174122,0.0,0.861353,0.0,4.0,...,-inf,5.459586,5.0,5.0,5.0,1.609438,1.609438,1.609438,2.326529,N
14,"['4012', '1045']",4012,1045,0.000000,0.0,0.174122,0.0,0.792481,0.0,3.0,...,-inf,5.459586,4.0,4.0,4.0,1.386294,1.386294,1.386294,2.257657,N
154,"['4012', '1041']",4012,1041,0.200000,0.0,0.174122,0.0,0.827087,0.0,5.0,...,-inf,5.459586,7.0,7.0,0.0,1.945910,1.945910,-inf,2.252263,N
1,"['4012', '4000']",4012,4000,0.000000,0.0,0.174122,0.0,0.785402,0.0,98.0,...,-inf,5.459586,343.0,9.0,216.0,5.837730,2.197225,5.375278,2.250578,N
18,"['4012', '4009']",4012,4009,0.000000,0.0,0.174122,0.0,0.773976,0.0,5.0,...,-inf,5.459586,8.0,0.0,8.0,2.079442,-inf,2.079442,2.239152,N
129,"['4012', '3274']",4012,3274,0.200000,0.0,0.174122,0.0,0.792481,0.0,3.0,...,-inf,5.459586,4.0,4.0,0.0,1.386294,1.386294,-inf,2.217657,N
15,"['4012', '4001']",4012,4001,0.000000,0.0,0.174122,0.0,0.710398,0.0,59.0,...,-inf,5.459586,311.0,7.0,161.0,5.739793,1.945910,5.081404,2.175574,N
0,"['4012', '4008']",4012,4008,0.000000,0.0,0.174122,0.0,0.678343,0.0,67.0,...,-inf,5.459586,492.0,22.0,437.0,6.198479,3.091042,6.079933,2.143518,N
32,"['4012', '2383']",4012,2383,0.200000,0.0,0.174122,0.0,0.682606,0.0,3.0,...,-inf,5.459586,5.0,5.0,0.0,1.609438,1.609438,-inf,2.107782,N
20,"['4012', '4007']",4012,4007,0.000000,0.0,0.174122,0.0,0.624625,0.0,25.0,...,-inf,5.459586,173.0,0.0,140.0,5.153292,-inf,4.941642,2.089801,N
30,"['4012', '3244']",4012,3244,0.200000,0.0,0.174122,0.0,0.647685,0.0,5.0,...,-inf,5.459586,12.0,12.0,0.0,2.484907,2.484907,-inf,2.072861,N
50,"['4012', '1049']",4012,1049,0.000000,0.0,0.174122,0.0,0.552866,0.0,8.0,...,-inf,5.459586,43.0,43.0,43.0,3.761200,3.761200,3.761200,2.018042,N
51,"['4012', '1107']",4012,1107,0.000000,0.0,0.174122,0.0,0.537710,0.0,6.0,...,-inf,5.459586,28.0,4.0,25.0,3.332205,1.386294,3.218876,2.002886,N
9,"['4012', '1138']",4012,1138,0.000000,0.0,0.174122,0.0,0.518540,0.0,17.0,...,-inf,5.459586,236.0,0.0,225.0,5.463832,-inf,5.416100,1.983715,N
156,"['4012', '3365']",4012,3365,0.000000,0.0,0.174122,0.0,0.500000,0.0,2.0,...,-inf,5.459586,4.0,4.0,4.0,1.386294,1.386294,1.386294,1.965176,N
53,"['4012', '2085']",4012,2085,0.200000,0.0,0.174122,0.0,0.511916,0.0,4.0,...,-inf,5.459586,15.0,15.0,0.0,2.708050,2.708050,-inf,1.937092,N
37,"['4012', '1019']",4012,1019,0.000000,0.0,0.174122,0.0,0.458157,0.0,3.0,...,-inf,5.459586,11.0,11.0,11.0,2.397895,2.397895,2.397895,1.923333,N
4,"['4012', '1130']",4012,1130,0.000000,0.0,0.174122,0.0,0.416290,0.0,3.0,...,-inf,5.459586,14.0,14.0,14.0,2.639057,2.639057,2.639057,1.881465,N
31,"['4012', '2192']",4012,2192,0.200000,0.0,0.174122,0.0,0.444066,0.0,7.0,...,-inf,5.459586,80.0,80.0,0.0,4.382027,4.382027,-inf,1.869242,N
63,"['4012', '2411']",4012,2411,0.200000,0.0,0.174122,0.0,0.430677,0.0,2.0,...,-inf,5.459586,5.0,5.0,0.0,1.609438,1.609438,-inf,1.855852,N
59,"['4012', '2159']",4012,2159,0.200000,0.0,0.174122,0.0,0.386853,0.0,2.0,...,-inf,5.459586,6.0,6.0,0.0,1.791759,1.791759,-inf,1.812028,N
89,"['4012', '3021']",4012,3021,0.200000,0.0,0.174122,0.0,0.386853,0.0,2.0,...,-inf,5.459586,6.0,6.0,0.0,1.791759,1.791759,-inf,1.812028,N
5,"['4012', '1008']",4012,1008,0.000000,0.0,0.174122,0.0,0.341303,0.0,3.0,...,-inf,5.459586,25.0,0.0,25.0,3.218876,-inf,3.218876,1.806479,N
43,"['4012', '2017']",4012,2017,0.200000,0.0,0.174122,0.0,0.360849,0.0,3.0,...,-inf,5.459586,21.0,21.0,1.0,3.044522,3.044522,0.000000,1.786024,N
103,"['4012', '2370']",4012,2370,0.000000,0.0,0.174122,0.0,0.301030,0.0,2.0,...,-inf,5.459586,10.0,10.0,10.0,2.302585,2.302585,2.302585,1.766206,N
26,"['4012', '4005']",4012,4005,0.000000,0.0,0.174122,0.0,0.295837,0.0,3.0,...,-inf,5.459586,41.0,2.0,33.0,3.713572,0.693147,3.496508,1.761013,N
42,"['4012', '2473']",4012,2473,0.200000,0.0,0.174122,0.0,0.333333,0.0,2.0,...,-inf,5.459586,8.0,8.0,0.0,2.079442,2.079442,-inf,1.758509,N
6,"['4012', '1154']",4012,1154,0.000000,0.0,0.174122,0.0,0.284804,0.0,4.0,...,-inf,5.459586,130.0,0.0,128.0,4.867534,-inf,4.852030,1.749980,N
139,"['4012', '2031']",4012,2031,0.200000,0.0,0.174122,0.0,0.318198,0.0,4.0,...,-inf,5.459586,78.0,78.0,0.0,4.356709,4.356709,-inf,1.743373,N
114,"['4012', '1103']",4012,1103,0.000000,0.0,0.174122,0.0,0.263179,0.0,3.0,...,-inf,5.459586,65.0,65.0,65.0,4.174387,4.174387,4.174387,1.728355,N
13,"['4012', '1155']",4012,1155,0.000000,0.0,0.174122,0.0,0.259467,0.0,3.0,...,-inf,5.459586,69.0,0.0,69.0,4.234107,-inf,4.234107,1.724643,N
72,"['4012', '1025']",4012,1025,0.000000,0.0,0.174122,0.0,0.255958,0.0,2.0,...,-inf,5.459586,15.0,0.0,15.0,2.708050,-inf,2.708050,1.721134,N
17,"['4012', '2180']",4012,2180,0.200000,0.0,0.174122,0.0,0.250000,0.0,2.0,...,-inf,5.459586,16.0,16.0,0.0,2.772589,2.772589,-inf,1.675176,N
108,"['4012', '1131']",4012,1131,0.000000,0.0,0.174122,0.0,0.178104,0.0,2.0,...,-inf,5.459586,49.0,49.0,49.0,3.891820,3.891820,3.891820,1.643279,N
22,"['4012', '2215']",4012,2215,0.200000,0.0,0.174122,0.0,0.193426,0.0,2.0,...,-inf,5.459586,36.0,36.0,1.0,3.583519,3.583519,0.000000,1.618602,N
97,"['4012', '1120']",4012,1120,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,14.0,14.0,14.0,2.639057,2.639057,2.639057,1.465176,N
105,"['4012', '2959']",4012,2959,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,6.0,6.0,6.0,1.791759,1.791759,1.791759,1.465176,N
115,"['4012', '1116']",4012,1116,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,14.0,14.0,14.0,2.639057,2.639057,2.639057,1.465176,N
110,"['4012', '3170']",4012,3170,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,2.0,0.693147,0.693147,0.693147,1.465176,N
91,"['4012', '1147']",4012,1147,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,3.0,3.0,3.0,1.098612,1.098612,1.098612,1.465176,N
96,"['4012', '1013']",4012,1013,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
81,"['4012', '2948']",4012,2948,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,0.0,0.000000,0.000000,-inf,1.465176,N
134,"['4012', '3031']",4012,3031,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,2.0,0.693147,0.693147,0.693147,1.465176,N
117,"['4012', '3232']",4012,3232,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
118,"['4012', '2153']",4012,2153,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,4.0,4.0,4.0,1.386294,1.386294,1.386294,1.465176,N
172,"['4012', '3515']",4012,3515,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,2.0,0.693147,0.693147,0.693147,1.465176,N
171,"['4012', '3518']",4012,3518,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,0.0,0.000000,0.000000,-inf,1.465176,N
166,"['4012', '3508']",4012,3508,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
165,"['4012', '3507']",4012,3507,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
152,"['4012', '3460']",4012,3460,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,0.0,0.000000,0.000000,-inf,1.465176,N
151,"['4012', '3430']",4012,3430,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,5.0,5.0,5.0,1.609438,1.609438,1.609438,1.465176,N
150,"['4012', '3437']",4012,3437,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
146,"['4012', '3401']",4012,3401,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
145,"['4012', '3400']",4012,3400,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
144,"['4012', '3399']",4012,3399,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
142,"['4012', '2270']",4012,2270,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,12.0,12.0,12.0,2.484907,2.484907,2.484907,1.465176,N
141,"['4012', '1150']",4012,1150,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,6.0,4.0,6.0,1.791759,1.386294,1.791759,1.465176,N
140,"['4012', '3373']",4012,3373,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
69,"['4012', '2776']",4012,2776,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,0.0,0.000000,0.000000,-inf,1.465176,N
133,"['4012', '1038']",4012,1038,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
127,"['4012', '3269']",4012,3269,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
126,"['4012', '3267']",4012,3267,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,0.0,0.000000,0.000000,-inf,1.465176,N
123,"['4012', '5207']",4012,5207,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,10.0,2.0,8.0,2.302585,0.693147,2.079442,1.465176,N
119,"['4012', '3235']",4012,3235,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,0.0,0.000000,0.000000,-inf,1.465176,N
70,"['4012', '2035']",4012,2035,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,12.0,12.0,12.0,2.484907,2.484907,2.484907,1.465176,N
173,"['4012', '1160']",4012,1160,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,13.0,0.0,13.0,2.564949,-inf,2.564949,1.465176,N
21,"['4012', '2238']",4012,2238,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,0.0,0.000000,0.000000,-inf,1.465176,N
38,"['4012', '5144']",4012,5144,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,6.0,2.0,4.0,1.791759,0.693147,1.386294,1.465176,N
25,"['4012', '2289']",4012,2289,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
24,"['4012', '2287']",4012,2287,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
23,"['4012', '1067']",4012,1067,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,2.0,0.693147,0.693147,0.693147,1.465176,N
56,"['4012', '2699']",4012,2699,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
34,"['4012', '2246']",4012,2246,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,21.0,21.0,21.0,3.044522,3.044522,3.044522,1.465176,N
11,"['4012', '2135']",4012,2135,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,2.0,0.693147,0.693147,0.693147,1.465176,N
52,"['4012', '2649']",4012,2649,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,2.0,0.693147,0.693147,0.693147,1.465176,N
10,"['4012', '2051']",4012,2051,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,5.0,5.0,5.0,1.609438,1.609438,1.609438,1.465176,N
29,"['4012', '2316']",4012,2316,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,2.0,0.693147,0.693147,0.693147,1.465176,N
35,"['4012', '2413']",4012,2413,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,9.0,9.0,9.0,2.197225,2.197225,2.197225,1.465176,N
67,"['4012', '2747']",4012,2747,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,1.0,0.000000,0.000000,0.000000,1.465176,N
45,"['4012', '2605']",4012,2605,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,0.0,0.000000,0.000000,-inf,1.465176,N
3,"['4012', '2069']",4012,2069,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,0.0,0.000000,0.000000,-inf,1.465176,N
62,"['4012', '1136']",4012,1136,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,5.0,0.0,5.0,1.609438,-inf,1.609438,1.465176,N
39,"['4012', '1152']",4012,1152,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,7.0,7.0,7.0,1.945910,1.945910,1.945910,1.465176,N
46,"['4012', '2619']",4012,2619,0.000000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,1.0,1.0,0.0,0.000000,0.000000,-inf,1.465176,N
44,"['4012', '5152']",4012,5152,0.126186,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,3.0,2.0,0.0,1.098612,0.693147,-inf,1.439938,N
48,"['4012', '5013']",4012,5013,0.159369,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,25.0,13.0,0.0,3.218876,2.564949,-inf,1.433302,N
111,"['4012', '5201']",4012,5201,0.193425,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,21.0,19.0,0.0,3.044522,2.944439,-inf,1.426491,N
128,"['4012', '2144']",4012,2144,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,6.0,6.0,1.0,1.791759,1.791759,0.000000,1.425176,N
33,"['4012', '2006']",4012,2006,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,14.0,14.0,0.0,2.639057,2.639057,-inf,1.425176,N
136,"['4012', '2177']",4012,2177,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,13.0,13.0,0.0,2.564949,2.564949,-inf,1.425176,N
120,"['4012', '2027']",4012,2027,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,12.0,12.0,0.0,2.484907,2.484907,-inf,1.425176,N
132,"['4012', '3295']",4012,3295,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,0.0,0.693147,0.693147,-inf,1.425176,N
131,"['4012', '3288']",4012,3288,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,5.0,5.0,0.0,1.609438,1.609438,-inf,1.425176,N
124,"['4012', '3254']",4012,3254,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,9.0,9.0,1.0,2.197225,2.197225,0.000000,1.425176,N
137,"['4012', '3360']",4012,3360,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,0.0,0.693147,0.693147,-inf,1.425176,N
68,"['4012', '2261']",4012,2261,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,10.0,10.0,0.0,2.302585,2.302585,-inf,1.425176,N
27,"['4012', '2298']",4012,2298,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,3.0,3.0,0.0,1.098612,1.098612,-inf,1.425176,N
164,"['4012', '3116']",4012,3116,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,3.0,3.0,0.0,1.098612,1.098612,-inf,1.425176,N
2,"['4012', '2037']",4012,2037,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,5.0,5.0,0.0,1.609438,1.609438,-inf,1.425176,N
170,"['4012', '2050']",4012,2050,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,4.0,4.0,0.0,1.386294,1.386294,-inf,1.425176,N
169,"['4012', '2982']",4012,2982,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,3.0,3.0,0.0,1.098612,1.098612,-inf,1.425176,N
168,"['4012', '2011']",4012,2011,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,9.0,9.0,0.0,2.197225,2.197225,-inf,1.425176,N
167,"['4012', '2469']",4012,2469,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,3.0,3.0,0.0,1.098612,1.098612,-inf,1.425176,N
7,"['4012', '2108']",4012,2108,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,11.0,11.0,0.0,2.397895,2.397895,-inf,1.425176,N
8,"['4012', '2073']",4012,2073,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,11.0,11.0,0.0,2.397895,2.397895,-inf,1.425176,N
163,"['4012', '3438']",4012,3438,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,0.0,0.693147,0.693147,-inf,1.425176,N
147,"['4012', '2178']",4012,2178,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,12.0,12.0,0.0,2.484907,2.484907,-inf,1.425176,N
162,"['4012', '3191']",4012,3191,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,5.0,5.0,0.0,1.609438,1.609438,-inf,1.425176,N
160,"['4012', '2796']",4012,2796,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,1.0,0.693147,0.693147,0.000000,1.425176,N
159,"['4012', '2639']",4012,2639,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,13.0,13.0,0.0,2.564949,2.564949,-inf,1.425176,N
155,"['4012', '2010']",4012,2010,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,62.0,62.0,0.0,4.127134,4.127134,-inf,1.425176,N
12,"['4012', '2147']",4012,2147,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,0.0,0.693147,0.693147,-inf,1.425176,N
149,"['4012', '2117']",4012,2117,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,18.0,18.0,0.0,2.890372,2.890372,-inf,1.425176,N
148,"['4012', '3354']",4012,3354,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,1.0,0.693147,0.693147,0.000000,1.425176,N
40,"['4012', '2442']",4012,2442,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,6.0,6.0,0.0,1.791759,1.791759,-inf,1.425176,N
121,"['4012', '2013']",4012,2013,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,13.0,13.0,1.0,2.564949,2.564949,0.000000,1.425176,N
87,"['4012', '2299']",4012,2299,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,12.0,12.0,0.0,2.484907,2.484907,-inf,1.425176,N
101,"['4012', '3130']",4012,3130,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,0.0,0.693147,0.693147,-inf,1.425176,N
86,"['4012', '2676']",4012,2676,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,6.0,6.0,0.0,1.791759,1.791759,-inf,1.425176,N
57,"['4012', '2377']",4012,2377,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,0.0,0.693147,0.693147,-inf,1.425176,N
90,"['4012', '3020']",4012,3020,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,5.0,5.0,1.0,1.609438,1.609438,0.000000,1.425176,N
116,"['4012', '3174']",4012,3174,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,3.0,3.0,0.0,1.098612,1.098612,-inf,1.425176,N
60,"['4012', '2703']",4012,2703,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,0.0,0.693147,0.693147,-inf,1.425176,N
84,"['4012', '2310']",4012,2310,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,38.0,38.0,0.0,3.637586,3.637586,-inf,1.425176,N
95,"['4012', '3079']",4012,3079,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,4.0,4.0,1.0,1.386294,1.386294,0.000000,1.425176,N
55,"['4012', '2697']",4012,2697,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,1.0,0.693147,0.693147,0.000000,1.425176,N
83,"['4012', '2331']",4012,2331,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,4.0,4.0,0.0,1.386294,1.386294,-inf,1.425176,N
82,"['4012', '5164']",4012,5164,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,7.0,7.0,0.0,1.945910,1.945910,-inf,1.425176,N
99,"['4012', '2809']",4012,2809,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,7.0,7.0,0.0,1.945910,1.945910,-inf,1.425176,N
58,"['4012', '2701']",4012,2701,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,3.0,3.0,0.0,1.098612,1.098612,-inf,1.425176,N
100,"['4012', '5150']",4012,5150,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,8.0,8.0,0.0,2.079442,2.079442,-inf,1.425176,N
80,"['4012', '2817']",4012,2817,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,3.0,3.0,0.0,1.098612,1.098612,-inf,1.425176,N
104,"['4012', '2018']",4012,2018,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,56.0,56.0,0.0,4.025352,4.025352,-inf,1.425176,N
66,"['4012', '2407']",4012,2407,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,6.0,6.0,0.0,1.791759,1.791759,-inf,1.425176,N
71,"['4012', '2163']",4012,2163,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,2.0,2.0,1.0,0.693147,0.693147,0.000000,1.425176,N
73,"['4012', '2806']",4012,2806,0.200000,0.0,0.174122,0.0,0.000000,0.0,1.0,...,-inf,5.459586,3.0,3.0,0.0,1.098612,1.098612,-inf,1.425176,N

In [48]:
connectivity2_df.to_sql(name ='multivariate_segmentation_connectivities', con=engine)

ValueError: Table 'multivariate_segmentation_connectivities' already exists.