In [1]:
pip install conllu==3.1.1

Requirement already satisfied: conllu==3.1.1 in c:\users\sonia\anaconda3\envs\pythondata\lib\site-packages (3.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install conll-df

Requirement already satisfied: conll-df in c:\users\sonia\anaconda3\envs\pythondata\lib\site-packages (0.0.4)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas>=0.19.2 in c:\users\sonia\anaconda3\envs\pythondata\lib\site-packages (from conll-df) (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sonia\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.19.2->conll-df) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\sonia\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.19.2->conll-df) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\sonia\anaconda3\envs\pythondata\lib\site-packages (from pandas>=0.19.2->conll-df) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\sonia\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->conll-df) (1.15.0)

In [31]:
from io import open
from conllu import parse_tree_incr
from conllu import parse_incr
from conllu import parse
from collections import OrderedDict
import pandas as pd
import itertools
import re

In [32]:
file = 'TamilTB.v0.1\data\TamilTB.v0.1.utf8.conll'
data_file = open(file, "r", encoding="utf-8")

In [33]:
#Setting precision of dataframe as 0
pd.set_option('precision', 0)

#Setting Dataframe display to max
pd.set_option('display.max_rows', None)

In [34]:
from io import open
from conllu import parse_incr

data_file = open(file, "r", encoding="utf-8")
# for tokenlist in parse_incr(data_file):
#     print(tokenlist)

In [10]:
# tokenlist[1]

Token([('id', 2),
       ('form', 'ஆண்டில்'),
       ('lemma', 'ஆண்டு'),
       ('upos', 'N'),
       ('xpos', 'NNL-3SN--'),
       ('feats',
        OrderedDict([('Cas', 'L'), ('Per', '3'), ('Num', 'S'), ('Gen', 'N')])),
       ('head', 9),
       ('deprel', 'AAdjn'),
       ('deps', None),
       ('misc', None)])

In [12]:
# for row in tokenlist:
#     print(row['form'])

2022-ம்
ஆண்டில்
gஎர்மனியில்
அணுஉலைக்
கூடங்கள்
ஏ
இல்லாத
நிலை
ஏற்பட
வேண்டும்
என்பது
தான்
அது
.

In [35]:
#Converting conll to a dataframe
columns = ['id', 'form', 'lemma', 'upos', 'xpos', 'feats', 'head', 'Morpheme']
df = pd.DataFrame(columns = columns)
for tokenlist in parse_incr(data_file):
    for word in tokenlist:
        df = df.append({'id': word["id"], 
                        'form' : word["form"],
                        'lemma' : word["lemma"],
                        'upos' : word["upos"],
                        'xpos' : word["xpos"],
                        'feats' : word["feats"],
                        'head' : word["head"]},
                        ignore_index = True
                        )
df.head(10)

,id,form,lemma,upos,xpos,feats,head,Morpheme
0,1,சென்னை,சென்னை,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",2,NaN
1,2,அருகே,அருகே,P,PP-------,None,18,NaN
2,3,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",4,NaN
3,4,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,"{'Cas': 'L', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",18,NaN
4,5,கிரீன்,கிரீன்,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",6,NaN
5,6,பீல்டு,பீல்டு,N,NEN-3SN--,"{'Cas': 'N', 'Per': '3', 'Num': 'S', 'Gen': 'N'}",11,NaN
6,7,(,(,Z,Z:-------,None,6,NaN
7,8,நவீன,நவீனம்,J,JJ-------,None,6,NaN
8,9,),),Z,Z:-------,None,6,NaN
9,10,விமான,விமானம்,N,NO--3SN--,"{'Per': '3', 'Num': 'S', 'Gen': 'N'}",11,NaN

In [38]:
type(df["form"])

pandas.core.series.Series